<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>

    <title>주문관리</title>
</head>

<body id="page-top">
<div layout:fragment="content">
<div class="card">
    <div class="card-header" style="margin: 50px 20px;">
        <h4 class="card-title">주문 관리</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>총판조직</th>
                    <th>
                        <select class="d-inline-block form-select form-select-sm">
                            <option value="10" selected="">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>&nbsp;
                    </th>
                    <th>Column 2</th>
                    <th>Column 2</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>매장</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                    <td>Cell 2</td>
                </tr>
                <tr>
                    <td>구분</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                    <td>Cell 4</td>
                </tr>

                </tbody>

            </table>
            <div style="text-align: center;">
                <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/manager/store/read}'|">조회</button>
                <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/manager/store/register}'|">신규등록</button>
            </div>
        </div>
    </div>
</div>
<div class="card" style="margin: 50px 20px;">
    <td class="card-body">
        <h4 class="card-title">매장 목록</h4>
        <td class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>No</th>
                    <th>구분</th>
                    <th>총판조직명</th>
                    <th>지사명</th>
                    <th>매장명</th>
                    <th>지역</th>
                    <th>대표자명</th>
                    <th>아이디</th>
                    <th>주문현황보기</th>
                    <th>제휴상태</th>
                    <th>임시</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="data:${list}">
                    <td th:text="${data.storeIdx}"></td>

                    <td th:text="${data.storePType}"></td>
<!--                    <td th:if="${data.storePType=='DIRECTSTORE'}">-->
<!--                        직영점-->
<!--                    </td>-->
<!--                    <td th:if="${data.storePType=='FRANCHISEE'}">-->
<!--                        가맹점-->
<!--                    </td>-->

                    <td th:text="${data.distDTO.distName}"></td>
                    <td th:text="${data.branchDTO.branchName}"></td>
                    <td>
                        <a th:text="${data.storeName}" th:href="@{'/manager/store/'+${data.storeIdx}}" >연습</a>
                    </td>
                    <td>(지역)</td>
                    <td th:text="${data.storeChief}"></td>
                    <td th:text="${data.storeCd}"></td>
                    <td><button class="btn btn-primary" type="button" th:onclick="|location.href='@{#}'|">주문보기</button></td>

<!--                    <td th:if="${data.storeStatus == 'ON'}">&ndash;&gt;-->
<!--                        <span class="badge rounded-pill bg-primary">제휴중</span>-->
<!--                    </td>-->
<!--                    <td th:if="${data.storeStatus.equals(OFF)}">-->
<!--                        <span class="badge rounded-pill bg-secondary">미제휴</span>-->
<!--                    </td>-->
                    <td th:text="${data.storeStatus}"></td>

                    <td><a th:href="@{'/manager/store/modify/'+${data.storeIdx}}" >수정</a>
                        /<a th:href="@{'/manager/store/delete/'+${data.storeIdx}}">삭제</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</body>

</html>