<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Admin : 총판정보 수정</title>


</head>
<body>


<div layout:fragment="content">

    <div class="container-fluid mt-3">
        <h2>총판 정보 수정</h2>
        <form th:action="@{/menuoption/modify}" method="post">

            <input type="hidden" name="distIdx" th:value="${menuoptionDTO.getMenuOptionIdx()}">
            <div class="mb-3 mt-3">
                <label>총판명 : </label>
                <input type="text" class="form-control" placeholder="총판명" name="distName">
            </div>
            <div class="mb-3">
                <label>대표이사 이름 : </label>
                <input type="text" class="form-control" placeholder="대표이사 이름" name="distChief">
            </div>
            <div class="mb-3">
                <label>대표이사 연락처 : </label>
                <input type="text" class="form-control" placeholder="대표이사 연락처" name="distTel">
            </div>


            <button type="submit" class="btn btn-primary">수정완료</button>
        </form>
    </div>

</div>

</body>
</html>
