<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Simple Sidebar - Start Bootstrap Template</title>


</head>
<body>

<div layout:fragment="content">

    <h2>총판 정보</h2>
    <table class="table my-0">

        <tr>
            <td>번호</td>
            <td>[[${menuoptionDTO.distIdx}]]</td>
        </tr>
        <tr>
            <td>총판명</td>
            <td>[[${distDTO.distName}]]</td>
        </tr>
        <tr>
            <td>대표이사</td>
        <td>[[${distDTO.distChief}]]</td>
        </tr>
        <tr>
            <td>대표이사 연락처</td>
            <td>[[${distDTO.distTel}]]</td>
        </tr>
        <tr>
            <td>생성일자</td>
        <td th:text="${#temporals.format(distDTO.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <td>마지막수정</td>
        <td th:text="${#temporals.format(distDTO.moddate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>



    </table>



    <a th:href="@{/dist/modify/{distIdx}(distIdx=${distDTO.distIdx})}">
        <button class="btn btn-primary" type="button"> 정보수정 </button>
    </a>
    <a th:href="@{/dist/delete/{distIdx}(distIdx=${distDTO.distIdx})}">
        <button class="btn btn-danger" type="button"> 회원탈퇴 </button>
    </a>


</div>

</body>
</html>
