<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>관리자 목록</title>
</head>

<body id="page-top">

<div layout:fragment="content">

    <div class="container-fluid">
        <h3 class="text-dark mb-4">관리자 명단</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">List</p>
            </div>
            <td class="card-body">
                <div class="row">
                    <div class="col-md-6 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                            <option value="10" selected="">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>&nbsp;</label></div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                    </div>
                </div>
                <td class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>


                        <tr>
                            <th>번호</th>
                            <th>이름</th>
                            <th>아이디</th>
                            <th>직급</th>
                            <th>전화번호</th>
                            <th>등록일자</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="data:${list}">

                            <td th:text="${data.adminIdx}">1</td>
                            <td th:text="${data.adminName}"></td>
                            <td th:text="${data.adminId}"></td>
                            <td th:text="${data.roleType}"></td>
                            <td th:text="${data.adminPhone}"></td>
                            <td th:text="${#temporals.format(data.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>

                            <td><a th:href="@{'/admin/delete/'+${data.adminIdx}}">삭제</a></td>

                        </tr>


                        </tbody>


                    </table>


                        <td><a th:href="@{/admin/register}">신규등록</a></td>
                </div>


                <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/admin/register}'|">등록</button>

        <ul class="mt-3 pagination">
            <li class="page-item"><a class="page-link" th:href="@{/admin/list(page=${prevPage})}"><</a></li>
            <span th:each="page:${#numbers.sequence(startPage,endPage,1)}">
                        <li class="page-item active" th:if="${page == currentPage}">
                            <a class="page-link" href="#">[[${page}]]</a>
                        </li>
                        <li class="page-item" th:unless="${page == currentPage}">
                            <a class="page-link" th:href="@{/admin/list(page=${page})}">[[${page}]]</a>
                        </li>
                    </span>
            <li class="page-item"><a class="page-link" th:href="@{/admin/list(page=${nextPage})}">></a></li>
        </ul>



            </div>
        </div>

</body>

</html>