<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>팀이름</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <!--ajax-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
    <link rel="stylesheet" href="/yhh.css">
    <script th:inline="javascript">
        function pwchange() {
            var baseUrl = /*[[ @{/} ]]*/ '';
            var popupUrl = baseUrl + "admin/admin/manage/pwchange";  // Absolute URL
            var popupOption = "width=500, height=400"; // Popup window size
            // Open the popup window
            window.open(popupUrl, "비밀번호변경", popupOption);

        }
    </script>
</head>
<body>

<!--헤더-->
    <div th:replace="~{fragments/header::header}"></div>


<!--    본문-->
    <div id="wrapper">

<!--        사이드바(nav)-->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                <div class="sidebar-brand-text mx-3"><span>Hotelgers</span></div>
            </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <a>로그인상태 : [[${userName}]]</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-gear-fill"></i>
                          <span>테스트용임시메뉴ㅋ</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/login">운영자 로그인(어드민,총판장,매니저)</a></li>
                            <li><a class="dropdown-item" href="/member/login">회원 로그인 </a></li>
                            <li><a class="dropdown-item" href="/admin/logout">로그아웃 </a></li>
                            <li><a class="dropdown-item" href="/member/memberpage/index">회원페이지로 이동하기</a></li>
                            <li><a class="dropdown-item" href="/admin/list">(test용)어드민 목록/관리</a></li>
                            <li><a class="dropdown-item" href="/admin/distchief/list">(test용)총판장 목록/관리</a></li>
                            <li><a class="dropdown-item" href="/member/list">(test용)회원 목록/관리</a></li>
                            <li><a class="dropdown-item" href="/dist/list">(test용)총판조직 목록/관리</a></li>
                            <li><a class="dropdown-item" href="/admin/distchief/brand/list">(test용)브랜드 목록/관리</a></li>
                            <li><a class="dropdown-item" href="/banner/list">(test용)광고 목록/관리</a></li>
                            <li><a class="dropdown-item" href="/admin/distchief/store/list">(총판장)매장 목록/관리y</a></li>
                            <li><a class="dropdown-item" href="/admin/distchief/order/list">(총판장)주문 목록/관리y</a></li>
                            <li><a class="dropdown-item" href="/admin/distchief/order/orderlist">(총판장)주문 번호별 조회y</a></li>
                            <li><a class="dropdown-item" href="/admin/distchief/store/register">(총판장)매장 등록</a></li>
                            <li><a class="dropdown-item" href="/admin/distchief/store/list">(총판장)매장 목록,검색</a></li>
                            <li><a class="dropdown-item" href="/admin/distchief/manager/register">(총판장)매장주 등록</a></li>
                            <li><a class="dropdown-item" href="/admin/distchief/manager/list">(총판장)매장주 목록,검색</a></li>
                            <li><a class="dropdown-item" href="/admin/manager/order/select">(매니저)매장 매출 분석</a></li>
                            <li><a class="dropdown-item" href="/admin/manager/order/menuorderlist">(매니저)매장 현재 주문 목록</a></li>
                            <li><a class="dropdown-item" href="/admin/manager/room/listboard">(매니저)룸 목록/관리</a></li>
                            <li><a class="dropdown-item" href="/admin/manager/room/1">(매니저)룸(1번) 주문 현황y</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-gear-fill"></i>
                            <span>회원관리</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/member/list">회원목록</a></li>
                            <li><a class="dropdown-item" href="/member/register">회원가입</a></li>
                            <li><a class="dropdown-item" href="/order/jisalist">지사관리</a></li>
                            <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" >
                            <i class="bi bi-gear-fill"></i>
                            <span>매장관리</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/manager/room/listboard">룸목록/관리(매니저)</a></li>
                            <li><a class="dropdown-item" href="/admin/manager/room/1">(매니저)룸(1번) 주문 현황y</a></li>
                            <li><a class="dropdown-item" href="/admin/manager/order/menuorderlist">(매니저)매장 현재 주문 목록</a></li>
<!--                            <li><a class="dropdown-item" href="/manager/test">룸별 회원배정내역(미완)</a></li>-->
<!--                            <li><a class="dropdown-item" href="/manager/test">공통 코드관리(미완)</a></li>-->
<!--                            <li><a class="dropdown-item" href="/manager/test">호텔부대 시설관리(미완)</a></li>-->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" >
                            <i class="bi bi-gear-fill"></i>
                            <span>주문관리</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/admin/manager/order/menuorderlist">주문목록</a></li>
                            <li><a class="dropdown-item" href="/order/ordernumber">주문 번호 조회</a></li>
                            <li><a class="dropdown-item" href="/order/ordersheetnocheck">주문상세 조회</a></li>
                            <li><a class="dropdown-item" href="/order/orderProgress">주문 진행 조회</a></li>
                            <li><a class="dropdown-item" href="/order/ScheduledPayment">결제 예정 내역</a></li>
                            <li><a class="dropdown-item" href="/order/PaymentNumberInquiry">결제 번호 조회</a></li>
                            <li><a class="dropdown-item" href="/order/IdInqury">아이디 조회</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" >
                            <i class="bi bi-gear-fill"></i>
                            <span>정산관리</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/member/list">주문 번호 조회</a></li>
                            <li><a class="dropdown-item" href="/member/register">주문상세 조회</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" >
                            <i class="bi bi-gear-fill"></i>
                            <span>포인트 관리</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/member/list">주문 번호 조회</a></li>
                            <li><a class="dropdown-item" href="/member/register">주문상세 조회</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" >
                            <i class="bi bi-gear-fill"></i>
                            <span>광고/이벤트 관리</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/member/list">주문 번호 조회</a></li>
                            <li><a class="dropdown-item" href="/member/register">주문상세 조회</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown">
                            <i class="bi bi-gear-fill"></i>
                            <span>고객센터</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/member/list">여행취소</a></li>
                            <li><a class="dropdown-item" href="/member/register">여행변경</a></li>
                            <li><a class="dropdown-item" href="/member/register">환불관련 문의</a></li>
                            <li><a class="dropdown-item" href="/member/register">지금 채팅하기</a></li>
                        </ul>
                    <li class="nav-item">
                        <button class="nav-link" onclick="pwchange()">
                            <i class="bi bi-gear-fill"></i><span> 비밀번호변경</span>
                        </button>
                    </li>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/member/list">주문 번호 조회</a></li>
                            <li><a class="dropdown-item" href="/member/register">주문상세 조회</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/member/register}">
                            <i class="bi bi-gear-fill"></i>
                            <span>다국어관리</span>
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" >
                            <i class="bi bi-gear-fill"></i>
                            <span>주문 보고서(회원별)</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/member/list">주문 번호 조회</a></li>
                            <li><a class="dropdown-item" href="/member/register">주문상세 조회</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/member/register}"><i class="far fa-user-circle"></i><span>회원가입</span></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/login}"><i class="fas fa-user-circle"></i><span>로그인</span></a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/logout}"><i class="fas fa-user-circle"></i><span>로그아웃</span></a></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper" style="background-color: #dddfeb">
            <div id="content">

                <div layout:fragment="content" style="background-color: #dddfeb">

                </div><!--본문-->

            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>< hotelgers Team Project ></span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>


<!--푸터-->
    <div th:replace="~{fragments/footer::footer}" style="background-color: #dddfeb">
    </div>


    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>
</html>
