<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>팀이름</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <!--ajax-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
    <link rel="stylesheet" href="/yhh.css">
    <script th:inline="javascript">

        var userid = [[${userName}]]
        console.log("아이디는 : "+userid);
        function pwchange() {
            var baseUrl = /*[[ @{/} ]]*/ '';
            var popupUrl = baseUrl + "admin/admin/manage/pwchange";  // Absolute URL
            var popupOption = "width=500, height=400"; // Popup window size
            // Open the popup window
            window.open(popupUrl, "비밀번호변경", popupOption);

        }
    </script>
</head>
<body>

<!--헤더-->
    <div th:replace="~{fragments/header::header}"></div>


<!--    본문-->
    <div id="wrapper">


<!--        사이드바(nav)-->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/admin/manager/room/listboard">
                <div class="sidebar-brand-icon rotate-n-15"></div>
                <div class="sidebar-brand-text mx-3"><span>Hotelgers</span></div>
            </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">

                    <a sec:authorize="isAnonymous()" class="dropdown-item" href="/admin/login">로그인</a>
                    <a sec:authorize="!isAnonymous()" class="dropdown-item" href="/admin/logout">로그아웃</a>
                    <br>
                    <li><a class="dropdown-item" href="/admin/manager/storeinfo">호텔 정보</a></li>
                    <li><a class="dropdown-item" href="/admin/manager/room/listboard">객실 현황</a></li>
                    <li><a class="dropdown-item" href="/admin/manager/order/menulist">메뉴 관리</a></li>
                    <li><a class="dropdown-item" href="/admin/manager/storesales">매출 현황</a></li>
                    <li><a class="dropdown-item" href="/admin/manager/order/menuorderlist">매장 현재 주문 목록</a></li>
                    <li><a class="dropdown-item" href="/admin/manager/order/menuorderlist">주문 현황</a></li>
                    <li><a class="dropdown-item" href="/member/list">이벤트 관리</a></li>

                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>




        <div class="d-flex flex-column" id="content-wrapper" style="background-color: #dddfeb">
            <div id="content">

                <div layout:fragment="content" style="background-color: #dddfeb">

                </div><!--본문-->

            </div>

<!--            푸터-->
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>< hotelgers Team Project ></span></div>
                </div>
            </footer>

        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>


<!--푸터-->
    <div th:replace="~{fragments/footer::footer}" style="background-color: #dddfeb">
    </div>


    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>
</html>
