<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Register - Brand</title>
</head>

<body class="bg-gradient-primary">
<div layout:fragment="content">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-3 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(/assets/img/dogs/image2.jpeg);"></div>
                    </div>
                    <div class="col-lg-9">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">매장 등록</h4>
                            </div>



                            <form class="user" th:action="@{/distchief/store/register}" method="post" enctype="multipart/form-data">


                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" id="storeName"
                                               placeholder="매장명" name="storeName">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" id="storeCd"
                                               placeholder="매장 코드" name="storeCd">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" id="distDTO.distCd"
                                               placeholder="소속 총판 코드" name="distDTO.distCd">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" id="branchIdx"
                                               placeholder="소속 지사 코드" name="branchDTO.branchCd">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" id="brandIdx"
                                               placeholder="소속 브랜드 번호" name="brandDTO.brandCd">
                                    </div>


                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" id="storeChief"
                                               placeholder="매장 대표" name="storeChief">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" id="storeChiefEmail"
                                               placeholder="대표 이메일" name="storeChiefEmail">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" id="storeChiefTel"
                                               placeholder="대표 연락처" name="storeChief">
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" id="storeTel"
                                               placeholder="매장 연락처" name="storeChiefEmail">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0">

                                        <select class="form-select" name="storePType">
                                            <option value="DIRECTSTORE">직영점</option>
                                            <option value="FRANCHISEE">가맹점</option>
                                        </select><br>
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">

                                        <select class="form-select" name="storeStatus">
                                            <option value="ON">제휴중</option>
                                            <option value="OFF">미제휴</option>
                                        </select><br>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <select class="form-select" name="storeGrade">
                                            <option value="ONE">1성</option>
                                            <option value="TWO">2성</option>
                                            <option value="THREE">3성</option>
                                            <option value="FOUR">4성</option>
                                            <option value="FIVE">5성</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="input-group-text" for="file">파일 업로드</label>
                                        <input type="file" class="form-control" id="file" name="file">
                                    </div>
                                </div>



                                <button class="btn btn-primary d-block btn-user w-100" type="submit">등록</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>