<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <title>광고 상세 페이지</title>
    <link rel="stylesheet" href="/yhh.css">
</head>

<body>
<div layout:fragment="content">


    <h4 class="card-title">광고 관리</h4>
    <div class="card" style="margin: 50px 20px;">
        <div class="card-body">
            <div class="banner-info">
                <div>
                    <span class="info-label"></span>
                    <h2><span th:text="${bannerDTO.bannerTitle}"></span></h2>
                </div>
            </div>


            <div class="banner-images">
                <div>
                    <span class="info-label"></span>
                </div>
                <div class="image-container" th:each="image : ${images}">
                    <div>
                    <img class="banner-image" th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}%5c${image.imgName}|" width="300" height="300">
                    </div>
                    <div>
                    <button class="btn red-button" type="button" th:onclick="|location.href='@{'/deleteimg/'+${image.imageIdx}}'|">제거</button>
                    </div>
                </div>
            </div><br><br>

            <form method="post" th:action="@{/banner/modify}" enctype="multipart/form-data">

                <input type="hidden" name="bannerIdx" th:value="${bannerDTO.bannerIdx}" />

                <input type="file" class="form-control" id="imgFile" name="imgFile" multiple required>
                <div id="preview"></div>
                <div style="text-align: center;">
                    <button type="submit" class="btn button">이미지 추가</button>
                </div>
            </form>

            <br><br>
            <div class="banner-buttons">
                <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/admin/admin/banner/list}'|">목록</button>
                <button class="btn btn-danger" type="button" th:onclick="|location.href='@{'/admin/admin/banner/delete/'+${bannerDTO.bannerIdx}}'|">삭제</button>
            </div>


            </div>
        </div>


    <script>
        const input = document.getElementById('imgFile');
        const preview = document.getElementById('preview');

        input.addEventListener('change', function() {
            preview.innerHTML = ''; // 이미지 미리보기 초기화

            const files = this.files;
            for (const file of files) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '200px'; // 이미지 최대 너비 설정
                    img.style.marginRight = '10px'; // 이미지 간격 설정
                    preview.appendChild(img);
                }

                reader.readAsDataURL(file);
            }
        });
    </script>


    </div>
</body>

</html>