<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">>

<head>

    <title>매장회원 관리 등록</title>

</head>

<body class="bg-gradient-primary">
<div layout:fragment="content">
    <div class="container">
        <h3 class="text-dark mb-4">매장 회원관리</h3>
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="container mt-4">
                        <h5 class="text-dark mb-4">매장 회원등록</h5>
                        <div class="table-responsive table mt-12" id="dataTable" role="grid"
                             aria-describedby="dataTable_info">
                            <table class="table my-0 table table-bordered">
                                <tbody>
                                <tr>
                                    <td>아이디</td>
                                    <td><input type="text" placeholder="이메일"></td>
                                    <td>이름</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>비밀번호</td>
                                    <td><input type="text" placeholder="비밀번호는 6~12의 영문,숫자,기호"></td>
                                    <td>비밀번호 확인</td>
                                    <td><input type="text" placeholder="비밀번호는 6~12의 영문,숫자,기호"></td>
                                </tr>
                                <tr>
                                    <td class="col-2">메장유저권한</td>
                                    <td class="col-3"><select class="form-select" aria-label="Default select example">
                                        <option selected>선택</option>
                                        <option value="1">매니저</option>
                                        <option value="2">총책임자</option>
                                    </select></td>
                                    <td class="col-3">총판조직</td>
                                    <td class="col-4">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>신라호텔</option>
                                            <option value="1">ggg럭셔리</option>
                                            <option value="2">롯데호텔</option>
                                            <option value="3">모텔</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-2">지사</td>
                                    <td class="col-3"><select class="form-select" aria-label="Default select example">
                                        <option selected>선택</option>
                                        <option value="1">ggg럭셔리</option>
                                        <option value="2">롯데호텔</option>
                                        <option value="3">모텔</option>
                                    </select></td>
                                    <td class="col-3">매장</td>
                                    <td class="col-4"><select class="form-select" aria-label="Default select example">
                                        <option selected>전체</option>
                                        <option value="1">ggg럭셔리</option>
                                        <option value="2">롯데호텔</option>
                                        <option value="3">모텔</option>
                                    </select></td>
                                </tr>
                                <tr>
                                    <td>연락처</td>
                                    <td colspan="3"><input type="text"></td>
                                </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary" style="width:80px;float: right;" type="button" th:onclick="|location.href='@{/storemember/list}'|">취소
                            </button>
                            <button class="btn btn-primary" style="width:80px;float: right;" type="button" th:onclick="|location.href='@{/storemember/list}'|">등록
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>