<!-----------------------------------
프로그램명 : 매장별 회원관리 입력폼
작성일 : 2024-04-09
작성자 : 조영규
기  능 : 매장별 회원을 등록
작업내역 : 1. 입력폼(24-04-09)
         2. 입력테스트(24-04-10)
         3. 작업완료
----------------------------------->
<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Register - Brand</title>
</head>

<body>
<div layout:fragment="content">
<h3 class="text-dark mb-4">매장 회원관리</h3>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-1">
                <!---->
            </div>
            <div class="col-lg-10">
                <h5 class="text-dark mb-4">매장 회원등록</h5>
                <form th:action="@{/register}" method="get">
                    <div class="row">
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">ID</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="text" placeholder="이메일">
                        </div>
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">이름</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">비밀번호</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="text" placeholder="비밀번호는 6~12의 영문,숫자,기호">
                        </div>
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">비밀번호 확인</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="text" placeholder="비밀번호는 6~12의 영문,숫자,기호">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 border">매장유저권한</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="RoleType">
                                <option value="" th:selected="${memberDTO.memberJoinType==''}">전체</option>
                                <option th:each="aut:${memberJoinType}" th:value="${aut}" th:text="${aut}"
                                        th:selected="${#strings.equals(memberDTO.memberJoinType,aut)}"></option>
                            </select>
                        </div>
                        <div class="col-sm-2 border">총판조직</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="storeDistName">
                                <option value="" th:selected="${memberDTO.memberJoinType==''}">전체</option>
                                <option th:each="aut:${memberJoinType}" th:value="${aut}" th:text="${aut}"
                                        th:selected="${#strings.equals(memberDTO.memberJoinType,aut)}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 border">지사</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="storeBranchName">
                                <option value="" th:selected="${adminDTO.memberJoinType==''}">전체</option>
                                <option th:each="aut:${memberJoinType}" th:value="${aut}" th:text="${aut}"
                                        th:selected="${#strings.equals(adminDTO.roleType,aut)}"></option>
                            </select>
                        </div>
                        <div class="col-sm-2 border">총판조직</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="storeName">
                                <option value="" th:selected="${adminDTO.roleType==''}">전체</option>
                                <option th:each="aut:${storeDistName}" th:value="${aut}" th:text="${aut}"
                                        th:selected="${#strings.equals(adminDTO.roleType,aut)}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 border">연락처</div>
                        <div class="col-sm-4 border">
                            <input type="text">
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary">조회</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>