<!-----------------------------------
프로그램명 : 매장별 회원관리 입력폼
작성일 : 2024-04-09
작성자 : 조영규
기  능 : 매장별 회원을 등록
작업내역 : 1. 입력폼(24-04-09)
         2. 입력테스트(24-04-10)
         3. 작업완료
----------------------------------->
<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Register - Brand</title>
</head>

<body id="page-top">
<div layout:fragment="content">
<h3 class="text-dark mb-4">매장 회원관리</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
                <!---->
            </div>
            <div class="col-lg-10">
                <h5 class="text-dark mb-4">매장 회원수정</h5>
                <form th:action="@{/storemember/update}" method="post" th:object="${storeMemberDTO}">
                    <input type="text" name="storeMemberIdx" th:field="*{storeMemberIdx}" readonly>
                    <div class="row">
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">이메일</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="text" placeholder="이메일" name="storeMemberEmail" th:field="*{storeMemberEmail}">
                        </div>
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">이름</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="text" name="storeMemberName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">비밀번호</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="text" placeholder="비밀번호는 6~12의 영문,숫자,기호" name="storeMemberPwd" th:field="*{storeMemberPwd}">
                        </div>
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">비밀번호 확인</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="text" placeholder="비밀번호는 6~12의 영문,숫자,기호" name="storeMemberPwd1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 border">매장유저권한</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="storeMemberAuth" th:field="*{storeMemberAuth}">
                                <option value="1호텔">1호텔</option>
                                <option value="2호텔">2호텔</option>
                            </select>
                        </div>
                        <div class="col-sm-2 border">총판조직</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="storeDistributorIdx" th:field="*{storeDistributorIdx}">
                                <option value="1">1호텔</option>
                                <option value="2">2호텔</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 border">지사</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="storeBranchIdx" th:field="*{storeBranchIdx}">
                                <option value="1">서울</option>
                                <option value="2">인천</option>
                                <option value="3">부산</option>
                                <option value="4">대전</option>
                                <option value="5">대구</option>
                                <option value="6">광주</option>
                                <option value="7">울산</option>
                                <option value="8">경기도</option>
                                <option value="9">강원도</option>
                                <option value="10">충청도</option>
                                <option value="11">전라도</option>
                                <option value="12">경상도</option>
                                <option value="13">제주도</option>
                            </select>
                        </div>
                        <div class="col-sm-2 border">매장</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="storeIdx" th:field="*{storeIdx}">
                                <option value="1">1매장</option>
                                <option value="2">2매장</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 border">연락처</div>
                        <div class="col-sm-4 border">
                            <input type="text" name="storeMemberTel" th:field="*{storeMemberTel}">
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary">수정</button>
                        <button type="submit" class="btn btn-primary">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>