<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/manager}">
<head>
    <title>룸 관리</title>
    <link rel="stylesheet" href="/yhh.css">

    <style>
        .row {
            display: flex;
            margin-bottom: 10px; /* 행 사이 간격 조정 */
            padding-left: 20px; /* 행의 왼쪽 간격 조정 */
        }
        .card {
            margin: 5px; /* 카드 사이 간격 조정 */
            padding: 10px;
            border: 1px solid #ccc;
        }

        #main-container {
            display: flex;
            width: 100%;
            height: 50%; /* 전체 높이로 확장하려면 */
        }

        #left-content {
            flex: 0 0 82%; /* 유연한 크기: 고정된 비율로 80% */
            background-color: #f0f0f0; /* 배경 색상, 필요에 따라 변경 */
            padding: 20px; /* 안쪽 여백 */
        }

        #right-content {
            flex: 0 0 18%; /* 유연한 크기: 고정된 비율로 20% */
            background-color: #d0d0d0; /* 배경 색상, 필요에 따라 변경 */
            padding: 20px; /* 안쪽 여백 */
        }

        .card.room-card.drag-over {
            border: 2px solid blue; /* 파란색 경계선 */
        }

        .asdasd {
            display: none;
        }


        .card-header{
            padding: 10px;
            background-color: #f8f9fa;
            transition: background-color 0.5s ease;
        }

        .card-header:hover {
            background-color: #cad5f5;
        }
    </style>

</head>

<body>
<div layout:fragment="content">

    <h4 class="card-title">[[${storeDTO.storeName}]]</h4>


    <div id="main-container">
        <div id="left-content"></div>
        <button onclick="addRow()" class="btn btn-primary">줄 추가</button>


        <div id="right-content">

            <th:block th:each="roomTypeList, iterStat :${roomTypeList}">

                <div class="card" style="margin-right: 40px">
                    <div class="card-header" th:id="'roomTypeHeader'+${iterStat.index}">
                        <span th:id="'roomTypeSpanId' + ${iterStat.index}" th:text="${roomTypeList.roomType}" th:value="${roomTypeList.roomType}"></span>/<span th:id="'roomPriceSpanId' + ${iterStat.index}" th:text="${roomTypeList.roomPrice}"></span>
                        <input type="text" th:value="${roomTypeList.roomPrice}" class="asdasd" th:id="'roomPriceId' + ${iterStat.index}">
                        <input type="text" th:value="${roomTypeList.roomType}" class="asdasd" th:id="'roomTypeId' + ${iterStat.index}">
                        <input type="button" value="수정" class="asdasd" th:id="'roomTypeUpdateButton' + ${iterStat.index}">
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary" type="button" th:onclick="|location.href='@{'/admin/manager/room/typemodify/'+${roomTypeList.roomType}}'|">객실 사진 변경</button>
                    </div>
                </div>
            </th:block>

        </div>


    </div>


    <div class="card">
        <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
            예약 현황
        </div>

    <div class="card-body card-array">

        <th:block th:each="orderList:${roomOrderDTOS}">


            <th:block th:if="${#temporals.format(orderList.reservationDateCheckinDate, 'yyyy-MM-dd') == #temporals.format(T(java.time.LocalDate).now(), 'yyyy-MM-dd')}">
                <div class="card card-order" draggable="true" ondragstart="drag(event)" th:data-room-order-idx="${orderList.roomorderIdx}">
                    <div class="card-header" style="background-color: #F7F2E0"><b>[Today]</b> [[${orderList.roomOrderType}]] - [[${orderList.roomName}]]
                    </div>
                    <div class="card-body card-padder">
                        우선순위 - [[${orderList.roomorderIdx}]] <br>
                        이름 : [[${orderList.memberName}]] <br>
                        체크인 :  [[${#temporals.format(orderList.reservationDateCheckinDate, 'yyyy-MM-dd')}]]<br>
                        체크아웃 : [[${#temporals.format(orderList.reservationDateCheckoutDate, 'yyyy-MM-dd')}]] <br>
                        인원 : [[${orderList.peopleNum}]] <br>
                        예약일 : [[${#temporals.format(orderList.regdate, 'yyyy-MM-dd')}]]
                    </div>
                </div>
            </th:block>

            <th:block th:if="${#temporals.format(orderList.reservationDateCheckinDate, 'yyyy-MM-dd') != #temporals.format(T(java.time.LocalDate).now(), 'yyyy-MM-dd')}">
                <div class="card card-order" draggable="true" ondragstart="drag(event)" th:data-room-order-idx="${orderList.roomorderIdx}">
                    <div class="card-header">[[${orderList.roomOrderType}]] / [[${orderList.roomName}]]</div>
                    <div class="card-body card-padder">
                        우선순위 - [[${orderList.roomorderIdx}]] <br>
                        이름 : [[${orderList.memberName}]] <br>
                        체크인 :  [[${#temporals.format(orderList.reservationDateCheckinDate, 'yyyy-MM-dd')}]]<br>
                        체크아웃 : [[${#temporals.format(orderList.reservationDateCheckoutDate, 'yyyy-MM-dd')}]] <br>
                        인원 : [[${orderList.peopleNum}]] <br>
                        예약일 : [[${#temporals.format(orderList.regdate, 'yyyy-MM-dd')}]]
                    </div>
                </div>
            </th:block>



        </th:block>

    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/hotel.js"></script>
    <script th:inline="javascript">



        $(document).ready(function() {



            $("[id^=roomTypeHeader]").on('click', function() {
                var index = $(this).attr('id').replace('roomTypeHeader', '');
                console.log("눌렸음");

                $("#roomPriceId" + index).css('display', 'block');
                $("#roomPriceSpanId" + index).css('display', 'none');
                // $("#roomTypeSpanId" + index).css('display', 'none');
                $("#roomTypeUpdateButton" + index).css('display', 'block');
            });
        });

        $("[id^=roomTypeUpdateButton]").on('click', function() {
            var index = $(this).attr('id').replace('roomTypeUpdateButton', '');
            var roomPrice = $("#roomPriceId" + index).val();
            var roomType = $("#roomTypeId" + index).val();

            console.log("가격: " + roomPrice);
            console.log("타입: " + roomType);

            hotel.updateRoomPrice(roomPrice, roomType);
        });









        //모델에 담아온 값들을 스크립트에서 사용하기 위해 변수로 선언해준다.
        var roomIdx;
        var roomList = [[${list}]];
        var storeIdx = [[${storeDTO.storeIdx}]];
        var roomCount = [[${storeDTO.roomCount}]];



        //카드 생성 함수. 페이지가 로드될 때 호출된다.
        //첫번째 파라미터는 현재 매장의 roomCount 속성의 값이며, 두번째는 12로 고정하고 호출한다.
        function createCards(totalCards, cardsPerRow) {


            //생성 할 카드를 뿌려줄 구역을 변수로 선언한다.
            const mainContainer = document.getElementById('left-content');


            let row;

            //총 카드 숫자만큼 반복을 하면서 카드의 속성을 설정해준다.
            for (let i = 1; i <= totalCards; i++) {


                //12번 반복할 때마다 새로운 줄(row)을 구역에 추가한다.
                if ((i - 1) % cardsPerRow === 0) {
                    row = document.createElement('div');
                    row.className = 'row';
                    mainContainer.appendChild(row);
                }

                //반복숫자만큼 카드를 추가한다.
                //생성되는 카드들의 id는 모두 다르게 주고, 빈 방 클래스네임을 지정해준다.
                const card = document.createElement('div');
                card.id = `roomCard${i}`;
                card.className = 'card room-empty';
                row.appendChild(card);

                //카드를 클릭했을 때 handleCardClick 함수가 호출되게 한다.
                card.addEventListener('click', handleCardClick);


            }
        }


        //실행되었을 때 roomRegister 함수 호출
        function handleCardClick() {
            roomRegister(this);
        }

        //객실 신규 등록 메소드
        function roomRegister(element) {


            //버튼이 속한 카드의 ID를 변수에 넣음 (카드의 id는 위에서 동적으로 생성되었음. roomCard(i))
            var cardId = element.id;
            console.log('객실 등록 버튼을 누른 카드의 ID:', cardId);

            //객실 추가 팝업창 생성
            var popupUrl = "/window/roomregister?id=" + cardId;
            var popupOption = "width=1500, height=650";
            window.open(popupUrl, "객실 추가", popupOption);

            if (window.close()){
                location.reload();
            }
        }



        //위 함수를 호출한다.인자값으로 roomCount 값과 12(한 줄에 표시 될 카드 숫자)를 보내준다.
        createCards(roomCount, 10);


        //roomList = 현재 매니저가 소유한 객실의 목록 -> 만큼 반복하면서 비어있는 카드들을 채운다.
        for (let i = 0; i < roomList.length; i++) {

            //card 변수에 현재 roomList 객체의 roomCd(roomCard+)
            var card = document.getElementById(roomList[i].roomCd);

            if(card) {

                //기존 빈 룸 카드에 있던 클릭이벤트를 삭제한다.
                card.removeEventListener('click', handleCardClick);

                //클래스네임을 재설정하고
                card.className = 'card room-card';


                //카드 클릭시 해당 이벤트로 이동하는 클릭이벤트를 추가한다.
                card.addEventListener('click', function() {

                    var roomIdxresult;

                    console.log("룸cd : "+roomList[i].roomCd);
                    console.log("idx : "+storeIdx);

                    hotel.roomIdxFind(roomList[i].roomCd, storeIdx, function(roomIdxresult) {
                        console.log("rrridx : " + roomIdxresult);

                        // 구한 roomIdx로 링크를 만든다.
                        var link = "/admin/manager/room/" + roomIdxresult;
                        console.log("링크 :", link);
                        window.location.href = link;
                    });
                });

                var roomStatus = [];
                switch (roomList[i].roomStatus) {
                    case 0:
                        roomStatus[i] = "[빈 방]";
                        break;
                    case 1:
                        roomStatus[i] = "[예약됨]";
                        card.style.backgroundColor = "#CEF6F5";
                        break;
                    case 2:
                        roomStatus[i] = "[사용중]";
                        card.style.backgroundColor = "#F8ECE0";
                        break;
                    case 3:
                        roomStatus[i] = "[빈 방]";
                        break;
                }



                var roomNameSpan = document.createElement("span");
                var roomTypeSpan = document.createElement("span");
                roomNameSpan.textContent = roomList[i].roomName;
                roomNameSpan.style.fontSize = "18px";
                roomTypeSpan.textContent = roomList[i].roomType;
                roomTypeSpan.style.fontSize = "14px";
                card.appendChild(roomNameSpan);
                card.appendChild(roomTypeSpan);
                card.appendChild(document.createTextNode(roomStatus[i]));
            }


        }




        var target = null;
        var roomOrderIdx = null;

        // 드래그를 시작할 때 호출되는 함수
        function drag(event) {
            target = event.target;
            roomOrderIdx = target.getAttribute('data-room-order-idx');
            event.dataTransfer.setData("text/plain", roomOrderIdx);

        }


        //객실이 채워져있는 카드에 드래그관련 이벤트들을 추가해준다.
        document.querySelectorAll('.card.room-card').forEach(function(card) {

            //마우스를 드래그오버 했을 때
            card.addEventListener('dragover', function(event) {
                event.preventDefault(); // 기본 동작 방지
                console.log("드래그 오버 이벤트 발생");
                card.classList.add('drag-over');
            });

            //드래그오버 끝내기
            card.addEventListener('dragleave', function(event) {
                card.classList.remove('drag-over'); // 드래그 오버 중인 클래스 제거
            });

            //드롭했을 떄
            card.addEventListener('drop', function(event) {
                event.preventDefault();
                console.log("드롭 이벤트 발생");

                var dropZone = event.target.closest('.card.room-card');
                if (dropZone) {

                    var roomCd = dropZone.id;
                    var storeIdx = [[${storeDTO.storeIdx}]];

                    console.log("드롭당한 카드아이디", roomCd);
                    console.log("가져와진 룸오더idx : "+ roomOrderIdx);
                    console.log("보유한 스토어idx : "+ storeIdx);

                    //여기서 입실 쿼리문 실행하자.

                    hotel.updateRoomCheckin(roomCd,roomOrderIdx,storeIdx);


                }

                card.classList.remove('drag-over'); // 드롭 이벤트 후 클래스 제거
            });
        });

        function addRow() {

            console.log("에드로우 스토어아"+storeIdx);
            hotel.roomCountAdd(storeIdx);

            location.reload();
        }


    </script>

</div>
</body>
</html>