<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>룸 관리</title>
    <link rel="stylesheet" href="/yhh.css">

    <style>
        .row {
            display: flex;
            margin-bottom: 10px; /* 행 사이 간격 조정 */
            padding-left: 20px; /* 행의 왼쪽 간격 조정 */
        }
        .card {
            margin: 5px; /* 카드 사이 간격 조정 */
            padding: 10px;
            border: 1px solid #ccc;
        }

        #main-container {
            display: flex;
            width: 100%;
            height: 50%; /* 전체 높이로 확장하려면 */
        }

        #left-content {
            flex: 0 0 82%; /* 유연한 크기: 고정된 비율로 80% */
            background-color: #f0f0f0; /* 배경 색상, 필요에 따라 변경 */
            padding: 20px; /* 안쪽 여백 */
        }

        #right-content {
            flex: 0 0 18%; /* 유연한 크기: 고정된 비율로 20% */
            background-color: #d0d0d0; /* 배경 색상, 필요에 따라 변경 */
            padding: 20px; /* 안쪽 여백 */
        }

        .card.room-card.drag-over {
            border: 2px solid blue; /* 파란색 경계선 */
        }
    </style>

</head>

<body>
<div layout:fragment="content">

    <h4 class="card-title">[[${storeDTO.storeName}]]</h4>


    <div id="main-container">
        <div id="left-content"></div>


        <div id="right-content">

            <th:block th:each="roomTypeList:${roomTypeList}">

                <div class="card">
                    <div class="card-header">[[${roomTypeList.roomType}]] / [[${roomTypeList.roomPrice}]]</div>
                    <div class="card-body">

                    </div>
                </div>
            </th:block>

        </div>


    </div>


    <div class="card">
        <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
            예약 현황
        </div>

    <div class="card-body card-array">

        <th:block th:each="orderList:${roomOrderDTOS}">

            <div class="card card-order" draggable="true" ondragstart="drag(event)"
                 th:data-room-order-idx="${orderList.roomorderIdx}">
                <div class="card-header">[[${orderList.roomOrderType}]]</div>
                <div class="card-body card-padder">
                    우선순위 - [[${orderList.roomorderIdx}]] <br>
                    이름 : [[${orderList.memberName}]] <br>
                    날짜 :  [[${orderList.reservationDateCheckin}]] ~  [[${orderList.reservationDateCheckout}]] <br>
                    인원 : [[${orderList.peopleNum}]] <br>
                    예약일 : [[${#temporals.format(orderList.regdate, 'yyyy-MM-dd')}]]
                </div>
            </div>

        </th:block>

    </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/hotel.js"></script>
    <script th:inline="javascript">

        function roomRegister(element) {


            //버튼이 속한 카드의 ID를 변수에 넣음
            var cardId = element.id;
            console.log('객실 등록 버튼을 누른 카드의 ID:', cardId);

            //객실 추가 팝업창 생성
            var popupUrl = "/window/roomregister?id=" + cardId;
            var popupOption = "width=1500, height=500";
            window.open(popupUrl, "객실 추가", popupOption);
        }


        function handleCardClick() {
            roomRegister(this);
        }



        var roomList = [[${list}]];
        console.log(roomList[0]);


        function createCards(totalCards, cardsPerRow) {

            const mainContainer = document.getElementById('left-content');

            let row;
            for (let i = 1; i <= totalCards; i++) {
                if ((i - 1) % cardsPerRow === 0) {
                    row = document.createElement('div');
                    row.className = 'row';
                    mainContainer.appendChild(row);
                }

                const card = document.createElement('div');
                card.id = `roomCard${i}`;
                card.className = 'card room-empty';
                row.appendChild(card);

                card.addEventListener('click', handleCardClick);


            }
        }

        createCards(60, 12);

        for (let i = 0; i < roomList.length; i++) {

            console.log(roomList[i]);

            var card = document.getElementById(roomList[i].roomCd);
            console.log(card);

            if(card) {

                card.removeEventListener('click', handleCardClick);
                card.className = 'card room-card';

                card.addEventListener('click',roomCardClick);

                var roomStatus = [];
                switch (roomList[i].roomStatus) {
                    case 0:
                        roomStatus[i] = "[빈 방]";
                        break;
                    case 1:
                        roomStatus[i] = "[예약됨]";
                        card.style.backgroundColor = "#CEF6F5";
                        break;
                    case 2:
                        roomStatus[i] = "[사용중]";
                        card.style.backgroundColor = "#F8ECE0";
                        break;
                    case 3:
                        roomStatus[i] = "[빈 방]";
                        break;
                }



                var roomNameSpan = document.createElement("span");
                var roomTypeSpan = document.createElement("span");
                roomNameSpan.textContent = roomList[i].roomName;
                roomNameSpan.style.fontSize = "18px";
                roomTypeSpan.textContent = roomList[i].roomType;
                roomTypeSpan.style.fontSize = "14px";
                card.appendChild(roomNameSpan);
                card.appendChild(roomTypeSpan);
                card.appendChild(document.createTextNode(roomStatus[i]));
            }


        }


        var target = null;
        var roomOrderIdx = null;



        // 드래그를 시작할 때 호출되는 함수
        function drag(event) {
            target = event.target;
            roomOrderIdx = target.getAttribute('data-room-order-idx');
            event.dataTransfer.setData("text/plain", roomOrderIdx);

        }


        //객실이 채워져있는 카드에 드래그관련 이벤트들을 추가해준다.
        document.querySelectorAll('.card.room-card').forEach(function(card) {

            //마우스를 드래그오버 했을 때
            card.addEventListener('dragover', function(event) {
                event.preventDefault(); // 기본 동작 방지
                console.log("드래그 오버 이벤트 발생");
                card.classList.add('drag-over');
            });

            //드래그오버 끝내기
            card.addEventListener('dragleave', function(event) {
                card.classList.remove('drag-over'); // 드래그 오버 중인 클래스 제거
            });

            //드롭했을 떄
            card.addEventListener('drop', function(event) {
                event.preventDefault();
                console.log("드롭 이벤트 발생");

                var dropZone = event.target.closest('.card.room-card');
                if (dropZone) {

                    var roomCd = dropZone.id;
                    var storeIdx = [[${storeDTO.storeIdx}]];

                    console.log("드롭당한 카드아이디", roomCd);
                    console.log("가져와진 룸오더idx : "+ roomOrderIdx);
                    console.log("보유한 스토어idx : "+ storeIdx);

                    //여기서 입실 쿼리문 실행하자.

                    hotel.updateRoomCheckin(roomCd,roomOrderIdx,storeIdx);


                }

                card.classList.remove('drag-over'); // 드롭 이벤트 후 클래스 제거
            });
        });

    </script>

</div>
</body>
</html>