<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>룸 관리</title>
    <link rel="stylesheet" href="/yhh.css">
</head>

<body>
<div layout:fragment="content">
    <h4 class="card-title">[[${storeDTO.storeName}]] 관리</h4>
    <div class="card">
        <div class="card-body">
            <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                객실 목록
            </div>


                <div th:each="data: ${list}">
                    <div class="row">

                        <div class="col-custom-12" th:each="index : ${#numbers.sequence(1,12)}">


                            <div th:unless="${data.roomCd.contains('roomCard' + index)}" class="card room-empty" th:id="'roomCard' + ${index}" th:attr="data-index=${index}" onclick="roomRegister(this)">
                            </div>

                            <div th:if="${data.roomCd.contains('roomCard' + index)}" class="card room-card" th:id="'roomCard' + ${index}">
                                <span class="room-text" th:text="${data.roomName}"></span>
                                <th:block th:switch="${data.roomType.name()}">
                                    <span class="room-text2" th:case="NORMAL">일반실</span>
                                    <span class="room-text2" th:case="SPECIAL">특실</span>
                                    <span class="room-text2" th:case="PARTYROOM">파티룸</span>
                                </th:block>
                            </div>


                        </div>

                    </div>
                </div>
    </div>
</div>


    <script th:inline="javascript">



        function roomRegister(element) {


            //버튼이 속한 카드의 ID를 변수에 넣음
            var cardId = element.id;
            console.log('객실 등록 버튼을 누른 카드의 ID:', cardId);

            //객실 추가 팝업창 생성
            var popupUrl = "/window/roomregister?id=" + cardId;
            var popupOption = "width=1500, height=500";
            window.open(popupUrl, "객실 추가", popupOption);
        }



    </script>


    <script th:inline="javascript">
        var processMessage = null;
        if (processMessage) {
            alert(processMessage);
        }
    </script>



</div>
</body>
</html>