<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/manager}">
<head>
    <title>룸 주문목록</title>
    <link rel="stylesheet" href="/yhh.css">



    <style>
        /* 상단 섹션 */
        #top-section {
            width: 100%;
            height: 65vh; /* 화면 높이의 70% */
            display: flex;
            justify-content: space-between;
        }

        /* 상단 섹션 내부의 두 개의 섹션 */
        .sub-section {
            width: 50%; /* 상단 섹션의 너비의 절반 */
            height: 100%;
            border: 1px solid #ccc;
        }

        /* 하단 섹션 */
        #bottom-section {
            width: 100%;
            height: 35vh;
            border: 1px solid #ccc;
        }
    </style>



</head>

<body>
<div layout:fragment="content">

    <!-- 상단 섹션 -->
    <section id="top-section">
        <!-- 첫 번째 섹션 -->
        <div class="sub-section">
            <div class="card">
                <div class="card-body">
                    <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                        [ [[${roomDTO.roomName}]] ]
                    </div>
                    <div class="table-responsive">
                        <table class="table body">
                            <thead>
                            <tr>
                                <th>현 고객</th>
                                <th>전화번호</th>
                                <th>입실 인원</th>
                                <th>입실 시간</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${memberDTO != null}">
                                <td th:text="${memberDTO.memberName}"></td>
                                <td th:text="${memberDTO.memberPhone}"></td>
                                <td th:text="${roomOrderDTO.peopleNum}"></td>
                                <td th:text="${roomOrderDTO.checkinTime}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-6">
                </div>
            </div>
            <!-- 내용 -->
        </div>
        <!-- 두 번째 섹션 -->
        <div class="sub-section">
            <div class="card">
                <div class="card-body">
                    <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                        주문 내역
                    </div>
                    <div class="table-responsive">
                        <table class="table body">
                            <thead>
                            <tr>
                                <th>주문번호</th>
                                <th>메뉴</th>
                                <th>주문</th>
                                <th>주문일시</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="data:${menuOrderDTOS}">


                                <tr th:each="menus : ${data.menuSheetDTOList}">
                                    <td th:text="${menus.menuorderIdx}"></td>
                                    <td th:text="${menus.menuorderName}"></td>
                                    <th:block th:switch="${data.orderState}">
                                        <td th:case=0>접수중</td>
                                        <td th:case=1>조리중</td>
                                        <td th:case=2>배달완료</td>
                                    </th:block>
                                    <td th:text="${#temporals.format(menus.regdate, 'MM-dd / HH:mm')}"></td>
                                </tr>

                            </th:block>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-6">
                </div>
            </div>
            <!-- 내용 -->
        </div>
    </section>

    <!-- 하단 섹션 -->
    <section id="bottom-section">
        <div class="card">
            <div class="card-body">
                <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                    객실 예약 현황
                </div>
                <div class="table-responsive">
                    <table class="table body">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>구분</th>
                            <th>예약일</th>
                            <th>이름</th>
                            <th>전화번호</th>
                            <th>체크인</th>
                            <th>체크아웃</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data:${roomOrderList}">
                            <td th:text="${data.roomorderIdx}"></td>
                            <td>
                                <th:block th:switch="${data.roomStatus}">
                                    <span th:case=4>종료</span>
                                    <span th:case=1>예약됨</span>
                                </th:block>
                            </td>
                            <td th:text="${#temporals.format(data.regdate, 'MM-dd / HH:mm')}"></td>
                            <td th:text="${data.memberName}"></td>
                            <td th:text="${data.memberPhone}"></td>

                            <th:block th:if="${data.roomStatus}==1">

                                <td th:text="${#temporals.format(data.reservationDateCheckinDate, 'MM-dd')}"></td>
                                <td th:text="${#temporals.format(data.reservationDateCheckoutDate, 'MM-dd')}"></td>

                            </th:block>

                            <th:block th:if="${data.roomStatus}==4">
                                <td th:text="${data.checkinTime}"></td>
                                <td th:text="${data.checkoutTime}"></td>
                            </th:block>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-6">
            </div>
        </div>
        <!-- 내용 -->
    </section>



</div>
</body>
</html>