<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/manager}">
<head>
    <title>룸 주문목록</title>
    <link rel="stylesheet" href="/yhh.css">
    <style>
        /* 상단 섹션 */
        #top-section {
            width: 100%;
            height: 65vh; /* 화면 높이의 65% */
            display: flex;
            justify-content: space-between;
        }

        /* 상단 섹션 내부의 두 개의 섹션 */
        .sub-section {
            width: 50%; /* 상단 섹션의 너비의 절반 */
            height: 100%;
            border: 1px solid #ccc;
            overflow-y: auto; /* 세로 스크롤 추가 */
        }

        /* 하단 섹션 */
        #bottom-section {
            width: 100%;
            height: 35vh; /* 화면 높이의 35% */
            border: 1px solid #ccc;
            overflow-y: auto; /* 세로 스크롤 추가 */
            position: absolute; /* 절대 위치 */
            top: 65vh; /* 상단 섹션의 높이만큼 아래로 이동 */
        }
    </style>



</head>

<body>
<div layout:fragment="content">

    <!-- 상단 섹션 -->
    <section id="top-section">
        <!-- 첫 번째 섹션 -->
        <div class="sub-section">
            <div class="card">
                <div class="card-body">
                    <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                        [ [[${roomDTO.roomName}]] ]
                    </div>
                    <div class="table-responsive">
                        <table class="table body">
                            <thead>
                            <tr>
                                <th>현 고객</th>
                                <th>전화번호</th>
                                <th>입실 인원</th>
                                <th>입실 시간</th>
                                <th>체크아웃 날짜</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${memberDTO != null}">
                                <td th:text="${memberDTO.memberName}"></td>
                                <td th:text="${memberDTO.memberPhone}"></td>
                                <td th:text="${roomOrderDTO.peopleNum}"></td>
                                <td th:text="${roomOrderDTO.checkinTime}"></td>
                                <td th:text="${#temporals.format(roomOrderDTO.reservationDateCheckoutDate, 'MM-dd')}"></td>                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-6">
                </div>
            </div>
            <!-- 내용 -->
        </div>
        <!-- 두 번째 섹션 -->
        <div class="sub-section">
            <div class="card">
                <div class="card-body">
                    <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                        주문 내역
                    </div>
                    <div class="table-responsive">
                        <table class="table body">
                            <thead>
                            <tr>
                                <th>주문번호</th>
                                <th>주문 상태</th>
                                <th>총 가격</th>
                                <th>주문자명</th>
                                <th>주문 날짜</th>
                                <th>상세보기</th>
                            </tr>
                            </thead>
                            <tbody>

                                <tr th:each="menu : ${orderHistory.menuOrderList}">
                                    <td th:text="${menu.menuorderIdx}">1</td>
                                    <td th:switch="${menu.orderState}">
                                        <span th:case="'0'">결제완료</span>
                                        <span th:case="'1'">조리완료</span>
                                        <span th:case="'2'">배달완료</span>
                                        <span th:case="'3'">결제취소</span>
                                    </td>
                                    <td th:text="${menu.total}"></td>
                                    <td th:text="${memberDTO.memberName}"></td>
                                    <td th:text="${#strings.substringBefore(menu.regdate, 'T')}"></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-info" th:data-target="'#details-' + ${menu.menuorderIdx}">상세보기</button>
                                    </td>
                                </tr>
                                <tr th:each="menu : ${orderHistory.menuOrderList}" th:id="'details-' + ${menu.menuorderIdx}" style="display: none;">
                                    <td colspan="6">
                                        <table style="width: 100%";>
                                            <thead>
                                            <tr>
                                                <th>메뉴명</th>
                                                <th>단일 가격</th>
                                                <th>갯수</th>
                                                <th>총 가격</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="sheet : ${menu.menuSheetList}">
                                                <td th:text="${sheet.menuorderName}"></td>
                                                <td th:text="${sheet.menuorderPrice}"></td>
                                                <td th:text="${sheet.menuorderQuantity}"></td>
                                                <td th:text="${sheet.amountPrice}"></td>
                                            </tr>
                                            <tr>
                                                <th style="background-color: #cad5f5" height="60px">요청사항
                                                <td colspan="6" th:text="${menu.orderRequest}"></td>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-6">
                </div>
            </div>
            <!-- 내용 -->
        </div>
    </section>

    <!-- 하단 섹션 -->
    <section id="bottom-section">
        <div class="card">
            <div class="card-body">
                <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                    객실 예약 현황
                </div>
                <div class="table-responsive">
                    <table class="table body">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>구분</th>
                            <th>예약일</th>
                            <th>이름</th>
                            <th>전화번호</th>
                            <th>체크인</th>
                            <th>체크아웃</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data:${roomOrderList}">
                            <td th:text="${data.roomorderIdx}"></td>
                            <td>
                                <th:block th:switch="${data.roomStatus}">
                                    <span th:case=4>종료</span>
                                    <span th:case=1>예약됨</span>
                                </th:block>
                            </td>
                            <td th:text="${#temporals.format(data.regdate, 'MM-dd / HH:mm')}"></td>
                            <td th:text="${data.memberName}"></td>
                            <td th:text="${data.memberPhone}"></td>

                            <th:block th:if="${data.roomStatus}==1">

                                <td th:text="${#temporals.format(data.reservationDateCheckinDate, 'MM-dd')}"></td>
                                <td th:text="${#temporals.format(data.reservationDateCheckoutDate, 'MM-dd')}"></td>

                            </th:block>

                            <th:block th:if="${data.roomStatus}==4">
                                <td th:text="${data.checkinTime}"></td>
                                <td th:text="${data.checkoutTime}"></td>
                            </th:block>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-6">
            </div>
        </div>
        <!-- 내용 -->
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".btn-outline-info").click(function() {
                // 현재 선택한 섹션을 제외하고 모든 상세 정보를 숨깁니다.
                var targetId = $(this).attr('data-target');
                $("tr[id^='details-']").not(targetId).hide();

                // 상세 정보 섹션의 위치를 설정합니다.
                var currentRow = $(this).closest('tr');
                $(targetId).insertAfter(currentRow).toggle();
            });
        });
    </script>

</div>
</body>
</html>