<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>객실 관리</title>
    <link rel="stylesheet" href="/yhh.css">
</head>

<body>

<div layout:fragment="content">
        <h4 class="card-title">객실 관리</h4>
    <div class="card">
        <div class="card-header">
            <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                객실 등록
            </div>
            <form method="post" th:action="@{/admin/manager/room/register}">
            <div class="table-responsive">
                <table class="table head">

                    <thead>
                    <tr>
                        <th>호텔명</th>
                        <td>
                            <div>
                                <select class="d-inline-block form-select form-select-sm" name="distDTO.distName">
                                    <option value="">(선택)</option>
                                    <option th:each="distDTOS : ${distDTOS}" th:value="${distDTOS.DistName}" th:text="${distDTOS.DistName}"></option>
                                </select>
                            </div>
                        </td>
                        <th>이름</th>
                        <td><input type="text" name="managerName"></td>
                    </tr>
                    <tr>
                        <th>아이디</th>
                        <td><input type="text" name="managerId"></td>
                        <th>비밀번호</th>
                        <td><input type="password" name="password"></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td><input type="text" name="managerPhone"></td>
                        <th>이메일</th>
                        <td><input type="text" name="managerEmail"></td>
                    </tr>


                    </thead>

                </table>
                <div style="text-align: center;">
                    <button type="submit" class="btn button">등록</button>
                    <button type="button" class="btn btn-secondary"
                            onclick="window.history.back()">이전</button>
                </div>

            </div>
            </form>
        </div>
    </div>



</div>


</body>
</html>
