<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/manager}">
<head>
    <title>객실 타입 수정</title>
    <link rel="stylesheet" href="/yhh.css">
</head>

<body>
<div layout:fragment="content">


    <h4 class="card-title">객실 관리</h4>
    <div class="card" style="margin: 50px 20px;">
        <div class="card-body">
            <div class="banner-info">
                <div>
                    <span class="info-label"></span>
                    <h2><span th:text="${roomDTO.roomType}"></span></h2>
                </div>
            </div>


            <div>
                <div>
                    <span class="info-label">대표 이미지</span>
                </div>
                <div class="image-container">
                    <div>
                        <img class="banner-image" th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}%5c${roomMainImg.imgName}|" width="300" height="300">
                    </div>
                    <div>
                        <button class="btn red-button" type="button" th:onclick="|location.href='@{'/deleteimg/'+${image.imageIdx}}'|">제거</button>
                    </div>
                </div>
            </div><br><br>


            <div>
                <div>
                    <span class="info-label">상세 이미지</span>
                </div>
                <div class="image-container" th:each="image : ${roomDetailImgList}">
                    <div>
                    <img class="banner-image" th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}%5c${image.imgName}|" width="300" height="300">
                    </div>
                    <div>
                    <button class="btn red-button" type="button" th:onclick="|location.href='@{'/deleteimg/'+${image.imageIdx}}'|">제거</button>
                    </div>
                </div>
            </div><br><br>


<!--            여기서 타입의 모든 객실들을 조회해서 이미지 수정-->
            <form method="post" th:action="@{/room/modify}" enctype="multipart/form-data">

                <div class="mb-3 mt-3">
                    가격 <input type="text" class="form-control" name="roomPrice" th:value="${roomDTO.roomPrice}"
                           required>
                </div>

                <input type="hidden" name="roomType" th:value="${roomDTO.roomType}" />

                대표 이미지 추가
                <input type="file" class="form-control" id="imgFile" name="imgFile" multiple>
                <div id="preview"></div>

                세부 이미지 추가
                <input type="file" class="form-control" id="imgFiles" name="imgFiles" multiple>
                <div id="preview2"></div>
                <div style="text-align: center;">
                    <button type="submit" class="btn button">수정</button>
                </div>
            </form>

            <br><br>
            <div class="banner-buttons">
                <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/admin/manager/room/listboard}'|">목록</button>
<!--                <button class="btn btn-danger" type="button" th:onclick="|location.href='@{'/admin/manager/room/delete/'+${roomDTO.bannerIdx}}'|">삭제</button>-->
            </div>


            </div>
        </div>


    <script>
        const input = document.getElementById('imgFile');
        const preview = document.getElementById('preview');
        const inputs = document.getElementById('imgFiles');
        const previews = document.getElementById('preview2');


        input.addEventListener('change', function() {
            preview.innerHTML = ''; // 이미지 미리보기 초기화

            const files = this.files;
            for (const file of files) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '200px'; // 이미지 최대 너비 설정
                    img.style.marginRight = '10px'; // 이미지 간격 설정
                    preview.appendChild(img);
                }

                reader.readAsDataURL(file);
            }
        });



        inputs.addEventListener('change', function() {
            previews.innerHTML = ''; // 이미지 미리보기 초기화

            const files = this.files;
            for (const file of files) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.maxWidth = '200px'; // 이미지 최대 너비 설정
                    img.style.marginRight = '10px'; // 이미지 간격 설정
                    previews.appendChild(img);
                }

                reader.readAsDataURL(file);
            }
        });
    </script>


    </div>
</body>

</html>