<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>주문관리</title>
    <link rel="stylesheet" href="/yhh.css">
</head>

<body id="page-top">
<div layout:fragment="content">
    <h4 class="card-title">주문관리</h4>
    <div class="card">
        <div class="card-header">
            <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                주문번호 조회
            </div>
            <form method="post" th:action="@{/admin/distchief/order/orderlist}">
            <div class="table-responsive">
                <table class="table head">
                    <thead>
                    <tr>
                        <th style="width: 10%">총판조직</th>
                        <td style="width: 40%">
                            <div>
                                <select class="d-inline-block form-select form-select-sm" name="distName">
                                    <option value="">(선택)</option>
                                    <option th:each="distList : ${distList}" th:value="${distList.DistName}" th:text="${distList.DistName}"></option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    </thead>

                    <tr>

                        <th>매장 선택</th>
                        <td>
                            <div>
                                <select class="d-inline-block form-select form-select-sm" name="storeName">
                                    <option value="">(선택)</option>
                                    <option th:each="storeList : ${storeList}" th:value="${storeList.storeName}" th:text="${storeList.storeName}"></option>
                                </select>
                            </div>
                        <th><strong>매장명</strong></th>
                        <td><input type="text" name="asdaqwsd"></td>
                        </th>
                    </tr>
                    <tr>
                        <th><strong>주문번호</strong></th>
                        <td><input type="text" name="orderCd" value=""></td>
                        <th><strong>룸</strong></th>
                        <td><input type="text" name="roomName" value=""></td>
                    </tr>
                    <tr>
                        <th><strong>결제일시</strong></th>
                        <td>
                            <input type="date">
                            <input type="time"> ~
                            <input type="date">
                            <input type="time">
                        </td>
                        <th><strong>상태</strong></th>
                        <td>
                            <input type="radio" name="ert" value="" checked>전체
                            <input type="radio" name="ert" value="DIRECTSTORE">미결제
                            <input type="radio" name="ert" value="FRANCHISEE">결제완료
                            <input type="radio" name="ert" value="FRANCHISEE">결제취소
                        </td>
                    </tr>

                </table>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary">조회</button>
                    <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/admin/distchief/order/register}'|">신규등록</button>
                </div>

            </div>
            </form>
        </div>
    </div>
    <div class="card" style="margin: 50px 20px;">
        <div class="card-body">
            <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                주문 목록
            </div>
            <div class="table-responsive">
                <table class="table body">
                    <thead>
                    <tr>
                        <th>매장명</th>
                        <th>주문번호</th>
                        <th>결제자 정보</th>
                        <th>주문서 상태</th>
                        <th>주문요청사항</th>
                        <th>총 결제 금액</th>
                        <th>상세보기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data:${list}">
                        <td th:text="store"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td><a th:href="@{'/admin/distchief/store/modify/'+${data.storeIdx}}" >수정</a>
                            /<a th:href="@{'/admin/distchief/store/delete/'+${data.storeIdx}}">삭제</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>
