<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
  <style>td, th {
    white-space: nowrap;
  }


   td {
     border-right: 1px solid #F0F0F0;;
   }
  td:last-child {
    border-right: none;
  }

  </style>
  <title>지사관리</title>
</head>

<body id="page-top">
<div layout:fragment="content">
  <div class="card">
    <div class="card-header" style="margin: 50px 20px;">
      <h4 class="card-title">매장관리</h4>
      <form method="post" action="/order/ordersheetnocheck">
        <div class="table-responsive">
          <table class="table col-md-12" >
            <thead>
            <tr>
              <th class="col-md-1">총판조직</th>
              <th class="align-middle text-start">  <!-- 수정된 부분 -->
                <input type="text" name="" value="" class="col-md-4">
              <th ></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><strong>매장명</strong></td>
              <td><input type="text" name="" value="" class="col-md-6"></td>
              <td><strong>매장ID</strong></td>
              <td><input type="text" name="" value="" placeholder="지사ID" class="col-md-6"></td>
            </tr>
            <tr>
              <td class="col-md-1"><strong>매장주</strong></td>
              <td><input type="text" name="" value="" class="col-md-6" placeholder="지사장"></td>
              <td><strong>매장연락처</strong></td>
              <td><input type="text" name="" value="" placeholder="지사연락처" class="col-md-6"></td>
            </tr>



            </tbody>

          </table>
          <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">조회</button>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="card" style="margin: 50px 20px;">
    <div class="card-body">
      <h4 class="card-title">지사 목록</h4>
      <div style="text-align:right;">
        총 11건
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>총판조직명</th>
            <th>지사명</th>
            <th>매장명</th>
            <th>결제일시</th>
            <th>주문유형</th>
            <th>주문 번호</th>
            <th>주문자</th>
            <th>룸명</th>
            <th>메뉴</th>
            <th>수랑</th>
            <th>금액(원)</th>
            <th>핸드폰</th>
            <th>주소</th>
            <th>메뉴옵션1</th>
            <th>메뉴옵션2</th>
            <th>배송요청사항</th>
            <th>상태</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="data:${list}">
            <td th:text="${data.id}">Cell 1</td>
            <td th:text="${data.userid}">Cell 2</td>
            <td th:text="${data.id}">Cell 2</td>
            <td th:text="${data.id}">Cell 2</td>
            <td th:text="${data.id}">Cell 2</td>
            <td th:text="${data.id}">Cell 2</td>
            <td th:text="${data.id}">Cell 2</td>
            <td th:text="${data.id}">Cell 2</td>
            <td th:text="${data.id}">Cell 2</td>
            <td th:text="${data.id}">Cell 2</td>

          </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-md-6">
      <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
        <ul class="pagination">
          <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span
                  aria-hidden="true">«</span></a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span
                  aria-hidden="true">»</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</body>

</html>
