<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">
<head>
    <title>어드민 회원 관리 페이지</title>
    <link rel="stylesheet" href="/yhh.css">
</head>

<body>
<div layout:fragment="content">


    <h4 class="card-title">회원 관리</h4>
    <div class="card">
        <div class="card-header">
            <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                검색
            </div>
            <form method="post" th:action="@{/admin/admin/manage/memberlist}">
                <div class="table-responsive">
                    <table class="table head">

                        <thead>
                        <tr>
                            <th style="width: 10%">유형</th>
                            <td colspan="3">
                                <div>
                                    <select class="d-inline-block form-select form-select-sm" name="roleType" id="roleTypeSelect">
                                        <option value="">전체</option>
                                        <option value="DISTCHIEF">총판장</option>
                                        <option value="MANAGER">매니저</option>
                                        <option value="USER">유저</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td><input type="text" name="name"></td>
                            <th>아이디</th>
                            <td><input type="text" name="id"></td>
                        </tr>
                        </thead>

                    </table>

                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">조회</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="card" style="margin: 50px 20px;">
        <div class="card-body">
            <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                목록
            </div>
            <div class="table-responsive">
                <table class="table body">
                    <thead>
                    <tr>
                        <th>계급</th>
                        <th>이름</th>
                        <th>아이디</th>
                        <th>생성일</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="data:${list}">

                        <td>
                            <th:block th:switch="${data.roleType.name()}">
                                <span th:case="DISTCHIEF">총판장</span>
                                <span th:case="MANAGER">매니저</span>
                                <span th:case="USER">회원</span>
                            </th:block>
                        </td>

                        <th:block th:switch="${data.roleType.name()}">
                            <td th:case="DISTCHIEF" th:text="${data.distChiefName}"></td>
                            <td th:case="MANAGER" th:text="${data.managerName}"></td>
                            <td th:case="USER" th:text="${data.memberName}"></td>
                        </th:block>

                        <th:block th:switch="${data.roleType.name()}">
                            <td th:case="DISTCHIEF" th:text="${data.distChiefEmail}"></td>
                            <td th:case="MANAGER" th:text="${data.managerEmail}"></td>
                            <td th:case="USER" th:text="${data.memberEmail}"></td>
                        </th:block>

                        <td th:text="${#temporals.format(data.regdate, 'yyyy-MM-dd HH:mm:ss')}"></td>

                    </tr>

                    </tbody>
                </table>
            </div>

            <ul class="mt-3 pagination">
                <li class="page-item"><a class="page-link" th:href="@{/admin/admin/manage/memberlist(page=${prevPage})}"><</a></li>
                <span th:each="page:${#numbers.sequence(startPage,endPage,1)}">
                        <li class="page-item active" th:if="${page == currentPage}">
                            <a class="page-link" href="#">[[${page}]]</a>
                        </li>
                        <li class="page-item" th:unless="${page == currentPage}">
                            <a class="page-link" th:href="@{/admin/admin/manage/memberlist(page=${page})}">[[${page}]]</a>
                        </li>
                    </span>
                <li class="page-item"><a class="page-link" th:href="@{/admin/admin/manage/memberlist(page=${nextPage})}">></a></li>
            </ul>


        </div>
    </div>


</div>
</body>

</html>