<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Table - Brand</title>
</head>

<body id="page-top">
<div layout:fragment="content">
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Team</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">브랜드 목록</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label
                                class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                            <option value="10" selected="">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>&nbsp;</label></div>
                    </div>
                    <div class="col-md-3 text-nowrap">
                        <div id="회원 타입" class="dataTables_length" aria-controls="dataTable"><label
                                class="form-label">회원분류&nbsp;
                            <select class="d-inline-block form-select form-select-sm">
                            <option value="10" selected="">전체</option>
                            <option value="25">카카오톡</option>
                            <option value="50">호텔사이트</option>

                        </select>&nbsp;
                        </label></div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end dataTables_filter" id="dataTable_filter"><label
                                class="form-label">

                            <input type="search" class="form-control form-control-sm"
                                                          aria-controls="dataTable" placeholder="Search"></label></div>
                    </div>
                </div>


                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>브랜드명</th>
                            <th>등록일자</th>
                            <th>수정일자</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data:${list}">
                            <td th:text="${data.brandIdx}"></td>
                            <td>
                                <a th:text="${data.brandName}" th:href="@{'/brand/'+${data.brandIdx}}" ></a>
                            </td>
                            <td th:text="${#temporals.format(data.regdate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#temporals.format(data.moddate, 'yyyy-MM-dd')}"></td>

                            <td><a th:href="@{'/brand/modify/'+${data.brandIdx}}" >수정</a>
                                /<a th:href="@{'/brand/delete/'+${data.brandIdx}}">삭제</a></td>
                        </tr>

                        </tbody>

                    </table>

                    <td><a th:href="@{/brand/register}">신규등록</a></td>

                </div>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10
                            of 27</p>
                    </div>
                    <div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span
                                        aria-hidden="true">«</span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span
                                        aria-hidden="true">»</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>