#search html {
    padding-top: 50px;
    font-family: "Open Sans", Helvetica, arial, sans-serif;
    text-align: center;
    background-color: #eeeeee;
}

#search html *,
#search html *:before,
#search html *:after {
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}

#search html i,
#search html em,
#search html b,
#search html strong,
#search html span {
    transition: none;
}

#search *:before,
#search *:after {
    z-index: -1;
}

#search h1,
#search h4 {
    font-family: "Raleway", "Open Sans", sans-serif;
    margin: 0;
    line-height: 1;
}

#search a {
    text-decoration: none;
    line-height: 80px;
    color: black;
}

#search .centerer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
}

#search @media (min-width: 600px) {
    #search .wrap {
        width: 50%;
        float: left;
    }
}

#search [class^=btn-] {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 80px;
    max-width: 250px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid currentColor;
}

#search .btn-0 {
    color: #28c430;
}

#search .btn-0:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #016f07;
    transform: translateX(-100%);
}

#search .btn-0:hover {
    color: #c0eec2;
}

#search .btn-0:hover:before {
    transform: translateX(0);
}

#search .btn-1 {
    color: #29ae84;
}

#search .btn-1:before {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    bottom: 0;
    left: 0;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #026042;
    transform: translateX(-100%);
}

#search .btn-1:hover {
    color: #c0e7db;
}

#search .btn-1:hover:before {
    transform: translateX(0);
}

#search .btn-1-2 {
    color: #53746f;
}

#search .btn-1-2:before,
#search .btn-1-2:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 80px solid #203734;
}

#search .btn-1-2:before {
    right: -50px;
    border-right: 50px solid transparent;
    transform: translateX(-100%);
}

#search .btn-1-2:after {
    left: -50px;
    border-left: 50px solid transparent;
    transform: translateX(100%);
}

#search .btn-1-2:hover {
    color: #cdd6d5;
}

#search .btn-1-2:hover:before {
    transform: translateX(-40%);
}

#search .btn-1-2:hover:after {
    transform: translateX(40%);
}

#search .btn-2 {
    color: #ccb767;
}

#search .btn-2:before,
#search .btn-2:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#search .btn-2:before {
    right: -50px;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #75662e;
    transform: translateX(-100%);
}

#search .btn-2:after {
    left: -50px;
    border-left: 50px solid transparent;
    border-top: 80px solid #75662e;
    transform: translateX(100%);
}

#search .btn-2:hover {
    color: #f0ead2;
}

#search .btn-2:hover:before {
    transform: translateX(-49%);
}

#search .btn-2:hover:after {
    transform: translateX(49%);
}

#search .btn-3:before,
#search .btn-3:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 40px solid #6e1a61;
    border-bottom: 40px solid #6e1a61;
}

#search .btn-3:before {
    border-right: 40px solid transparent;
    transform: translateX(-100%);
}

#search .btn-3:after {
    border-left: 40px solid transparent;
    transform: translateX(100%);
}

#search .btn-3:hover {
    color: #edcae8;
}

#search .btn-3:hover:before {
    transform: translateX(-30%);
}

#search .btn-3:hover:after {
    transform: translateX(30%);
}

#search .btn-4 {
    color: #302f91;
}

#search .btn-4:before,
#search .btn-4:after,
#search .btn-4 span:before,
#search .btn-4 span:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #07064c;
}

#search .btn-4:before {
    transform: translate(-100%, -100%);
}

#search .btn-4:after {
    transform: translate(-100%, 100%);
}

#search .btn-4 span:before {
    transform: translate(100%, -100%);
}

#search .btn-4 span:after {
    transform: translate(100%, 100%);
}

#search .btn-4:hover {
    color: #c2c2df;
}

#search .btn-4:hover:before {
    transform: translate(-50%, -50%);
}

#search .btn-4:hover:after {
    transform: translate(-50%, 50%);
}

#search .btn-4:hover span:before {
    transform: translate(50%, -50%);
}

#search .btn-4:hover span:after {
    transform: translate(50%, 50%);
}

#search .btn-5 {
    color: #c04da4;
}

#search .btn
