

#search .btn--blue, #search .btn--purple {
    background: hsl(var(--hue), 98%, 80%);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: black;
    font: 600 1.05rem/1 "Nunito", sans-serif;
    letter-spacing: 0.05em;
    overflow: hidden;
    padding: 1.15em 3.5em;
    min-height: 3.3em;
    position: relative;
    text-transform: lowercase;
    margin-left: 50px;
    margin-right: 100px;
}

#search .btn--blue {
    --hue: 210;
}

#search .btn--purple {
    --hue: 244;
}

#search .btn--blue:active, #search .btn--blue:focus,
#search .btn--purple:active, #search .btn--purple:focus {
    outline: 3px solid hsl(calc(var(--hue) + 90), 98%, 80%);
}

#search .btn--blue + .btn--purple {
    margin-top: 2.5em;
}

#search .btn__txt {
    position: relative;
    z-index: 2;
}

#search .btn__bg {
    background: hsl(var(--hueBg), 98%, 80%);
    border-radius: 50%;
    display: block;
    height: 0;
    left: 50%;
    margin: -50% 0 0 -50%;
    padding-top: 100%;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: scale(0);
    transform-origin: 50% 50%;
    transition: transform 0.175s cubic-bezier(0.5, 1, 0.89, 1);
    z-index: 1;
}

#search .btn--blue:hover .btn__bg,
#search .btn--blue:focus .btn__bg,
#search .btn--blue:active .btn__bg,
#search .btn--purple:hover .btn__bg,
#search .btn--purple:focus .btn__bg,
#search .btn--purple:active .btn__bg {
    transform: scale(1.5);
    transition: transform 0.35s cubic-bezier(0.11, 0, 0.5, 0);
}

#search .btn__bg:nth-of-type(1) {
    --hueBg: calc(var(--hue) - 90);
    transition-delay: 0.1725s;
}

#search .btn__bg:nth-of-type(2) {
    --hueBg: calc(var(--hue) - 180);
    transition-delay: 0.115s;
}

#search .btn__bg:nth-of-type(3) {
    --hueBg: calc(var(--hue) - 270);
    transition-delay: 0.0575s;
}

#search .btn__bg:nth-of-type(4) {
    --hueBg: calc(var(--hue) - 360);
    transition-delay: 0s;
}

#search .btn:hover .btn__bg,
#search .btn:focus .btn__bg,
#search .btn:active .btn__bg {
    transform: scale(1.5);
    transition: transform 0.35s cubic-bezier(0.11, 0, 0.5, 0);
}

#search .btn:hover .btn__bg:nth-of-type(1),
#search .btn:focus .btn__bg:nth-of-type(1),
#search .btn:active .btn__bg:nth-of-type(1) {
    transition-delay: 0.115s;
}

#search .btn:hover .btn__bg:nth-of-type(2),
#search .btn:focus .btn__bg:nth-of-type(2),
#search .btn:active .btn__bg:nth-of-type(2) {
    transition-delay: 0.23s;
}

#search .btn:hover .btn__bg:nth-of-type(3),
#search .btn:focus .btn__bg:nth-of-type(3),
#search .btn:active .btn__bg:nth-of-type(3) {
    transition-delay: 0.345s;
}

#search .btn:hover .btn__bg:nth-of-type(4),
#search .btn:focus .btn__bg:nth-of-type(4),
#search .btn:active .btn__bg:nth-of-type(4) {
    transition-delay: 0.46s;
}
