<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Simple Sidebar - Start Bootstrap Template</title>


</head>
<body>

<div layout:fragment="content">

    <h2>회원 정보</h2>
    <table class="table my-0">

        <tr>
            <td>번호</td>
            <td>[[${memberDTO.memberIdx}]]</td>
        </tr>
        <tr>
            <td>아이디</td>
            <td>[[${memberDTO.memberEmail}]]</td>
        </tr>
        <tr>
            <td>비밀번호</td>
        <td>[[${memberDTO.password}]]</td>
        </tr>
        <tr>
            <td>생성일자</td>
        <td th:text="${#temporals.format(memberDTO.regdate, 'yyyy-MM-dd')}"></td>
        </tr>
        <tr>
            <td>마지막수정</td>
        <td th:text="${#temporals.format(memberDTO.moddate, 'yyyy-MM-dd')}"></td>
        </tr>



    </table>



    <a th:href="@{/member/modify/{memberIdx}(memberIdx=${memberDTO.memberIdx})}">
        <button class="btn btn-primary" type="button"> 정보수정 </button>
    </a>
    <a th:href="@{/member/delete/{memberIdx}(memberIdx=${memberDTO.memberIdx})}">
        <button class="btn btn-danger" type="button"> 회원탈퇴 </button>
    </a>


</div>

</body>
</html>
