<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/membermain}">

<head>
    <title>Register - Brand</title>
    <style>
        .Duplicate {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
        }

        .Duplicate-check {
            border-radius: 15px;
            position: relative;
            top: 10px;
            left: -50px;
            padding: 10px 20px; /* 버튼 내부 여백 설정 */
        }
    </style>
</head>

<body class="bg-gradient-primary">
<div layout:fragment="content">
    <script>
        function validateForm() {
            var emailInput = document.querySelector('input[name="memberEmail"]');
            var passwordInput = document.querySelector('input[name="password"]');
            var nameInput = document.querySelector('input[name="memberName"]');
            var isValid = true;

            if (!emailInput.value.trim()) {
                document.getElementById('emailFeedback').style.display = 'block';
                isValid = false;
            } else {
                document.getElementById('emailFeedback').style.display = 'none';
            }

            if (!passwordInput.value.trim()) {
                document.getElementById('passwordFeedback').style.display = 'block';
                isValid = false;
            } else {
                document.getElementById('passwordFeedback').style.display = 'none';
            }

            if (!nameInput.value.trim()) {
                document.getElementById('nameFeedback').style.display = 'block';
                isValid = false;
            } else {
                document.getElementById('nameFeedback').style.display = 'none';
            }
            if (!nameInput.value.trim()) {
                document.getElementById('telFeedback').style.display = 'block';
                isValid = false;
            } else {
                document.getElementById('telFeedback').style.display = 'none';
            }

            return isValid;
        }

        function idCheck() {
            var emailInput = document.querySelector('input[name="memberEmail"]');
            var emailFeedback = document.getElementById('emailFeedback');
            var email = emailInput.value.trim();
            function validateEmail(email) {
                // 이메일 형식 정규 표현식
                var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return emailPattern.test(email);
            }
            // 이메일 형식이 아닌 경우

            if (!email) {
                emailFeedback.style.display = 'block';
                return false; // 이메일 입력란이 비어있으면 중복 확인을 하지 않음
            }
            else if (!validateEmail(email)) {
                emailFeedback.textContent = '올바른 이메일 주소를 입력하세요.';
                emailFeedback.style.display = 'block';
                return false;
            }
            else {
                emailFeedback.style.display = 'none';


                // AJAX를 이용해 서버로 중복 확인 요청을 보냄
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/emailcheck/' + encodeURIComponent(email), true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            var result = JSON.parse(xhr.responseText);
                            if(result === 1 || result === null) {
                                // 중복된 경우 - 회원 가입 불가능
                                document.getElementById('registerButton').disabled = true;
                                alert('이미 사용중인 이메일입니다.');
                            } else {
                                // 중복되지 않은 경우 - 회원 가입 가능
                                document.getElementById('registerButton').disabled = false;
                                alert('사용 가능한 이메일입니다');
                            }
                        } else {
                            // 서버에서 오류가 발생한 경우
                            alert('서버 오류가 발생했습니다.');
                        }
                    }
                };
                xhr.send();
            }

            return false; // 중복 확인 버튼 클릭 시 폼 전송 방지
        }
    </script>
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div>
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">회원 가입</h4>
                            </div>
                            <form class="user" th:action="@{/member/register}" method="post" onsubmit="return validateForm();">

                                <div class="row mb-3">

                                    <div class="col-sm-5 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="email" aria-describedby="emailHelp" placeholder="이메일" name="memberEmail">
                                        <div class="invalid-feedback" id="emailFeedback" style="display: none; margin-left: 40px">이메일을 입력하세요.</div>
                                        <span id="emailResult"></span>
                                    </div>
                                    <div  class="Duplicate col-sm-2 mb-3 mb-sm-0">
                                        <button class="Duplicate-check btn btn-primary" onclick="return idCheck()">중복확인</button>

                                    </div>
                                    <div class="col-sm-5 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="password" placeholder="비밀번호" name="password">
                                        <div class="invalid-feedback" id="passwordFeedback" style="display: none; margin-left: 40px">비밀번호를 입력하세요.</div>
                                    </div>



                                </div>

                                <div class="row mb-3">

                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" placeholder="이름" name="memberName">
                                        <div class="invalid-feedback" id="nameFeedback" style="display: none; margin-left: 40px">이름을 입력하세요.</div>
                                    </div>

                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input class="form-control form-control-user" type="text" placeholder="전화번호" name="memberPhone">
                                        <div class="invalid-feedback" id="phone" style="display: none; margin-left: 40px">전화번호 입력</div>
                                        <div class="invalid-feedback" id="telFeedback" style="display: none; margin-left: 40px">전화번호를 입력하세요.</div>
                                    </div>

                                </div>


                                <div class="row mb-3">

                                    <div class="col-sm-5 mb-3 mb-sm-0">
                                        <input type="text" placeholder="우편번호" name="memberZipCode">
                                    </div>

                                    <div class="col-sm-5 mb-3 mb-sm-0">
                                        <input type="text" placeholder="주소" name="memberAddress">
                                    </div>

                                </div>






                                <button id="registerButton" class="btn btn-primary d-block btn-user w-100" type="submit">회원 가입</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</body>

</html>
