<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Register - Brand</title>
</head>

<body id="page-top">

<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3">
                <!--왼쪽여백-->
            </div>
            <div class="col-lg-10">
                <!-- 검색 영역 -->
                <form th:action="@{/salesmonth/list}" method="get" th:object="${salesMonthDTO}">
                    <div class="row">
                        <div class="col-sm-2 bg-gray-200 text-black">총판조직</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="distributor_organization">
                                <option value="">전체</option>
                                <option value="1호텔">1호텔</option>
                                <option value="2호텔">2호텔</option>
                            </select>
                        </div>
                        <div class="col-sm-2 bg-gray-200 text-black">지사</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="Branch">
                                <option value="">전체</option>
                                <option value="서울">서울</option>
                                <option value="인천">인천</option>
                                <option value="부산">부산</option>
                                <option value="대전">대전</option>
                                <option value="대구">대구</option>
                                <option value="광주">광주</option>
                                <option value="울산">울산</option>
                                <option value="경기도">경기도</option>
                                <option value="강원도">강원도</option>
                                <option value="충청도">충청도</option>
                                <option value="전라도">전라도</option>
                                <option value="경상도">경상도</option>
                                <option value="제주도">제주도</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 bg-gray-200 text-black">매장</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="store">
                                <option value="">전체</option>
                                <option value="1매장">1매장</option>
                                <option value="2매장">2매장</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 bg-gray-200 text-black">일자선택</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="date" name="startDate" th:field="*{startDate}">~<input type="date" name="endDate" th:field="*{endDate}">
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary">조회</button>
                    </div>
                </form>
                <!-- 검색 영역 끝 -->
                <h2>목록</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>결제일자</th>
                        <th>합산금액(원)</th>
                        <th>오프라인결제금액(원)</th>
                        <th>PG결제금액(원)</th>
                        <th>PG수수료(원)</th>
                        <th>건별수수료(원)</th>
                        <th>월정수수료(원)</th>
                        <th>매장송금액(원)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data:${list}">
                        <td th:text="${data.salesmonthidx}">1</td>
                        <td><a th:href="@{'/salesmonth/'+${data.salesmonthidx}}"
                               th:text="${data.date}">임시</a></td>
                        <td th:text="${data.Total_amount}">임시</td>
                        <td th:text="${data.Offline_payment_amount}">임시</td>
                        <td th:text="${data.PG_payment_amount}">임시</td>
                        <td th:text="${data.PG_fee}">임시</td>
                        <td th:text="${data.Fee_per_case}">임시</td>
                        <td th:text="${data.Monthly_fee}">임시</td>
                        <td th:text="${data.storeremittance}">임시</td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/salesmonth/register}'|">등록
                </button>
                <!-- 페이지 영역 -->
                <ul class="pagination">
                    <li class="page-item" th:unless="${startPage==1}">
                        <a class="page-link" th:href="@{/salesmonth/list(page=1)}">처음</a></li>
                    <li class="page-item" th:unless="${currentPage==1}">
                        <a class="page-link" th:href="@{/salesmonth/list(page=${prevPage})}">이전</a></li>
                    <span th:each="page:${#numbers.sequence(startPage, endPage, 1)}">
                    <!-- 다른페이지-->
                    <li class="page-item" th:unless="${page == currentPage}">
                        <a class="page-link" th:href="@{/salesmonth/list(page=${page})}">[[${page}]]</a>
                    </li>
                        <!--활성화(현재위치)-->
                    <li class="page-item active" th:if="${page == currentPage}">
                        <a class="page-link" href="#">[[${page}]]</a>
                    </li>
                </span>
                    <li class="page-item" th:unless="${currentPage>=lastPage}">
                        <a class="page-link" th:href="@{/salesmonth/list(page=${nextPage})}">다음</a></li>
                    <li class="page-item" th:unless="${endPage==lastPage}">
                        <a class="page-link" th:href="@{/salesmonth/list(page=${lastPage})}">끝</a></li>
                </ul>
                <!-- 페이지 영역 끝 -->
            </div>
            <div class="col-lg-3">
                <!--오른쪽여백-->
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /* 작업 후 메시지가 있는지 확인하고 팝업으로 표시합니다. */
    var processMessage = /*[[${processMessage}]]*/ null;
    if (processMessage) {
        alert(processMessage);
        processMessage="";
    }
</script>
</body>

</html>