<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Register - Brand</title>
</head>
<body>
<!--개발 완료 후 위에 head부분을 삭제합니다-->
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3">
                <!--왼쪽여백-->
            </div>
            <div class="col-lg-6">
                <!--상세정보-->
                <div class="card">
                    <div class="card-header">상세보기</div>
                    <div class="card-body">
                        <p>no: <span th:text="${data.salesmonthidx}"></span></p>
                        <p>총판조직: <span th:text="${data.distributor_organization}"></span></p>
                        <p>지사: <span th:text="${data.Branch}"></span></p>
                        <p>매장: <span th:text="${data.store}"></span></p>
                        <p>결제일자: <span th:text="${data.date}"></span></p>
                        <p>합산금액(원): <span th:text="${data.Offline_payment_amount+data.PG_payment_amount+data.PG_fee+data.fee_per_case+data.monthly_fee+data.storeremittance}"></span></p>
                        <p>오프라인 결제금액(원): <span th:text="${data.Offline_payment_amount}"></span></p>
                        <p>PG결제금액(원): <span th:text="${data.PG_payment_amount}"></span></p>
                        <p>PG수수료(원): <span th:text="${data.PG_fee}"></span></p>
                        <p>건별수수료(원): <span th:text="${data.Fee_per_case}"></span></p>
                        <p>월정수수료(원): <span th:text="${data.Monthly_fee}"></span></p>
                        <p>매장송금액(원): <span th:text="${data.storeremittance}"></span></p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary"
                                th:onclick="|location.href='@{/salesmonth/list}'|">목록</button>
                        <button type="button" class="btn btn-secondary"
                                th:onclick="|location.href='@{/salesmonth/update/}'+${data.salesmonthidx}|">수정</button>
                        <button type="button" class="btn btn-danger"
                                th:onclick="|location.href='@{/salesmonth/delete/}'+${data.salesmonthidx}|">삭제</button>
                    </div>
                </div>
                <!--상세정보 끝-->
            </div>
            <div class="col-lg-3">
                <!--오른쪽여백-->
            </div>
        </div>
    </div>
</div>
</body>
</html>
