<!-----------------------------------
프로그램명 : 매장별 회원관리 입력폼
작성일 : 2024-04-09
작성자 : 조영규
기  능 : 매장별 회원을 등록
작업내역 : 1. 입력폼(24-04-09)
         2. 입력테스트(24-04-10)
         3. 작업완료
----------------------------------->
<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Register - Brand</title>
</head>

<body id="page-top">
<div layout:fragment="content">
<h3 class="text-dark mb-4">매출분석</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
                <!---->
            </div>
            <div class="col-lg-10">
                <h5 class="text-dark mb-4">매출등록</h5>
                <form th:action="@{/salesmonth/register}" method="post">
                    <div class="row">
                        <div class="col-sm-2 bg-gray-200 text-black">결제일자</div>
                        <div class="col-sm-4 border">
                            <input type="date" name="date">
                        </div>
                        <div class="col-sm-2 border">매장</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="store">
                                <option value="1매장">1매장</option>
                                <option value="2매장">2매장</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 bg-gray-200 text-black">오프라인 결제금액(원)</div>
                        <div class="col-sm-4 border">
                            <input type="number" name="Offline_payment_amount">
                        </div>
                        <div class="col-sm-2 bg-gray-200 text-black">PG결제금액(원)</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="number" name="PG_payment_amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 border">PG수수료(원)</div>
                        <div class="col-sm-4 border">
                            <input type="number" name="PG_fee">
                        </div>
                        <div class="col-sm-2 border">건별수수료(원)</div>
                        <div class="col-sm-4 border">
                            <input type="number" name="Fee_per_case">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 border">월정수수료(원)</div>
                        <div class="col-sm-4 border">
                            <input type="number" name="Monthly_fee">
                        </div>
                        <div class="col-sm-2 border">매장송금액(원)</div>
                        <div class="col-sm-4 border">
                            <input type="number" name="storeremittance">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 border">총판조직</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="distributor_organization">
                                <option value="1호텔">1호텔</option>
                                <option value="2호텔">2호텔</option>
                            </select>
                        </div>
                        <div class="col-sm-2 border">지사</div>
                        <div class="col-sm-4 border">
                            <select class="form-select" name="Branch">
                                <option value="서울">서울</option>
                                <option value="인천">인천</option>
                                <option value="부산">부산</option>
                                <option value="대전">대전</option>
                                <option value="대구">대구</option>
                                <option value="광주">광주</option>
                                <option value="울산">울산</option>
                                <option value="경기도">경기도</option>
                                <option value="강원도">강원도</option>
                                <option value="충청도">충청도</option>
                                <option value="전라도">전라도</option>
                                <option value="경상도">경상도</option>
                                <option value="제주도">제주도</option>
                            </select>
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary">등록</button>
                        <button type="button" class="btn btn-secondary"
                                th:onclick="|location.href='@{/salesmonth/list}'|">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>