<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/membermain}">
<head>
    <meta charset="UTF-8">
    <title>매장 검색</title>
    <style>
        #section1 label {
            position: relative;
            bottom: 40px;
        }
        .facilities-div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
<div layout:fragment="content">
    <div id="section1" class="container-fluid pt-5">
        <div class="container" style="margin: auto; width: 80%;">
            <div class="card shadow">
                <div class="card-body">
                    <form th:action="@{/member/memberpage/index}" method="post">
                        <div class="d-flex flex-wrap gap-3 justify-content-center align-items-center" style="margin-top: 40px">
                            <div class="form-check form-check-inline d-flex flex-column align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="wifi" value="와이파이" name="facilities">
                                <label class="form-check-label" for="wifi">와이파이</label>
                            </div>
                            <div class="form-check form-check-inline d-flex flex-column align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="parking" value="주차장" name="facilities">
                                <label class="form-check-label" for="parking">주차장</label>
                            </div>
                            <div class="form-check form-check-inline d-flex flex-column align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="fitness" value="피트니스" name="facilities">
                                <label class="form-check-label" for="fitness">피트니스</label>
                            </div>
                            <div class="form-check form-check-inline d-flex flex-column align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="swimming" value="수영장" name="facilities">
                                <label class="form-check-label" for="swimming">수영장</label>
                            </div>
                            <div class="form-check form-check-inline d-flex flex-column align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="sauna" value="사우나" name="facilities">
                                <label class="form-check-label" for="sauna">사우나</label>
                            </div>
                            <div class="form-check form-check-inline d-flex flex-column align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="lounge" value="라운지" name="facilities">
                                <label class="form-check-label" for="lounge">라운지</label>
                            </div>
                            <div class="form-check form-check-inline d-flex flex-column align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="cafe" value="카페" name="facilities">
                                <label class="form-check-label" for="cafe">카페</label>
                            </div>
                            <div class="form-check form-check-inline d-flex flex-column align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="store" value="편의점" name="facilities">
                                <label class="form-check-label" for="store">편의점</label>
                            </div>
                            <div class="form-check form-check-inline d-flex flex-column align-items-center mb-3">
                                <input class="form-check-input" type="checkbox" id="breakfast" value="조식 제공" name="facilities">
                                <label class="form-check-label" for="breakfast">조식 제공</label>
                            </div>
                            <div class="form-check form-check-inline d-flex flex-column align-items-center mb-3" name="facilities">
                                <input class="form-check-input" type="checkbox" id="karaoke" value="노래방">
                                <label class="form-check-label" for="karaoke">노래방</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="id1" aria-label="Recipient's username"
                                   aria-describedby="button-addon2" style="border-top-right-radius: 0;
                                   border-bottom-right-radius: 0" name="keyword" required>

                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" style="border-top-left-radius: 0;
                                border-bottom-left-radius: 0; height: 50px; padding-top: 5px; position: relative; left: -14px; bottom: -9px" >검색</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <p></p>
        <div class="container" style="margin: auto; width: 80%;">
            <div class="card" style="width: 100%; max-width: 100%; margin-bottom: 20px; background-color: #fff;
        border-radius: 10px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);" th:each="store : ${storeList}">
                <div style="display: flex;">
                    <!-- 왼쪽 이미지 -->
                    <div style="flex: 1;">
                        <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}%5c${store.storeimgName}|"
                             style="width: 100%; height: auto; border-top-left-radius: 10px; border-bottom-left-radius: 10px;"/>
                    </div>

                    <!-- 가운데 텍스트 -->
                    <div style="flex: 3; padding: 20px;">
                        <a th:href="@{'/member/memberpage/'+${store.storeIdx}}" style="display: flex; align-items: center;">
                            <p style="margin: 0; font-size: 32px; font-weight: bold; flex: 1;"
                               th:text="${store.storeName}" >
                            </p>
                            <!-- 평균 별점을 별로 표시 -->
                            <div th:if="${store.averageRating != null}" class="star-rating" style="flex-shrink: 0;
                            margin-right: 70%;">
                                <!-- 반복문을 사용하여 store.averageRating만큼 별을 표시 -->
                                <span class="star" th:each="rating : ${#numbers.sequence(1, store.averageRating)}" style="color: gold; font-size: 2em;">&#9733;</span>
                            </div>
                            <div th:unless="${store.averageRating != null}"
                                 style="flex-shrink: 0; margin-left: 10px;"> </div>
                        </a>
                        <p></p>
                        <div th:id="'facilities-div-' + ${store.storeIdx}">
                            <span>편의시설:</span><span class="material-icons">genres</span>
                        </div>
                        <p></p>
                        <p style="margin: 10px 0 0; font-size: 18px;" th:text="${store.storeSummary}"></p>
                        <div style="position: relative;">
                            <a th:href="@{'/member/memberpage/'+${store.storeIdx}}">
                                <button class="btn btn-outline-primary btn-lg" style="position: absolute; bottom: 0;
                                right: 0;">상세보기</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const stores = /*[[${storeList}]]*/ [];
        stores.forEach(store => {
            const facilitiesDiv = document.getElementById(`facilities-div-${store.storeIdx}`);
            const facilities = store.facilities.split(',').map(f => f.trim()).filter(f => f); // 빈 문자열이나 공백 제거

            facilities.forEach(facility => {
                const icon = document.createElement('span');
                icon.className = 'material-icons';
                switch (facility) {
                    case '와이파이':
                        icon.textContent = 'wifi';
                        break;
                    case '주차장':
                        icon.textContent = 'local_parking';
                        break;
                    case '피트니스':
                        icon.textContent = 'fitness_center';
                        break;
                    case '수영장':
                        icon.textContent = 'pool';
                        break;
                    case '사우나':
                        icon.textContent = 'sauna';  // 적절한 Material Icons 값으로 변경 필요
                        break;
                    case '라운지':
                        icon.textContent = 'lounge';  // 적절한 Material Icons 값으로 변경 필요
                        break;
                    case '카페':
                        icon.textContent = 'local_cafe';  // 적절한 Material Icons 값으로 변경 필요
                        break;
                    case '편의점':
                        icon.textContent = 'storefront';
                        break;
                    case '조식 제공':
                        icon.textContent = 'restaurant';
                        // 적절한 Material Icons 값으로 변경 필요
                        break;
                    case '노래방':
                        icon.textContent = 'genres';
                        // 적절한 Material Icons 값으로 변경 필요
                        break;
                }
                facilitiesDiv.appendChild(icon);
            });
        });
        /*]]>*/
    </script>
</div>
</body>
</html>