<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/membermain}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>메뉴 결제</title>
</head>
<body>
<div layout:fragment="content">
    <div id="section1" class="container-fluid pt-5">
        <!-- 메뉴 리스트 -->
        <div class="container" style="margin: auto; width: 80%;">
            <h2 class="text-primary">결제</h2>
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th>Column 1</th>
                        <th>Column 2</th>
                        <th>Column 3</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
</html>