<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/membermain1}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>메뉴 주문</title>
    <style>
        .btn-outline-dark {
            border-color: lightblue !important;
            border-radius: 0 !important;
        }

        .btn-group-vertical {
            flex-direction: row;
            justify-content: center;
        }

        .card {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        }

        .card > div.img-container {
            flex: 1;
        }

        .card div.img-container > img {
            max-width: 100%;
            height: auto;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .card > div.text-container {
            flex: 3;
            padding: 20px;
        }

        .card > div.info-container {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
    </style>

</head>
<body>
<div layout:fragment="content">
    <div class="section" id="section0">
        <div class="container-fluid pt-5">
            <!-- 메뉴 리스트 -->
            <div class="container" style="margin: auto; width: 80%;">
                <h2 class="text-primary">메뉴 주문</h2>
                <!-- 메뉴카테고리 -->
                <div class="btn-group-vertical" role="group" aria-label="Menu categories">
                    <button th:each="cate : ${menuCateList}"
                            type="button"
                            class="btn btn-outline-dark flex-fill"
                            th:id="${cate.menuCateIdx}"
                            th:onclick="'changeDetails(\'' + ${cate.menuCateIdx} + '\');'"
                            th:text="${cate.menuCateName}">
                    </button>
                </div>
                <div class="menu-list">
                    <div th:each="cate : ${menuCateList}">
                        <div class="card" th:each="menu : ${cate.detailMenuDTOList}"
                             th:data-category="${menu.menuCateIdx}"
                             style="display: flex; flex-direction: row; margin-bottom: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">
                            <!-- 왼쪽 이미지 -->
                            <div style="flex: 1;" class="img-container">
                                <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}%5c${menu.menuImg}|"
                                     alt="Card image cap"
                                     style="max-width:100%; height: auto; border-top-left-radius: 10px;
                 border-bottom-left-radius: 10px;"/>
                            </div>
                            <!-- 가운데 텍스트 -->
                            <div style="flex: 3; padding: 20px;" class="text-container">
                                <h5 class="card-title" th:text="${menu.detailMenuName}"></h5>
                                <p class="card-text" th:text="${menu.menuDescription}"></p>
                                <p class="item-point" th:text="${menu.pointSaveAmount}"></p>
                                <p class="card-text"><small class="text-muted" th:text="${menu.menuprice}"></small></p>
                            </div>
                            <!-- 오른쪽 정보 -->
                            <div style="flex: 1; padding: 20px; display: flex; flex-direction: column; justify-content:
                            space-between;" class="info-container">
                                <div class="badge">추천</div>
                                <button style="background-color: lightblue; border: none; padding: 5px 10px; border-radius: 5px; color: white; font-weight: bold;">
                                    장바구니
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section1">
        <div class="container-fluid pt-5">
            <div class="container" style="margin: auto; width: 80%;">
                <h2 class="text-primary">
                    주문자 정보
                </h2>
                <div>
                    이름: <span th:text="${memberDTO.memberName}"></span>
                </div>
                <div>
                    전화번호: <span th:text="${memberDTO.memberPhone}"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="container-fluid pt-5">
            <div class="container" style="margin: auto; width: 80%;">
                <form action="/admin/manager/order/register" method="post">
                    <div style="display: none">
                        Idx: <input type="text" th:value="${memberDTO.memberIdx}" name="memberIdx">
                        Idx: <input type="text" th:value="${store.storeIdx}" name="storeIdx">
                        Idx: <input type="text" th:value="${roomIdx}" name="roomIdx">
                        주문코드 : <input type="text" name="menuorderCd" value="menuorderCd" id="menuorderCd">
                    </div>
                    <div>
                        <h2 class="text-primary">장바구니</h2>
                        <table style="width: 100%;">
                            <thead>
                            <tr class="row">
                                <th class="col">메뉴명</th>
                                <th class="col">가격</th>
                                <th class="col">주문 개수</th>
                                <th class="col">총합</th>
                                <th class="col">적립</th>
                                <th class="col">삭제</th>
                            </tr>
                            </thead>
                            <!-- 추가 정보를 이 곳에 넣어 주세요 -->
                            <tbody id="tableBody">

                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="table table-striped" style="table-layout: fixed;">
                            <thead class="thead-primary">
                            <tr>
                                <th colspan="3">
                                    <h3 class="text-primary">할인 수단</h3>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="text-align: center;">쿠폰:</td>
                                <td><input type="text" style="width: 100%;" placeholder="할인 코드를 입력하세요"></td>
                                <td style="text-align: center;"><button class="btn btn-outline-primary" onclick="showCouponModal(event)">적용</button></td>
                            </tr>
                            </tbody>
                            <div class="modal" id="couponModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" id="modalBody">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </table>
                    </div>
                    <div>
                        <div class="discountTable" style="align-content: center">
                            <table>
                                <tr>

                                </tr>
                            </table>
                        </div>
                    </div>
                    <p></p>
                    <div style="text-align: right; margin-right: 10%;">
                        <p id="totalPoint">총 적립액:</p>
                    </div>
                    <div class="fa-align-right" style="text-align: right">
                        <p style="color: #0c3ee1; ">총 결제액:</p>
                    </div>

                    <div>

                        <p>요청사항:</p><textarea class="form-control-lg" style="width: 80%;" name="orderRequest"
                                              placeholder="요청사항을 입력하세요"></textarea>
                    </div>
                    <div style="display: none;">
                        <!--                    주문완료 상태-->
                        <input type="text" name="orderState" value="0">
                        <input id="totalValue" type="text" name="total">
                    </div>
                    <div id="post" style="display: none">

                    </div>
                    <div>
                        <button class="btn btn-outline-primary" type="submit">주문하기</button>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>


        // 랜덤한 문자열을 생성하는 함수
        function generateRandomString(length) {
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            let result = '';
            for (let i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * characters.length));
            }
            return result;
        }

        // 랜덤한 문자열 생성
        const randomCd = generateRandomString(30);

        // input 요소에 랜덤한 문자열 설정
        document.getElementById("menuorderCd").value = randomCd.substring(0, 30);

        $(document).ready(function () {

            function calculateTotalPoint() {
                var totalPoint = 0;
                $('#tableBody tr').each(function () {
                    // 이벤트가 발생한 행(row)에 해당하는 수량(quantity) 값을 가져옵니다.
                    var quantityElem = $(this).find(".quantity");
                    console.log("Quantity text is: ", quantityElem.text());
                    var quantity = parseInt(quantityElem.text());

                    let pointSaveAmount = parseFloat($(this).find(".menu-point").text());
                    totalPoint += quantity * pointSaveAmount;
                });
                document.getElementById("totalPoint").innerText = "총 적립액: " + totalPoint + "원";
            }

            $(".info-container button").click(function (event) {
                event.preventDefault();

                var menuName = $(this).parent().siblings('.text-container').find('.card-title').text();
                var price = parseFloat($(this).parent().siblings('.text-container').find('.text-muted').text());
                var pointSaveAmount = parseFloat($(this).parent().siblings('.text-container').find('.item-point').text());

                var existedRow = null;
                var menuIndex = 0;
                $('#tableBody tr').each(function (index) {
                    if ($(this).children('.col-2').text() === menuName) {
                        existedRow = $(this);
                        menuIndex = index;
                    }
                });

                if (existedRow) {

                    var quantityElem = existedRow.find(".quantity");
                    var valueElem = existedRow.find('.value');
                    var quantity = parseInt(quantityElem.text()) + 1;
                    quantityElem.text(quantity);
                    valueElem.text((price * quantity).toFixed(2));

                    $('#hiddenMenuOrderPrice' + menuIndex).val(price.toFixed(2));

                    $('input[name="menuQuantity[]"]').eq(menuIndex).val(quantity);
                    $('input[name="AmountPrice[]"]').eq(menuIndex).val((price * quantity).toFixed(2));

                    calculateTotalPoint();
                    calculateTotal();
                } else {

                    menuIndex = $('#tableBody tr').length;
                    var rowHtml = '<tr class="row"><td class="col">' + menuName + '</td><td class="col"><span>' +
                        price.toFixed(2) + '</span></td><td class="col">' +
                        '<button class="btn btn-warning minus">-</button>' + '<span class="quantity">' + '1' +
                        '</span>' + '<button class="btn btn-success plus">+</button>' +
                        '</td><td class="col"><span class="value">' + price.toFixed(2) +
                        '</span></td><td class="col"></td><td class="col item-point">'+ pointSaveAmount +'</td>'+
                        '<td class="col"><button class="btn btn-danger remove">삭제</button></td></tr>';

                    $("#tableBody").append(rowHtml);
                    var hiddenInputsHtml =
                        '<input type="hidden" name="menuSheetDTOList[' + menuIndex + '].menuorderName" value="' + menuName + '">' +
                        '<input type="hidden" name="menuSheetDTOList[' + menuIndex + '].menuorderPrice" value="' + price.toFixed(2) + '">' +
                        '<input type="hidden" name="menuSheetDTOList[' + menuIndex + '].menuorderQuantity" value="1">' +
                        '<input type="hidden" name="menuSheetDTOList[' + menuIndex + '].AmountPrice" value="' + (price * 1).toFixed(2) + '">';

                    $("#post").append(hiddenInputsHtml);


                    $(".plus").last().on("click", function (event) {
                        event.preventDefault();

                        var quantityElem = $(this).siblings('.quantity');
                        var unitPriceElem = $(this).parent().prev().find('span');
                        var valueElem = $(this).parent().next().find('.value');
                        var quantity = parseInt(quantityElem.text()) + 1;

                        quantityElem.text(quantity);
                        var unitPrice = parseFloat(unitPriceElem.text());
                        valueElem.text((unitPrice * quantity).toFixed(2));

                        var menuIndex = $(this).closest('tr').index();
                        $('input[name="menuSheetDTOList[' + menuIndex + '].menuorderQuantity"]').val(quantity);
                        var hiddenAmountPrice = (unitPrice * quantity).toFixed(2);
                        $('input[name="menuSheetDTOList[' + menuIndex + '].AmountPrice"]').val(hiddenAmountPrice);

                        calculateTotalPoint();
                        calculateTotal();
                    });

                    $(".minus").last().on("click", function (event) {
                        event.preventDefault();

                        var quantityElem = $(this).siblings('.quantity');
                        var unitPriceElem = $(this).parent().prev().find('span');
                        var valueElem = $(this).parent().next().find('.value');
                        var quantity = parseInt(quantityElem.text()) - 1;

                        quantityElem.text(quantity);
                        var unitPrice = parseFloat(unitPriceElem.text());
                        valueElem.text((unitPrice * quantity).toFixed(2));

                        var menuIndex = $(this).closest('tr').index();
                        $('input[name="menuSheetDTOList[' + menuIndex + '].menuorderQuantity"]').val(quantity);
                        var hiddenAmountPrice = (unitPrice * quantity).toFixed(2);
                        $('input[name="menuSheetDTOList[' + menuIndex + '].AmountPrice"]').val(hiddenAmountPrice);

                        calculateTotalPoint();
                        calculateTotal();
                    });

                    $(".remove").on("click", function(event) {
                        event.preventDefault();

                        // 현재 클릭된 '삭제' 버튼이 속한 테이블 행을 찾아서 삭제
                        var row = $(this).closest('tr');
                        var rowIndex = row.index();
                        row.remove();

                        // 삭제된 행과 관련된 히든 필드도 함께 삭제
                        $('input[name="menuSheetDTOList[' + rowIndex + '].menuorderQuantity"]').remove();
                        $('input[name="menuSheetDTOList[' + rowIndex + '].AmountPrice"]').remove();

                        // 행을 삭제한 후 전체 합계 값을 계산
                        calculateTotal();
                        calculateTotalPoint();
                    });
                    calculateTotalPoint();
                    calculateTotal();
                }
            });
        });

        function updateMenuIndex() {
            // No need to update menuIndex in this version
        }

        function scrapeCouponDiscountValue() {
            var couponDiscountText = $('#discount').text(); // 할인액이 담긴 요소의 텍스트를 가져옴
            var couponDiscount = parseFloat(couponDiscountText.split(":")[1]); // ":" 기준으로 문자열을 분리하고, 두 번째 요소(즉, 숫자 부분)을 실수로 변환
            return couponDiscount;
        }

        function calculateTotal() {
            var total = 0;
            $('#tableBody tr').each(function () {
                var temp = $(this).find(".value").text();
                total += parseFloat(temp);
            });

            // 쿠폰의 할인액을 찾아서 이를 total에서 차감합니다.
            // 참고로 scrapeCouponDiscountValue 는 쿠폰의 할인액을 가져오는 함수입니다
            var couponDiscount = scrapeCouponDiscountValue();
            total -= couponDiscount;

            total = total.toFixed(2);
            $('.fa-align-right p').text("총 결제액: " + total);
            $('#totalValue').val(total);
            return total;
        }

        function showCouponModal(event) {
            event.preventDefault(); // 클릭 이벤트의 기본 동작을 막습니다.

            $.ajax({
                url: "/member/mypage/point1",
                type: "get",
                success: function(data) {
                    $('#modalBody').html(data);
                    $('#modalBody button').on('click', usecoupon); // 이벤트 핸들러 추가
                }
            });

            $('#couponModal').modal('show'); // 모달을 표시합니다.
        }


        function usecoupon(event) {
            event.preventDefault();
            // 쿠폰 id 가져오기
            const couponId = event.target.id;

            // AJAX 요청으로 쿠폰 정보 가져오기
            $.ajax({
                url: '/usecoupon/' + couponId, // 쿠폰 정보를 가져오는 엔드포인트로 바꿔 주세요!
                type: 'GET', // HTTP 메서드 변경
                success: function(response) {
                    // 사용할 쿠폰 정보 가져오기
                    const couponName = response.couponName;
                    const couponPrice = response.couponPrice;

                    // 새로운 행을 테이블에 추가하고 쿠폰 정보로 채우기
                    let newTableRow = `
                      <tr>
                          <td>쿠폰명 : ${couponName}</td>
                          <td id="discount">할인액 :${couponPrice}</td>
                      </tr>
                    `;
                    $("discountTable table").append(newTableRow);

                    // 모달 창 닫기
                    $('#couponModal').modal('hide');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // 에러 핸들링
                    console.error(textStatus);
                }
            });
        }
    </script>


</div>
</body>
</html>