<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/membermain1}">
<head>
    <meta charset="UTF-8">
    <title>메뉴 주문</title>
    <style>
        .badge{
            cursor : pointer;
            background-color: white;
        }

        .btn-outline-dark {
            border-color: lightblue !important;
            border-radius: 0 !important;
        }

        .btn-group-vertical {
            flex-direction: row;
            justify-content: center;
        }

        .card {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        }

        .card > div.img-container {
            flex: 1;
        }

        .card div.img-container > img {
            max-width: 100%;
            height: auto;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .card > div.text-container {
            flex: 3;
            padding: 20px;
        }

        .card > div.info-container {
            flex: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
        .badge.bg-secondary{
            margin: 0 5px; /* 버튼과 숫자 사이에 공백 적용 (좌우 5px) */
        }
        .quantity {
            margin: 0 5px; /* 숫자와 버튼 사이에 공백 적용 (좌우 5px) */
        }

        #tableBody tr {
            display: flex; /* 행을 flex 컨테이너로 설정합니다. */
            align-items: center; /* 수직 가운데 정렬 */
            justify-content: center; /* 수평 가운데 정렬 */
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 카드와 같은 그림자 효과를 추가합니다. */
            margin-bottom: 10px; /* 각 행 사이에 여백을 추가하여 구분합니다. */
            height: 70px; /* 행의 높이를 설정합니다. */
        }
        .shadows{
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* 카드와 같은 그림자 효과를 추가합니다. */
            padding:30px;
            background: #ffffff;
        }

    </style>

</head>
<body>
<div layout:fragment="content"  style="background-color: #fff2d7;">
    <div class="section" id="section0">
        <div class="container-fluid pt-5">
            <!-- 메뉴 리스트 -->
            <div class="container" style="margin: auto; width: 80%;">
                <h2 class="text-primary">메뉴 주문</h2>
                <!-- 메뉴카테고리 -->
                <div class="btn-group-vertical" role="group" aria-label="Menu categories">
                    <button th:each="cate : ${menuCateList}"
                            type="button"
                            class="btn btn-outline-dark flex-fill"
                            th:id="${cate.menuCateIdx}"
                            th:onclick="'changeDetails(\'' + ${cate.menuCateIdx} + '\');'"
                            th:text="${cate.menuCateName}">
                    </button>
                </div>
                <div class="menu-list">
                    <div th:each="cate : ${menuCateList}">
                        <div class="card" th:each="menu : ${cate.detailMenuDTOList}"
                             th:data-category="${menu.menuCateIdx}"
                             style="display: flex; flex-direction: row; margin-bottom: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">
                            <!-- 왼쪽 이미지 -->
                            <div style="flex: 1;" class="img-container">
                                <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}%5c${menu.menuImg}|"
                                     alt="Card image cap"
                                     style="max-width:100%; height: auto; border-top-left-radius: 10px;
                 border-bottom-left-radius: 10px;"/>
                            </div>
                            <!-- 가운데 텍스트 -->
                            <div style="flex: 3; padding: 20px;" class="text-container">
                                <h5 class="card-title" th:text="${menu.detailMenuName}"></h5>
                                <p class="card-text" th:text="${menu.menuDescription}"></p>
                                <p class="item-point" th:text="${menu.pointSaveAmount}"></p>
                                <p class="card-text"><small class="text-muted" th:text="${menu.menuprice}"></small></p>
                            </div>
                            <!-- 오른쪽 정보 -->
                            <div style="flex: 1; padding: 20px; display: flex; flex-direction: column; justify-content:
                            space-between;" class="info-container">
                                <div class="badge">추천</div>
                                <button style="background-color: lightblue; border: none; padding: 5px 10px; border-radius: 5px; color: white; font-weight: bold;">
                                    장바구니
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section1">
        <div class="container-fluid pt-5">
            <div class="container shadows" style="margin: auto; width: 80%;">
                <h2 class="text-primary">
                    주문자 정보
                </h2>
                <div>
                    이름: <span th:text="${memberDTO.memberName}"></span>
                </div>
                <div>
                    전화번호: <span th:text="${memberDTO.memberPhone}"></span>
                </div>

            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="container-fluid pt-5">
            <div class="container" style="margin: auto; width: 80%;">
                <form action="/admin/manager/order/register" method="post">

                    <div style="display: none">
                        Idx: <input type="text" th:value="${memberDTO.memberIdx}" name="memberIdx">
                        Idx: <input type="text" th:value="${store.storeIdx}" name="storeIdx">
                        Idx: <input type="text" th:value="${roomIdx}" name="roomIdx">
<!--                        Idx: <input type="text" th:value="${roomorderIdx}" name="roomorderIdx">-->
                        주문코드 : <input type="text" name="menuorderCd" value="menuorderCd" id="randomCd">
                        <input type="text" name="couponIdx" id="couponIdx" value="">
                        <input type="text" name="rewardDTO.rewardName" value="음식 주문">
                        <input type="text" name="rewardDTO.rewardpm" value="plus">
                        <input type="text" name="rewardDTO.memberEmail" th:value="${memberDTO.memberEmail}">
                        <input type="text" name="rewardDTO.memberIdx" th:value="${memberDTO.memberIdx}">
                        <input type="text" name="rewardDTO.rewardAmount" id="totalPointHidden" value="">
                    </div>
                    <div class="shadows">
                        <h2 class="text-primary">장바구니</h2>
                        <table style="width: 100%;text-align: center;vertical-align: middle;margin-top: 20px;" >
                            <thead>
                            <tr class="row" style="justify-content: center; align-items: center;">
                                <th class="col">메뉴명</th>
                                <th class="col">가격</th>
                                <th class="col">주문 개수</th>
                                <th class="col">총합</th>
                                <th class="col">적립</th>
                                <th class="col">삭제</th>
                            </tr>
                            </thead>
                            <!-- 추가 정보를 이 곳에 넣어 주세요 -->
                            <tbody id="tableBody" style="justify-content: center; align-items: center;">

                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table class="table table-striped" style="table-layout: fixed;justify-content: center; align-items: center; margin-left:-1.5%; margin-top:15px;">
                            <thead class="thead-primary">
                            <tr>
                                <th colspan="3">
                                    <h3 class="text-primary">할인 수단</h3>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="text-align: center;">쿠폰:</td>
                                <td><input type="text" style="width: 100%;" placeholder="할인 코드를 입력하세요"></td>
                                <td style="text-align: center;">
                                    <button class="btn btn-outline-primary" onclick="showCouponModal(event)">적용</button>
                                </td>
                            </tr>
                            </tbody>
                            <div class="modal" id="couponModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body" id="modalBody">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </table>
                    </div>
                    <div>
                        <div class="discountTable" style="align-content: center">
                            <table>
                            </table>
                        </div>
                    </div>
                    <p></p>
                    <div class="shadows" style="margin-bottom: 30px;">
                    <div style="text-align: right; margin-right: 10%;" >
                        <p id="totalPoint">총 적립액:</p>
                    </div>
                    <div class="fa-align-right " style="text-align: right" >
                        <p style="color: #0c3ee1; ">총 결제액:</p>
                    </div>
                    </div>
                    <div>
                        <textarea class="form-control-lg" style="width: 80%;" name="orderRequest"
                                  placeholder="요청사항을 입력하세요"></textarea>
                    </div>
                    <div style="display: none;">
                        <!--                    주문완료 상태-->
                        <input type="text" name="orderState" value="0">
                        <input id="totalValue" type="text" name="total">
                    </div>
                    <div id="post" style="display: none">

                    </div>
                    <div>
                        <button class="btn btn-outline-primary" style="background: white" type="submit">주문하기</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!--    장바구니-결제 관련-->
    <script>
        $(document).ready(function () {

            function calculateTotalPoint() {
                var totalPoint = 0;
                $('#tableBody tr').each(function () {
                    var quantity = parseInt($(this).find(".quantity").text());
                    var individualSavePoints = parseFloat($(this).find(".item-point").data("point"));

                    if (!isNaN(quantity) && !isNaN(individualSavePoints)) {
                        var totalRowSavePoints = quantity * individualSavePoints;
                        $(this).find(".item-point").text(totalRowSavePoints.toFixed(2));
                        totalPoint += totalRowSavePoints;
                    }
                });

                document.getElementById("totalPoint").innerText = "총 적립액: " + totalPoint.toFixed(2) + "원";
                document.getElementById("totalPointHidden").value = totalPoint.toFixed(0);
            }

            function scrapeCouponDiscountValue() {
                var couponDiscountText = $('#discount').text();
                var couponDiscount = parseFloat(couponDiscountText.split(":")[1]);
                if (isNaN(couponDiscount)) {
                    couponDiscount = 0;
                }
                return couponDiscount;
            }

            function calculateTotal() {
                var total = 0;
                $('#tableBody tr').each(function () {
                    var temp = $(this).find(".value").text();
                    total += parseFloat(temp);
                });

                var couponDiscount = scrapeCouponDiscountValue();
                total -= couponDiscount;

                total = total.toFixed(2);
                $('.fa-align-right p').text("총 결제액: " + total);
                $('#totalValue').val(total);
                return total;
            }

            $(".info-container button").click(function (event) {
                event.preventDefault();

                var menuName = $(this).parent().siblings('.text-container').find('.card-title').text();
                var price = parseFloat($(this).parent().siblings('.text-container').find('.text-muted').text());
                var pointSaveAmount = parseFloat($(this).parent().siblings('.text-container').find('.item-point').text());
                let menuNames = [];

                var existedRow = null;
                var menuIndex = 0;
                $('#tableBody tr').each(function (index) {
                    if ($(this).children('.col').first().text() === menuName) {
                        existedRow = $(this);
                        menuIndex = index;
                        menuNames.push(menuName);
                    }
                });

                $('#menuNamesInput').val(menuNames.join(','));

                if (existedRow) {
                    var quantityElem = existedRow.find(".quantity");
                    var valueElem = existedRow.find('.value');
                    var quantity = parseInt(quantityElem.text()) + 1;
                    quantityElem.text(quantity);
                    valueElem.text((price * quantity).toFixed(2));

                    $('input[name="menuSheetDTOList[' + menuIndex + '].menuorderQuantity"]').val(quantity);
                    $('input[name="menuSheetDTOList[' + menuIndex + '].AmountPrice"]').val((price * quantity).toFixed(2));

                    calculateTotalPoint();
                    calculateTotal();
                }
                else {
                    menuIndex = $('#tableBody tr').length;
                    var rowHtml = '<tr class="row" ><td class="col">' + menuName + '</td><td class="col"><span>' +
                        price.toFixed(2) + '</span></td><td class="col">' +
                        '<button class="badge bg-secondary minus">-</button>' + '<span class="quantity">' + '1' +
                        '</span>' + '<button class="badge bg-secondary plus">+</button>' +
                        '</td><td class="col"><span class="value">' + price.toFixed(2) +
                        '</span></td><td class="col item-point"  data-point="' + pointSaveAmount + '">' + pointSaveAmount +
                        '</td><td class="col"><button class="btn btn-sm btn-danger remove">삭제</button></td></tr>';

                    $("#tableBody").append(rowHtml);
                    var hiddenInputsHtml =
                        '<input type="hidden" name="menuSheetDTOList[' + menuIndex + '].menuorderName" value="' + menuName + '">' +
                        '<input type="hidden" name="menuSheetDTOList[' + menuIndex + '].menuorderPrice" value="' + price.toFixed(2) + '">' +
                        '<input type="hidden" name="menuSheetDTOList[' + menuIndex + '].menuorderQuantity" value="1">' +
                        '<input type="hidden" name="menuSheetDTOList[' + menuIndex + '].AmountPrice" value="' + (price * 1).toFixed(2) + '">';

                    $("#post").append(hiddenInputsHtml);

                    $(".plus").last().on("click", function (event) {
                        event.preventDefault();

                        var quantityElem = $(this).siblings('.quantity');
                        var unitPriceElem = $(this).parent().prev().find('span');
                        var valueElem = $(this).parent().next().find('.value');
                        var quantity = parseInt(quantityElem.text()) + 1;

                        quantityElem.text(quantity);
                        var unitPrice = parseFloat(unitPriceElem.text());
                        valueElem.text((unitPrice * quantity).toFixed(2));

                        var menuIndex = $(this).closest('tr').index();
                        $('input[name="menuSheetDTOList[' + menuIndex + '].menuorderQuantity"]').val(quantity);
                        var hiddenAmountPrice = (unitPrice * quantity).toFixed(2);
                        $('input[name="menuSheetDTOList[' + menuIndex + '].AmountPrice"]').val(hiddenAmountPrice);

                        calculateTotalPoint();
                        calculateTotal();
                    });

                    $(".minus").last().on("click", function (event) {
                        event.preventDefault();

                        var quantityElem = $(this).siblings('.quantity');
                        var unitPriceElem = $(this).parent().prev().find('span');
                        var valueElem = $(this).parent().next().find('.value');
                        var quantity = parseInt(quantityElem.text()) - 1;

                        if (quantity <= 0) {
                            var row = $(this).closest('tr');
                            var menuIndex = row.index();
                            row.remove();
                            $('input[name="menuSheetDTOList[' + menuIndex + '].menuorderQuantity"]').remove();
                            $('input[name="menuSheetDTOList[' + menuIndex + '].AmountPrice"]').remove();
                        } else {
                            quantityElem.text(quantity);
                            var unitPrice = parseFloat(unitPriceElem.text());
                            valueElem.text((unitPrice * quantity).toFixed(2));

                            var menuIndex = $(this).closest('tr').index();
                            $('input[name="menuSheetDTOList[' + menuIndex + '].menuorderQuantity"]').val(quantity);
                            var hiddenAmountPrice = (unitPrice * quantity).toFixed(2);
                            $('input[name="menuSheetDTOList[' + menuIndex + '].AmountPrice"]').val(hiddenAmountPrice);
                        }

                        calculateTotalPoint();
                        calculateTotal();
                    });

                    $(".remove").on("click", function (event) {
                        event.preventDefault();

                        var row = $(this).closest('tr');
                        var menuIndex = row.index();
                        row.remove();
                        $('input[name="menuSheetDTOList[' + menuIndex + '].menuorderQuantity"]').remove();
                        $('input[name="menuSheetDTOList[' + menuIndex + '].AmountPrice"]').remove();

                        calculateTotalPoint();
                        calculateTotal();
                    });

                    calculateTotalPoint();
                    calculateTotal();
                }
            });

        });

    </script>
    <!--    메뉴카테고리/디테일메뉴 관련-->
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            let menuCategories = Array.from(document.querySelectorAll(".category-button"));
            menuCategories.forEach(button => {
                button.addEventListener('click', function () {
                    let categoryId = this.dataset.categoryId;
                    changeDetails(categoryId);
                });
            });

            let firstCategoryId = menuCategories[0].dataset.categoryId;
            changeDetails(firstCategoryId);
        });

        function changeDetails(categoryId) {
            let menuCards = Array.from(document.querySelectorAll(".card"));

            menuCards.forEach(card => {
                let cardCategory = card.dataset.category;

                if (cardCategory === categoryId) {
                    card.style.display = "flex";
                    card.style.flexDirection = "row";
                    card.style.marginBottom = "20px";
                    card.style.backgroundColor = "#fff";
                    card.style.borderRadius = "10px";
                    card.style.boxShadow = "0px 2px 4px rgba(0, 0, 0, 0.1)";
                } else {
                    card.style.display = "none";
                }
            });
        }
    </script>
    <!--    쿠폰 모달 관련-->
    <script>
        function showCouponModal(event) {
            event.preventDefault();

            $.ajax({
                url: "/member/mypage/point1",
                type: "GET",
                success: function (data) {
                    $('#modalBody').html(data);
                    // Before attaching a new event handler, old one is removed
                    $('#modalBody').off('click', 'button', usecoupon);
                    $('#modalBody').one('click', 'button', usecoupon);
                    $('#couponModal').modal('show');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error loading coupon modal: " + textStatus);
                }
            });
        }

        function usecoupon(event) {
            event.preventDefault();
            const couponId = $(this).attr('id');

            $.ajax({
                url: '/usecoupon/' + couponId,
                type: 'GET',
                success: function (response) {
                    const couponName = response.couponName;
                    const couponPrice = response.couponPrice;

                    // Set the couponId to the hidden input field
                    $('#couponIdx').val(couponId);

                    let newTableRow = `
            <tr>
                <td>쿠폰명 : ${couponName}</td>
                <td id="discount">할인액 : ${couponPrice}</td>
            </tr>
            `;
                    $(".discountTable table").append(newTableRow);

                    $('#couponModal').modal('hide');
                    calculateTotal();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error(textStatus);
                }
            });
        }


    </script>
    <!--    랜덤CD부여-->
    <script>
        function generateRandomString(length) {
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            let result = '';
            for (let i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * characters.length));
            }
            return result;
        }

        const randomCd = generateRandomString(30);
        document.getElementById("randomCd").value = randomCd.substring(0, 30);
    </script>
</div>
</body>
</html>