
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypagelayout}">
<head>
    <title>상담 문의</title>



</head>
<body>
<div layout:fragment="title"><h1><strong>상담 문의</strong></h1></div>
<div layout:fragment="content">

    <div id="form-container">
        <div id="form-inner-container">
            <!-- Sign up form -->
            <div id="sign-up-container">
                <h3>문의내역</h3>
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>담당자</th>
                        <th>메시지</th>
                        <th>Email</th>
                        <th>Date</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>담당자</td>
                        <td>문의하신****에 문의에 대한것입니다.</td>
                        <td><a href="mailto:jmatman@stewart.com">jmatman@stewart.com</a></td>
                        <td>01/13/1979</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>




</body>
</html>
