
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypagelayout}">
<head>
    <title>포인트내역</title>



</head>
<body>
<div layout:fragment="title"><h1><strong>포인트내역</strong></h1></div>
<div layout:fragment="content">
    <div id="form-container">
        <div id="form-inner-container">
            <!-- Sign up form -->
            <div id="sign-up-container">
                <h3>포인트사용,적립내역</h3>
                <table>
                    <thead>
                    <tr>
                        <th>상품명</th>
                        <th>적립,사용</th>
                        <th>사용처</th>
                        <th>날짜</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>James</td>
                        <td>Matman</td>
                        <td>(713) 123-8965</td>
                        <td>01/13/1979</td>
                    </tr>
                    <tr>
                        <td>Johnny</td>
                        <td>Smith</td>
                        <td>(713) 584-9614</td>
                        <td><a href="mailto:jsmith@stewart.com">jsmith@stewart.com</a></td>
                        <
                    </tr>
                    <tr>
                        <td>Susan</td>
                        <td>Johnson</td>
                        <td>(713) 847-1124</td>
                        <td><a href="mailto:sjohnson@stewart.com">sjohnson@stewart.com</a></td>

                    </tr>
                    <tr>
                        <td>Tracy</td>
                        <td>Richardson</td>
                        <td>(713) 245-4821</td>
                        <td><a href="mailto:trichard@stewart.com">trichard@stewart.com</a></td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>




</body>
</html>
