
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypagelayout}">
<head>
    <title>개인정보 수정</title>



</head>
<body>
<div layout:fragment="title"><h1><strong>문의</strong></h1></div>
<div layout:fragment="content">
    <div id="form-container">
        <div id="form-inner-container">
            <!-- Sign up form -->
            <div id="sign-up-container">
                <h3>운영자 각하께 문의 올리기</h3>
                <form method="post" action="/member/memberpage/question">

                    <input type="hidden" name="memberIdx" th:value="${memberDTO.memberIdx}">
                    <input type="hidden" name="memberName" th:value="${memberDTO.memberName}">

                    <label>제목</label>
                    <input type="text" name="qnaTitle">

                    <label>내용</label>
                    <input type="text" name="qnaContent">

                    <button type="submit" class="btn--blue">송신</button>

                </form>
            </div>

        </div>
    </div>
</div>




</body>
</html>
