<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/memberread}">

<head>
    <title>매장 안내</title>
    <style>
        .darkroom {
            background-color: #696969; /* 원하는 어두운 색으로 설정 */

        }
        .normalroom {
            background-color: #ffffff; /* 원하는 밝은 색으로 설정 */
            /* search-container를 flex로 설정하고 요소들을 중앙에 정렬합니다. */
            .search-container {
                padding-top: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;  /* 추가로 요소들 사이의 간격을 조정했습니다. */
            }
            /* .search-inputs와 .search-box를 flex로 설정하고 요소들을 가로로 정렬합니다. 이들의 너비는 상위 컨테이너인 search-container의 50%입니다. */
            .search-inputs, .search-box {
                display: flex;
                width: 50%;
                justify-content: space-between;
                gap: 0;  /* 요소들 사이의 간격을 없애기 위해 0으로 설정합니다. */
                align-items: center; /* 이 코드를 추가하여 요소들이 동일한 기준선에 정렬되게 합니다. */

                /* 각 input, select, button 요소의 높이를 50px로 설정하고, 모서리를 각진 형태로 만듭니다. */
                select, input[type="date"], .form-control, .btn {
                    height: 100px;
                    border-radius: 0;
                    border: none; /* 추가하면 브라우저 기본 스타일을 제거하여 높이를 정확히 조정할 수 있습니다. */
                    box-sizing: border-box; /* 이건 전체 너비를 정확하게 계산합니다(패딩과 경계 포함). */
                }
            }

            /* .search-box 내의 input 요소와 button 요소에 flex 속성을 추가해 일관된 너비를 유지합니다. */
            .search-box .form-control {
                flex: 8;

            }
        }
        .select-box {
            border: 1px solid #ccc;
            width: 200px;
            padding: 10px;
            border-radius: 5px;
            position: relative;
            cursor: pointer;
        }

        .selected {
            padding: 5px 0;
        }

        .options {
            display: none;
            position: absolute;
            top: 40px;
            left: 0;
            width: 100%;
            border: 1px solid #ccc;
            background-color: #fff;
            border-radius: 5px;
            z-index: 10;
        }

        .option {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            cursor: default;
        }

        .option:hover {
            background-color: #f0f0f0;
        }

        button.minus, button.plus {
            font-weight: bold;
            color: #333;
            width: 30px;
            height: 30px;
            border: none;
            background-color: #f0f0f0;
            cursor: pointer;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        button.minus:hover, button.plus:hover {
            background-color: #ddd;
        }

        .label {
            flex-grow: 1;
            text-align: center;
        }
    </style>

</head>

<body>
<div layout:fragment="content">



    <div id="section1" class="container-fluid pt-5">
        <!-- 매장 정보 -->
        <div class="container" style="margin: auto; width: 80%;">
            <div class="card shadow">
                <div class="card-header py-3">
                    <div class="sub_title">
                        <h2 th:text="${storeDTO.storeName}">매장 안내 </h2>
                        <p>Store information</p>
                        <span th:text="${storeDTO.storeSummary}">동해와 설악의 청정한 자연과 스페인의 건축 미학이 깃든 리조트의 만남!<br>
자연과 하나되는 고품격 리조트에서 지중해 스페인의 멋과 낭만을 경험할 수 있을 것 입니다.<br>
또한 고객의 마음을 헤아리는 품격 높은 서비스로 달콤하고 아늑한 휴식을 즐길 수 있을 것 입니다.
                        <br>
                    </span>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr class="row">
                            <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}%5c${storeDTO.storeimgName}|"
                                 width="1000" height="600">
                        </tr>
                        <tr class="row">
                            <td class="col-2 ">영업시간</td>
                            <td class="col-9">
                                <div>영업 시작: <input type="time" value="${storeDTO.storeOpenTime}" disabled> ~ 영업 끝:
                                    <input type="time" value="${storeDTO.storeCloseTime}" disabled></div>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-2">휴무일</td>
                            <td class="col-9" th:text="${storeDTO.storeRestDay}">토요일</td>
                        </tr>
                        <tr class="row">
                            <td class="col-2">휴무일내용</td>
                            <td class="col-9" th:text="${storeDTO.storeRestDay}">가족 행사로 인한 휴무</td>
                        </tr>
                        <tr class="row">
                            <td class="col-2">편의시설</td>
                            <td class="col-9" th:text="${storeDTO.facilities}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- 매장 상세 정보 -->
    </div>
    <p></p>
    <div class="container" style="margin: auto; width: 80%;">
        <div style="display: flex; justify-content: space-between; margin: auto; width: 100%;">
            <div style="flex-basis: 33%; padding-right: 10px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                <div>
                    <h2 style="margin: 0; padding: 16px; background-color: #f8f9fa;">주변 명소</h2>
                    <div>
                        <div style="border-bottom: 1px solid #f8f9fa; padding: 16px;">
                            <h4 style="margin: 0; font-weight: 700;" id="place-name">장소 이름</h4>
                            <p style="margin: 8px 0 0;" id="place-addr">상세 설명..</p>
                            <p style="margin: 8px 0 0;" id="place-tel">전화번호....</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="map" style="flex-basis: 67%; height: 600px;"></div>
        </div>
    </div>
    <script>
        var imgNum = 0;
        var carouselItemId = null;
    </script>

    <div id="section3" class="container-fluid pt-5">

        <div class="container" style="margin: auto; width: 80%;">
            <div class="card" style="width: 100%; max-width: 100%; margin-bottom: 20px; background-color: #fff;
            border-radius: 10px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);"
                 th:each="roomTypeListView : ${roomTypeList}">

                <div style="display: flex;">
                    <!-- 왼쪽 이미지 -->
                    <div th:id="'carousel' + ${roomTypeListView.roomIdx}" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-inner">

                            <div th:each="roomImageListView : ${roomImageList}" th:if="${roomImageListView.roomImageType == roomTypeListView.roomType}">

                                <div th:attr="class=${roomImageListView.roomImageMain == 1 ? 'carousel-item active' : 'carousel-item'}">
                                    <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}%5c${roomImageListView.imgName}|" width="700" height="400" alt="Slide"/>
                                </div>

                                <div th:attr="class=${roomImageListView.roomImageType}">
                                    <a class="carousel-control-prev" th:href="'#carousel' + ${roomTypeListView.roomIdx}" role="button" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" th:href="'#carousel' + ${roomTypeListView.roomIdx}" role="button" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- 오른쪽 정보 -->
                <div style="flex: 1; padding: 20px; display: flex; flex-direction: column; justify-content: space-between;">
                    <p style="margin: 0; font-size: 16px; text-align: right; font-weight: bold;"
                       th:text="${roomTypeListView.roomType}"></p>
                </div>

            </div>
        </div>

    </div>

    <p></p>



    <div id="section2" class="container-fluid pt-5">
        <!-- 매장 정보 -->
        <div class="container" style="margin: auto; width: 80%;">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h3>조회</h3>
                </div>
                <div class="card-body">
                    <form id="emptyRoomForm">
                        <table style="width: 100%;">

                            <tbody>
                            <tr>
                                <td class="col-1" style="text-align: center;">
                                    체크인 :
                                </td>
                                <td class="col-3">
                                    <input type="date" name="startDate" style=" width:300px; border-radius: 10px; height: 50px; padding-top: 5px; position: relative;"  id="startDate" >
                                </td>
                                <td class="col-1" style="text-align: center;">
                                    체크아웃 :
                                </td>
                                <td class="col-3" >
                                    <input type="date" name="endDate"  style=" width:300px; border-radius: 10px; height: 50px; padding-top: 5px; position: relative;"  id="endDate" >
                                </td>
                                <input type="hidden" id="isoStartDate" name="reservationDateCheckin">
                                <input type="hidden" id="isoEndDate" name="reservationDateCheckout">
                                <input type="hidden" id="storeIdx" name="storeIdx" th:value="${storeDTO.storeIdx}">
                                <td class="col-3">
                                    <button class="btn btn-primary" type="submit" style=" margin-top:50px; margin-bottom:50px; margin-left:100px;  white-space: nowrap; ">조회하기</button>
                                </td>
                            </tr>


                            </tbody>
                                <tr>

                            </tr>
                        </table>
                    </form>


                    <div class="table-responsive" id="emptyRoomSearchResult">

                        <form action="/member/memberpage/paypage" method="post" id="reservationForm">

                            <input type="hidden" id="reservationDateCheckinResult" name="reservationDateCheckin">
                            <input type="hidden" id="reservationDateCheckOutResult" name="reservationDateCheckout">
                            <input type="hidden" name="storeIdx" th:value="${storeDTO.storeIdx}">
                            <input type="hidden" name="memberIdx" th:value="${memberDTO.memberIdx}">
                            <input type="hidden" name="memberName" th:value="${memberDTO.memberName}">
                            <input type="hidden" name="roomOrderType" id="selectedRoomOrderType"></td>
                            <input type="hidden" name="roomIdx" id="selectedRoomIdx">
                            <input type="hidden" name="roomPrice" id="selectedRoomOrderPrice">
                        <table class="table body">

                            <thead>
                            <tr>
                                <th colspan="3">조회결과</th>
                            </tr>
                            <tr>
                                <td class="col-2" style="text-align: center;">
                                    투숙인원 :
                                </td>
                                <td>
                                    <body>
                                    <div class="select-box" onclick="toggleOptions()">
                                        <div class="selected">선택</div>
                                        <div class="options">
                                            <div class="option">
                                                <i class="fa-solid fa-user"></i>
                                                <button class="minus" onclick="handleMinusClick(event, '성인')">-</button>
                                                <span class="label">성인</span>
                                                <button class="plus" onclick="handlePlusClick(event, '성인')">+</button>
                                            </div>
                                            <div class="option">
                                                <button class="minus" onclick="handleMinusClick(event, '아동')">-</button>
                                                <span class="label">아동</span>
                                                <button class="plus" onclick="handlePlusClick(event, '아동')">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </thead>

                            <tbody id="emptyRoomResultTable">


                            </tbody>

                        </table>

                        </form>

                    </div>



                </div>
            </div>
        </div> <!-- 매장 상세 정보 -->
    </div>
    <p></p>


    <div id="roomImageModal" class="modal">
        <!-- 모달 내용 -->
        <div class="modal-content">
            <p>모달 내용을 여기에 넣으세요.</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/hotel.js"></script>
    <script>
        function toggleOptions() {
            const options = document.querySelector('.options');
            options.style.display = options.style.display === 'block' ? 'none' : 'block';
        }

        function handleMinusClick(event, label) {
            event.stopPropagation(); // 이벤트 전파 방지
        }

        function handlePlusClick(event, label) {
            event.stopPropagation(); // 이벤트 전파 방지

        }

        document.addEventListener('click', function(event) {
            const selectBox = document.querySelector('.select-box');
            const options = document.querySelector('.options');
            if (!selectBox.contains(event.target)) {
                options.style.display = 'none';
            }
        });
    </script>
    <script>


        //빈 방 찾기
        $('#emptyRoomForm').on('submit', function (event) {

            //폼 제출시 페이지 리로드 등을 방지하고 자바스크립트를 실행하기 위해 추가
            event.preventDefault();


            //필요한 값을 searchDTO에 담아서 보냄
            var searchDTO = {
                reservationDateCheckin: $('#isoStartDate').val(),
                reservationDateCheckout: $('#isoEndDate').val(),
                storeIdx: $('#storeIdx').val()
            };

            //빈 객실 찾는 ajax 실행
            hotel.searchEmptyRoom(searchDTO);


        });


        //날짜를 숫자로 변환
        document.getElementById("startDate").addEventListener("change", function () {

            var originalDate = this.value;
            var numericDate = originalDate.replace(/-/g, '');

            document.getElementById("isoStartDate").value = numericDate;
            // document.getElementById("isoStartDate2").value = numericDate;

            console.log(numericDate);
            // console.log(document.getElementById("isoStartDate2").value);
        });

        document.getElementById("endDate").addEventListener("change", function () {

            var originalDate = this.value;
            var numericDate = originalDate.replace(/-/g, '');

            document.getElementById("isoEndDate").value = numericDate;
            // document.getElementById("isoEndDate2").value = numericDate;
        });


    </script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bd90249e2dbb2fcc6c57d447c2e9f414&libraries=services,clusterer,drawing"></script>

    <script th:inline="javascript">
        let storeAddr = /*[[${storeDTO.storeAddr}]]*/ '제주특별자치도 제주시 첨단로 242';
        let storePhone = /*[[${storeDTO.storeTel}]]*/ '010-1111-1111';
        let storeName = /*[[${storeDTO.storeName}]]*/ '쓰레기매장';
        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(storeAddr, function(result, status) {
            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {
                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                    mapOption = {
                        center: coords, // 지도의 중심좌표 - 검색된 주소의 좌표
                        level: 3 // 지도의 확대 레벨
                    };

                // 지도를 생성합니다
                var map = new kakao.maps.Map(mapContainer, mapOption);

                // 검색된 주소의 마커와 인포윈도우 생성
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                var infowindow = new kakao.maps.InfoWindow({
                    content: `<div style="width:150px;text-align:center;padding:6px 0;">${storeName}</div>`
                });
                infowindow.open(map, marker);

                // 장소 검색 객체를 생성합니다
                var ps = new kakao.maps.services.Places();

                // 카테고리(관광명소)를 검색합니다
                ps.categorySearch('AT4', function (data, status, pagination) {
                    if (status === kakao.maps.services.Status.OK) {
                        data.slice(0, 5).forEach((place) => {
                            displayMarker(place);
                        });
                    }
                }, {location: coords});

                function displayMarker(place) {
                    // 마커를 생성하고 지도에 표시합니다
                    var placeMarker = new kakao.maps.Marker({
                        map: map,
                        position: new kakao.maps.LatLng(place.y, place.x)
                    });

                    // 마커에 클릭이벤트를 등록합니다
                    kakao.maps.event.addListener(placeMarker, 'click', function() {
                        document.getElementById('place-name').innerText = place.place_name; // 장소명
                        document.getElementById('place-addr').innerText = place.address_name; // 장소 주소
                        document.getElementById('place-tel').innerText = place.phone; // 장소 전화번호
                    });
                }

                // 페이지 로드 시 storeDTO.addr의 정보를 place-name 및 place-addr에 적용
                document.getElementById('place-name').innerText = storeAddr;
                document.getElementById('place-addr').innerText = coords;
                document.getElementById('place-tel').innerText = storePhone;

            }
        });
    </script>

</div>
<p></p>


</div>
</body>
</html>