<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/memberread}">

<head>
    <title>매장 안내</title>
    <style>
        /* search-container를 flex로 설정하고 요소들을 중앙에 정렬합니다. */
        .search-container {
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;  /* 추가로 요소들 사이의 간격을 조정했습니다. */
        }
        /* .search-inputs와 .search-box를 flex로 설정하고 요소들을 가로로 정렬합니다. 이들의 너비는 상위 컨테이너인 search-container의 50%입니다. */
        .search-inputs, .search-box {
            display: flex;
            width: 50%;
            justify-content: space-between;
            gap: 0;  /* 요소들 사이의 간격을 없애기 위해 0으로 설정합니다. */
            align-items: center; /* 이 코드를 추가하여 요소들이 동일한 기준선에 정렬되게 합니다. */

            /* 각 input, select, button 요소의 높이를 50px로 설정하고, 모서리를 각진 형태로 만듭니다. */
            select, input[type="date"], .form-control, .btn {
                height: 50px;
                border-radius: 0;
                border: none; /* 추가하면 브라우저 기본 스타일을 제거하여 높이를 정확히 조정할 수 있습니다. */
                box-sizing: border-box; /* 이건 전체 너비를 정확하게 계산합니다(패딩과 경계 포함). */
            }
        }

        /* .search-box 내의 input 요소와 button 요소에 flex 속성을 추가해 일관된 너비를 유지합니다. */
        .search-box .form-control {
            flex: 8;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <div id="section1" class="container-fluid pt-5">
        <!-- 매장 정보 -->
        <div class="container" style="margin: auto; width: 80%;">
            <div class="card shadow">
                <div class="card-header py-3">
                    <div class="sub_title">
                        <h2 th:text="${storeDTO.storeName}">매장 안내 </h2>
                        <p>Store information</p>
                        <span th:text="${storeDTO.storeSummary}">동해와 설악의 청정한 자연과 스페인의 건축 미학이 깃든 리조트의 만남!<br>
자연과 하나되는 고품격 리조트에서 지중해 스페인의 멋과 낭만을 경험할 수 있을 것 입니다.<br>
또한 고객의 마음을 헤아리는 품격 높은 서비스로 달콤하고 아늑한 휴식을 즐길 수 있을 것 입니다.
                        <br>
                    </span>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr class="row">
                            <img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}%5c${storeDTO.storeimgName}|"
                                 class="d-block w-100">
                        </tr>
                        <tr class="row">
                            <td class="col-2 ">영업시간</td>
                            <td class="col-9">
                                <div>영업 시작: <input type="time" value="${storeDTO.storeOpenTime}" disabled> ~ 영업 끝:
                                    <input type="time" value="${storeDTO.storeCloseTime}" disabled></div>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-2">휴무일</td>
                            <td class="col-9" th:text="${storeDTO.storeRestDay}">토요일</td>
                        </tr>
                        <tr class="row">
                            <td class="col-2">휴무일내용</td>
                            <td class="col-9" th:text="${storeDTO.storeRestDay}">가족 행사로 인한 휴무</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- 매장 상세 정보 -->
    </div>
    <p></p>
    <div id="section2" class="container-fluid pt-5">
        <!-- 룸 정보 -->
        <div class="container" style="margin: auto; width: 80%;">
            <div class="card" style="width: 100%; max-width: 100%; margin-bottom: 20px; background-color: #fff;
            border-radius: 10px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);" th:each="room : ${roomList}">
                <div style="display: flex;">
                    <!-- 왼쪽 이미지 -->
                    <div style="flex: 1;">
                        <img
                                th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}%5c${room.roomimgName}|"
                                style="width: 100%; height: auto; border-top-left-radius: 10px; border-bottom-left-radius: 10px;"/>
                    </div>

                    <!-- 가운데 텍스트 -->
                    <div style="flex: 3; padding: 20px;">

                        <p style="margin: 0; font-size: 16px; font-weight: bold;"
                           th:text="${room.roomName}">
                        </p>


                        <p style="margin: 10px 0 0; font-size: 14px;" th:text="${room.roomStatus}"></p>
                    </div>

                    <!-- 오른쪽 정보 -->
                    <div style="flex: 1; padding: 20px; display: flex; flex-direction: column; justify-content: space-between;">
                        <p style="margin: 0; font-size: 16px; text-align: right; font-weight: bold;"
                           th:text="${room.roomType}"></p>
                        <a th:href="@{'/member/memberpage/roomorder/'+${room.roomIdx}}">
                            <button style="background-color: lightblue; border: none; padding: 5px 10px; border-radius:
                        5px; color: white; font-weight: bold;">예약하기
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- 룸 -->
</div>
<p></p>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    var menuCateList = [
        {
            menuCateIdx: 1,
            detailMenuDTOList: [
                {
                    name: '메뉴 1-1',
                    image: 'https://via.placeholder.com/150',
                    price: '$10'
                },
                {
                    name: '메뉴 1-2',
                    image: 'https://via.placeholder.com/150',
                    price: '$20'
                },
                {
                    name: '메뉴 1-3',
                    image: 'https://via.placeholder.com/150',
                    price: '$30'
                },
            ],
        },
        {
            menuCateIdx: 2,
            detailMenuDTOList: [
                {
                    name: '메뉴 2-1',
                    image: 'https://via.placeholder.com/150',
                    price: '$10'
                },
                {
                    name: '메뉴 2-2',
                    image: 'https://via.placeholder.com/150',
                    price: '$20'
                },
                {
                    name: '메뉴 2-3',
                    image: 'https://via.placeholder.com/150',
                    price: '$30'
                },
            ],
        },
        {
            menuCateIdx: 3,
            detailMenuDTOList: [
                {
                    name: '메뉴 3-1',
                    image: 'https://via.placeholder.com/150',
                    price: '$10'
                },
                {
                    name: '메뉴 3-2',
                    image: 'https://via.placeholder.com/150',
                    price: '$20'
                },
                {
                    name: '메뉴 3-3',
                    image: 'https://via.placeholder.com/150',
                    price: '$30'
                },
            ]
        }
    ];

    function changeDetails(categoryIdx) {
        var selectedCate = menuCateList.find(function (m) {
            return m.menuCateIdx == categoryIdx;
        });

        var detailGroup = document.getElementById('details');
        detailGroup.innerHTML = '';

        selectedCate.detailMenuDTOList.forEach(function (menu) {
            var divRow = document.createElement('div');
            divRow.className = 'row mb-3';

            var div = document.createElement('div');
            div.className = 'card col-12';

            var divCardBody = document.createElement('div');
            divCardBody.className = 'card-body row';

            var divImgCol = document.createElement('div');
            divImgCol.className = 'col-2';

            var imgFood = document.createElement('img');
            imgFood.src = menu.image;
            imgFood.alt = 'food_image';
            imgFood.className = 'card-img-top';
            imgFood.style.height = '100px';

            divImgCol.appendChild(imgFood);

            var divDescCol = document.createElement('div');
            divDescCol.className = 'col-10';

            var h5 = document.createElement('h5');
            h5.textContent = menu.name;
            h5.className = 'card-title';

            var p = document.createElement('p');
            p.textContent = menu.price;
            p.className = 'card-text';

            divDescCol.appendChild(h5);
            divDescCol.appendChild(p);

            divCardBody.appendChild(divImgCol);
            divCardBody.appendChild(divDescCol);
            div.appendChild(divCardBody);
            divRow.appendChild(div);

            detailGroup.appendChild(divRow);
        });
    }

    // Set initial display
    document.addEventListener("DOMContentLoaded", function (event) {
        changeDetails(1);
    });

    // Additional code...
</script>
</div>
</body>
</html>