<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>팀이름</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <!--ajax-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
    <link rel="stylesheet" href="/yhh.css">
    <style>
        td, th {
            white-space: nowrap;
        }
        th {
            text-align: center; /* 가로 중앙 정렬 */
            vertical-align: middle; /* 세로 중앙 정렬 */
        }
    </style>
    <title>총판조직 관리</title>
</head>
<body id="page-top">
<div layout:fragment="content">
    <div class="card">
        <div class="card-header" style="margin: 50px 20px;">

            <h6><strong>비밀번호 변경</strong></h6>
            <form method="post" action="/admin/adminpage/pwchange">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>현재 비밀번호</th>
                            <td class="align-middle text-start">
                                <input type="text" th:value="${adminDTO.password}"  name="distName" style="width:200px;">
                            </td>
                        </tr>
                        <tr>
                            <th>새 비밀번호</th>
                            <td class="align-middle text-start">
                                <input type="text" th:value="${adminDTO.password}"   style="width:200px;">
                            </td>
                        </tr>
                        <tr>
                            <th>새 비밀번호 확인</th>
                            <td class="align-middle text-start">
                                <input type="text" th:value="${adminDTO.password}"    style="width:200px;">
                            </td>
                        </tr>
                        </thead>
                    </table>
                    <div style="text-align: right;">
                        <button type="submit"  class="btn text-white m-2" style="background-color: #36b9cc;">변경</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>