<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">

<head>
    <title>지사관리</title>
    <link rel="stylesheet" href="/yhh.css">
</head>

<body>
<div layout:fragment="content">
        <h4 class="card-title">총판장 관리</h4>
    <div class="card">
        <div class="card-body">
            <h4 style="color: #44454e">총판장 목록
                <div style="text-align:left;">
                    <button class="btn button" type="button" th:onclick="|location.href='@{/admin/admin/distchief/register}'|">신규등록</button>
                </div>
            </h4>
                <div class="table-responsive">
                <table class="table body">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>이름</th>
                        <th>전화번호</th>
                        <th>이메일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data:${list}">
                        <td th:text="${data.distChiefIdx}"></td>
                        <td th:text="${data.distChiefName}"></td>
                        <td th:text="${data.distChiefPhone}"></td>
                        <td th:text="${data.distChiefEmail}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>
