<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>지사관리</title>
    <link rel="stylesheet" href="/yhh.css">
</head>

<body>
<div layout:fragment="content">
        <h4 class="card-title">매장 관리</h4>
    <div class="card">
        <div class="card-body">
            <h4 style="color: #44454e">매장주 목록
                <div style="text-align:left;">
                    <button class="btn button" type="button" th:onclick="|location.href='@{/admin/distchief/manager/register}'|">신규등록</button>
                </div>
            </h4>
                <div class="table-responsive">
                <table class="table body">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>점장</th>
                        <th>매장</th>
                        <th>전화번호</th>
                        <th>이메일</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data:${list}">
                        <td th:text="${data.managerIdx}"></td>
                        <td th:text="${data.managerName}"></td>
                        <td>소속매장</td>
                        <td th:text="${data.managerPhone}"></td>
                        <td th:text="${data.managerEmail}"></td>

                        <td><button class="btn button" type="button" th:onclick="|location.href='@{'/admin/distchief/manager/delete/'+${data.managerIdx}}'|">삭제</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <ul class="mt-3 pagination">
                    <li class="page-item"><a class="page-link" th:href="@{/admin/distchief/manager/list(page=${prevPage})}"><</a></li>
                    <span th:each="page:${#numbers.sequence(startPage,endPage,1)}">
                        <li class="page-item active" th:if="${page == currentPage}">
                            <a class="page-link" href="#">[[${page}]]</a>
                        </li>
                        <li class="page-item" th:unless="${page == currentPage}">
                            <a class="page-link" th:href="@{/admin/distchief/manager/list(page=${page})}">[[${page}]]</a>
                        </li>
                    </span>
                    <li class="page-item"><a class="page-link" th:href="@{/admin/distchief/manager/list(page=${nextPage})}">></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>
