<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>

    <title>주문관리</title>
</head>

<body id="page-top">
<div layout:fragment="content">
    <div class="card">
        <div class="card-header" style="margin: 50px 20px;">
            <h4 class="card-title">(총판관리자의)주문관리</h4>
            <form method="post" th:action="@{/manager/order/list}">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th >총판조직</th>
                            <th class="align-middle text-start">  <!-- 수정된 부분 -->
                                <div class="d-inline-block">
                                    <select class="d-inline-block form-select form-select-sm" name="distName">
                                        <option value="">(선택)</option>
                                        <option th:each="distList : ${distList}" th:value="${distList.DistName}" th:text="${distList.DistName}"></option>
                                    </select>
                                </div>
                            </th>
                            <th>지사</th>
                            <th class="align-middle text-start">  <!-- 수정된 부분 -->
                                <div class="d-inline-block">
                                    <select class="d-inline-block form-select form-select-sm" name="branchName">
                                        <option value="">(선택)</option>
                                        <option th:each="branchList : ${branchList}" th:value="${branchList.branchName}" th:text="${branchList.branchName}"></option>
                                    </select>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>매장</strong></td>
                            <td class="align-middle text-start"> <!-- 수정된 부분 -->
                                <div class="d-inline-block">
                                    <select class="d-inline-block form-select form-select-sm">
                                        <option value="">(선택)</option>
                                        <option th:each="storeList : ${storeList}" th:value="${storeList.storeName}" th:text="${storeList.storeName}"></option>
                                    </select>
                                </div>
                            </td>
                            <td><strong>매장명</strong></td>
                            <td><input type="text" name="storeName"></td>
                        </tr>
                        <tr>
                            <td><strong>구분</strong></td>
                            <td>
                                <input type="radio" name="storeDTO.storePType" value="" checked>전체
                                <input type="radio" name="storeDTO.storePType" value="DIRECTSTORE">직영점
                                <input type="radio" name="storeDTO.storePType" value="FRANCHISEE">가맹점
                            </td>

                            <td><strong>제휴상태</strong></td>
                            <td>
                                <input type="radio" name="storeDTO.storeStatus" value="" checked>전체
                                <input type="radio" name="storeDTO.storeStatus" value="ON">제휴중
                                <input type="radio" name="storeDTO.storeStatus" value="OFF"> 제휴중지
                            </td>
                        </tr>


                        </tbody>

                    </table>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">조회</button>
                        <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/manager/order/register}'|">신규등록</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="card" style="margin: 50px 20px;">
        <div class="card-body">
            <h4 class="card-title">매장 목록</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>구분</th>
                        <th>총판조직명</th>
                        <th>지사명</th>
                        <th>매장명</th>
                        <th>지역</th>
                        <th>대표자명</th>
                        <th>대표이메일</th>
                        <th>주문현황보기</th>
                        <th>제휴상태</th>
                        <th>임시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data:${list}">
                        <td th:text="${data.orderIdx}"></td>

                        <td>
                            <th:block th:if="${data.storeDTO.storePType.name() == 'DIRECTSTORE'}"><span>직영점</span></th:block>
                            <th:block th:if="${data.storeDTO.storePType.name() == 'FRANCHISEE'}"><span>가맹점</span></th:block>
                        </td>

                        <td th:text="${data.distDTO.distName}"></td>
                        <td th:text="${data.branchDTO.branchName}"></td>
                        <td>
                            <a th:text="${data.storeDTO.storeName}" th:href="@{'/manager/order/'+${data.orderIdx}}" ></a>
                        </td>
                        <td>(지역)</td>
                        <td th:text="${data.storeDTO.storeChief}"></td>
                        <td th:text="${data.storeDTO.storeChiefEmail}"></td>
                        <td><button class="btn btn-primary" type="button" th:onclick="|location.href='@{#}'|">주문보기</button></td>

                        <td>
                            <th:block th:if="${data.storeDTO.storeStatus.name() == 'ON'}">
                                <span class="badge rounded-pill bg-primary">제휴중</span></th:block>
                            <th:block th:if="${data.storeDTO.storeStatus.name() == 'OFF'}">
                                <span class="badge rounded-pill bg-secondary">미제휴</span></th:block>
                        </td>

                        <td><a th:href="@{'/manager/order/modify/'+${data.orderIdx}}" >수정</a>
                            /<a th:href="@{'/manager/order/delete/'+${data.orderIdx}}">삭제</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-6">
            <ul class="mt-3 pagination">
                <li class="page-item"><a class="page-link" th:href="@{/manager/order/list(page=${prevPage})}"><</a></li>
                <span th:each="page:${#numbers.sequence(startPage,endPage,1)}">
                        <li class="page-item active" th:if="${page == currentPage}">
                            <a class="page-link" href="#">[[${page}]]</a>
                        </li>
                        <li class="page-item" th:unless="${page == currentPage}">
                            <a class="page-link" th:href="@{/manager/order/list(page=${page})}">[[${page}]]</a>
                        </li>
                    </span>
                <li class="page-item"><a class="page-link" th:href="@{/manager/order/list(page=${nextPage})}">></a></li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>
