<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}">

<head>
    <style>

    </style>
    <title>총판조직 관리</title>
    <script th:inline="javascript">
        function distChiefsearch() {
            var baseUrl = /*[[ @{/} ]]*/ '';
            var popupUrl = baseUrl + "admin/adminpage/distChiefsearch";  // Absolute URL
            var popupOption = "width=500, height=400"; // Popup window size
            // Open the popup window
            window.open(popupUrl, "총판장이름", popupOption);
            window.addEventListener('message', function(event){
                // Update the value of input element with the received value
                document.querySelector('input[name="distChief"]').value = event.data.distChief;
            });
        }
    </script>

    <script th:inline="javascript">
        /* 작업 후 메시지가 있는지 확인하고 팝업으로 표시합니다. */
        var processMessage = /*[[${processMessage}]]*/ null;
        if (processMessage) {
            alert(processMessage);
        }
    </script>
</head>

<body id="page-top">

<div layout:fragment="content">
    <div class="card">
        <div class="card-header" style="margin: 50px 20px;">
            <h4 class="card-title">총판 조직 관리</h4>
            <h6><strong>총판 조직 등록</strong></h6>
            <div class="table-responsive">
                <form class="user" th:action="@{/admin/adminpage/distregister}" method="post">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>매장총판명</th>
                            <td class="align-middle text-start">
                                <input type="text" value="" placeholder="매장총판명" name="distName" style="width:300px;">
                            </td>
                            <th>총판ID</th>
                            <td class="align-middle text-start">
                                <input type="text" value="" placeholder="총판ID" name="distChiefEmail" style="width:300px;">
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>총판장</th>
                            <td>

                                <input type="text" placeholder="총판장" name="distChief" style="width:300px;">
                                <button type="button" class="btn btn-dark ml-6" onclick="distChiefsearch()">검색</button>

                            </td>
                            <th>총판연락처</th>
                            <td><input type="text" placeholder="총판연락처" name="distTel" style="width:300px;"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: right;">
                        <button type="submit" class="btn text-white m-2" style="background-color: #36b9cc;">등록</button>
                        <button class="btn btn-secondary m-2" type="button" th:onclick="|location.href='@{/admin/adminpage/storedistmange}'|">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal backdrop initially hidden -->

    </div>



</body>
</html>
