
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypagelayout}">
<head>
    <title>이용 내역</title>
    <link rel="stylesheet" href="/yhh.css">
</head>
<body>
<div layout:fragment="title"><h1><strong>이용 내역</strong></h1></div>
<div layout:fragment="content">
    <div class="container-fluid" style="max-width: 80%;">
        <div class="card" style="max-width: 100%; padding-right: 20px;" >
            <div class="card-title"><h2>룸 예약 내역</h2></div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>
                                주문번호
                            </th>
                            <th>
                                매장명
                            </th>
                            <th>
                                룸 이름
                            </th>
                            <th>
                                체크인
                            </th>
                            <th>
                                체크아웃
                            </th>
                            <th>
                                예약일자
                            </th>
                            <th>
                                예약자명
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="room : ${roomOrders}">
                            <td th:text="${room.roomorderIdx}">
                                1
                            </td>
                            <td th:text="${store.storeName}">
                                롯데호텔 서울점
                            </td>
                            <td th:text="${room.roomorderIdx}">
                                괜찮은방
                            </td>
                            <td th:text="${room.reservationDateCheckin}">
                                2024-05-18
                            </td>
                            <td th:text="${room.reservationDateCheckout}">
                                2024-05-19
                            </td>
                            <td th:text="${room.regdate}">
                                2024-05-18
                            </td>
                            <td th:text="${memberDTO.memberName}">
                                철수
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" style="max-width: 100%; padding-right: 20px;">
            <div class="card-title">
                <h2>음식 주문 내역</h2>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                    <tr>
                        <th>
                            주문번호
                        </th>
                        <th>
                            주문 코드
                        </th>
                        <th>
                            주문 상태
                        </th>
                        <th>
                            총 가격
                        </th>
                        <th>
                            주문자명
                        </th>
                        <th>
                            요청사항
                        </th>
                        <th>
                            상세보기
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            485314c78ss574
                        </td>
                        <td>
                            주문완료
                        </td>
                        <td>
                            25000원
                        </td>
                        <td>
                            철수
                        </td>
                        <td>
                            리뷰이벤트 참여할게요 ^^
                        </td>
                        <td>
                            <button class="button btn-outline-info">상세보기</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>




</body>
</html>
