
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypagelayout}">
<head>
    <title>이용 내역</title>
    <link rel="stylesheet" href="/yhh.css">
</head>
<body>
<div layout:fragment="title"><h1><strong>이용 내역</strong></h1></div>
<div layout:fragment="content">

    <div id="form-container">
        <div id="form-inner-container">

            <div id="sign-up-container">
                <h3>이용내역</h3>
                <table>
                    <thead>
                    <tr>
                        <th colspan="2">제목</th>
                        <th>문의날짜</th>
                        <th>답변여부</th>
                        <th>상세보기</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr th:each="data:${list}" class="open-modal-btn" th:data-qna-content="${data.qnaContent}" th:data-qna-idx="${data.qnaIdx}">
                        <td colspan="2" th:text="${data.qnaTitle}"></td>

                        <td th:text="${#temporals.format(data.regdate, 'yyyy-MM-dd')}"></td>

                        <td>
                            <th:block th:if="${data.qnaStatus == 0}">
                                <span class="badge rounded-pill bg-secondary">미회신</span></th:block>
                            <th:block th:if="${data.qnaStatus == 1}">
                                <span class="badge rounded-pill bg-primary">답변완료</span></th:block>
                        </td>


                        <td>
                            <button class="btn btn-info open-modal-btn"
                                    th:data-qna-content="${data.qnaContent}"
                                    th:data-qna-title="${data.qnaTitle}"
                                    th:data-qna-answer="${data.qnaAnswer}"
                                    th:data-qna-idx="${data.qnaIdx}">
                                문의 확인
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>



            </div>

        </div>
    </div>


</div>




</body>
</html>
