<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypagelayout}">
<head>
    <title>이용 내역</title>
    <link rel="stylesheet" href="/yhh.css">
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid" style="max-width: 80%;">
<!--        <th:block th:if="${roomOrderDTO != null}">-->
<!--        <div class="card" style="max-width: 100%; padding-right: 20px;">-->
<!--            <div class="card-title">-->
<!--                <h3>현재 이용중</h3>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <table>-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>번호</th>-->
<!--                        <th>매장명</th>-->
<!--                        <th>룸 이름</th>-->
<!--                        <th>체크인</th>-->
<!--                        <th>예약일자</th>-->
<!--                        <th>예약자명</th>-->
<!--                        <th>       </th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                        <td th:text="${room.roomorderIdx}">1</td>-->
<!--                        <td th:text="${storeName}">롯데호텔 서울점</td>-->
<!--                        <td th:text="${roomName}">괜찮은방</td>-->
<!--                        <td th:text="${room.reservationDateCheckin}">2024-05-18</td>-->
<!--                        <td th:text="${#strings.substringBefore(room.regdate, 'T')}">2024-05-18</td>-->
<!--                        <td th:text="${memberDTO.memberName}"></td>-->
<!--                        <td> <a><button class="btn btn-primary btn-sm">후기 남기기</button></a></td>-->
<!--                    </tr>-->

<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--        <p></p>-->
<!--        </th:block>-->
        <div class="card" style="max-width: 100%; padding-right: 20px;">
            <div class="card-title">
                <h3 style="margin-left: 1px;">룸 예약 내역</h3>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                    <tr>
                        <th>주문번호</th>
                        <th>매장명</th>
                        <th>룸 이름</th>
                        <th>체크인</th>
                        <th>체크아웃</th>
                        <th>예약일자</th>
                        <th>예약자명</th>
                        <th>       </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="room : ${orderHistory.roomOrderDetailList}">
                        <td th:text="${room.roomorderIdx}">1</td>
                        <td th:text="${room.storeName}">롯데호텔 서울점</td>
                        <td th:text="${room.roomName}">괜찮은방</td>
                        <td th:text="${room.checkinTime}">2024-05-18</td>
                        <td th:text="${room.checkoutTime}">2024-05-18</td>
                        <td th:text="${#strings.substringBefore(room.regdate, 'T')}">2024-05-18</td>
                        <td th:text="${memberDTO.memberName}">철수</td>
                        <td>
                            <button th:attr="onclick='openWindow('+${room.storeIdx}+');'" class="btn btn-primary btn-sm">리뷰 남기기</button>                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p></p>
        <div class="card" style="max-width: 100%; padding-right: 20px;">
            <div class="card-title">
                <h3 style="margin-left: 1px;">메뉴 주문 내역</h3>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                    <tr>
                        <th>주문번호</th>
                        <th>주문 코드</th>
                        <th>주문 상태</th>
                        <th>총 가격</th>
                        <th>주문자명</th>
                        <th>요청사항</th>
                        <th>주문 날짜</th>
                        <th>상세보기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="menu : ${orderHistory.menuOrderList}">
                        <td th:text="${menu.menuorderIdx}">1</td>
                        <td th:text="${menu.menuorderCd}">485314c78ss574</td>
                        <td th:switch="${menu.orderState}">
                            <span th:case="'0'">결제완료</span>
                            <span th:case="'1'">조리완료</span>
                            <span th:case="'2'">배달완료</span>
                            <span th:case="'3'">결제취소</span>
                        </td>
                        <td th:text="${menu.total}">총 금액</td>
                        <td th:text="${memberDTO.memberName}">철수</td>
                        <td th:text="${menu.orderRequest}">리뷰이벤트 참여할게요 ^^</td>
                        <td th:text="${#strings.substringBefore(menu.regdate, 'T')}">2024-05-18</td>
                        <td>
                            <button type="button" class="btn btn-outline-info" th:data-target="'#details-' + ${menu.menuorderIdx}">상세보기</button>
                        </td>
                    </tr>
                    <tr th:each="menu : ${orderHistory.menuOrderList}" th:id="'details-' + ${menu.menuorderIdx}" style="display: none;">
                        <td colspan="8">
                            <table>
                                <thead>
                                <tr >
                                    <th>메뉴명</th>
                                    <th>단일 가격</th>
                                    <th>갯수</th>
                                    <th>총 가격</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="sheet : ${menu.menuSheetList}">
                                    <td th:text="${sheet.menuorderName}"></td>
                                    <td th:text="${sheet.menuorderPrice}"></td>
                                    <td th:text="${sheet.menuorderQuantity}"></td>
                                    <td th:text="${sheet.amountPrice}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".btn-outline-info").click(function() {
                // 현재 선택한 섹션을 제외하고 모든 상세 정보를 숨깁니다.
                var targetId = $(this).attr('data-target');
                $("tr[id^='details-']").not(targetId).hide();

                // 상세 정보 섹션의 위치를 설정합니다.
                var currentRow = $(this).closest('tr');
                $(targetId).insertAfter(currentRow).toggle();
            });
        });
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function openWindow(storeIdx) {
            var url = '/review/register/' + storeIdx;
            var width = window.innerWidth * 0.4;
            var height = window.innerHeight * 0.4;
            window.open(url, '_blank', 'width=' + width + ',height=' + height);
        }
        /*]]>*/
    </script>
</div>
</body>
</html>
