
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypagelayout}">
<head>
    <title>개인정보 수정</title>



</head>
<body>
<div layout:fragment="title"><h1><strong>개인정보</strong></h1></div>
<div layout:fragment="content">
    <div id="form-container">
        <div id="form-inner-container">
            <!-- Sign up form -->
            <div>
                <h3>회원정보</h3>
                <form>
                    <label>이름</label>
                    <input type="text" th:value="${memberDTO.memberName}" readonly="readonly">

                    <label>아이디</label>
                    <input type="text" th:value="${memberDTO.memberEmail}" readonly="readonly">


                    <div>
                        <button type="button" class="btn-0" style="border-radius: 10px; background:#ffffff" th:onclick="|location.href='@{/member/mypage/infoupdate}'|">회원정보 수정</button>
                    </div>

                    <div>
                        <button type="button" class="btn-0" style="border-radius: 10px; background:#ffffff" th:onclick="|location.href='@{/member/mypage/withdraw}'|">회원 탈퇴</button>
                    </div>
                    <div>
                        <button type="button" class="btn-0"  style="border-radius: 10px; background:#ffffff" th:onclick="|location.href='@{/member/mypage/pwchange}'|">비밀번호 수정</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




</body>
</html>
