
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypagelayout}">
<head>
    <title>개인정보 수정</title>



</head>
<body>
<div layout:fragment="title"><h1><strong>개인정보</strong></h1></div>
<div layout:fragment="content">
    <div id="form-container">
        <div id="form-inner-container">
            <!-- Sign up form -->
            <div id="sign-up-container">
                <h3>회원정보</h3>
                <form>
                    <label for="name">이름</label>
                    <input type="text" name="name" id="name" placeholder="Name">

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email">

                    <label for="Nickname">닉네임</label>
                    <input type="text" name="Nickname" id="Nickname" placeholder="닉네임">

                    <label for="tel">연락처</label>
                    <input type="text" name="tel" id="tel" placeholder="연락처">


                    <div>
                        <button type="submit" class="btn--blue">변경</button>
                        <button type="button" class="btn--purple" id="toggleSignIn">비밀번호 수정</button>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>




</body>
</html>
