
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypagelayout}">
<head>
    <title>포인트내역</title>



</head>
<body>
<div layout:fragment="title" ><h1 ><strong >포인트내역</strong></h1></div>
<div layout:fragment="content">
    <div id="form-container">
        <div id="form-inner-container">
            <!-- Sign up form -->
            <div id="sign-up-container">
                <h3>포인트사용,적립내역</h3>
                <table>
                    <thead>
                    <tr>
                        <th>적립명</th>
                        <th>적립액</th>
                        <th>적립,사용</th>
                        <th>날짜</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>비빔밥</td>
                        <td>15,000</td>
                        <td>+30(+파랑)-(빨강)</td>
                        <td>01/13/1979</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <p></p>
    <div>
        <div >
            <!-- Sign up form -->
            <div >
                <h3>쿠폰</h3>
                <table>
                    <thead>
                    <tr>
                        <th>쿠폰명</th>
                        <th>할인 가격</th>
                        <th>사용처</th>
                        <th>사용 여부</th>
                        <th>날짜</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>첫 가입 기념 쿠폰</td>
                        <td>5,000원 할인</td>
                        <td>메뉴 주문 시</td>
                        <td>미사용</td>
                        <td>2024-05-22</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>




</body>
</html>
