<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>삭제페이지</title>


</head>
<body>

<div layout:fragment="content">


ㅁㄴㅇㄴㅁㅇ


<script type="text/javascript" src="/js/hotel2.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    console.log("옴");
    $(document).ready(function() {

        hotel2.test();

    });


</script>

</div>

</body>
</html>
