<!-----------------------------------
프로그램명 : 매장별 회원관리 입력폼
작성일 : 2024-04-09
작성자 : 조영규
기  능 : 매장별 회원을 등록
작업내역 : 1. 입력폼(24-04-09)
         2. 입력테스트(24-04-10)
         3. 작업완료
----------------------------------->
<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>Register - Brand</title>
</head>

<body id="page-top">
<div layout:fragment="content">
    <h3 class="text-dark mb-4">수정</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1">
                <!---->
            </div>
            <div class="col-lg-10">
                <h5 class="text-dark mb-4">공지사항 수정</h5>
                <form th:action="@{/pointevent/update}" method="post" th:object="${pointeventDTO}">
                    <input type="hidden" name="pointEventIdx" th:field="*{pointEventIdx}" readonly>
                    <div class="row">
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">이벤트명</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="text" name="pointEventName" th:field="*{pointEventName}">
                        </div>
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">이벤트유형</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="text" name="pointEventType" th:field="*{pointEventType}">
                        </div>
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">대상매장</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="text" name="storeCd" th:field="*{storeCd}">
                        </div>
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">이벤트 시작일</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="date" name="eventStartDate"
                                   id="eventStartDate"
                                   max="2077-12-31"
                                   min="2020-01-01"
                                   value="2024-04-16">
                        </div>
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">이벤트 종료일</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="date" name="eventEndDate"
                                   id="eventEndDate"
                                   max="2077-12-31"
                                   min="2020-01-01"
                                   value="2024-04-16">
                        </div>
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">이벤트 포인트</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="number" name="eventPoint" th:field="*{eventPoint}">
                        </div>
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">회원별 설정(ALL,MEMBER)</div>
                        <div class="col-lg-3 p-1 text-black">
                            <select name="pointMemberType">
                                <option value="A">ALL</option>
                                <option value="M">MEMBER</option>
                            </select>
                        </div>
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">최소구매금액</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="number" name="minBuyMoney" th:field="*{minBuyMoney}">
                        </div>
                        <div class="col-lg-3 p-1 bg-gray-200 text-black">매장부담율</div>
                        <div class="col-lg-3 p-1 text-black">
                            <input type="number" name="shopPayRate" th:field="*{shopPayRate}">
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary">수정</button>
                        <button type="button" class="btn btn-secondary"
                                th:onclick="|location.href='@{/pointevent/{id}}'|">이전</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>