<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
  <title>매장관리</title>
  <link rel="stylesheet" href="/yhh.css">
</head>
<body>
<div layout:fragment="content">
  <div class="card" style="margin: 50px 20px;">
  <div class="card-body">
    <div style="color:#44454e; font-size: 25px; margin-bottom: 10px;">
      <h2 class="text-primary">메뉴 목록</h2>
    </div>
    <div class="table-responsive">
      <table class="table body" style="width: 100%;">
        <thead>
        <tr>
          <th>No</th>
          <th>매장명</th>
          <th>룸 이름</th>
          <th>주문코드</th>
          <th>주문액</th>
          <th>주문자</th>
          <th>주문일자</th>
          <th>상세보기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${menuOrderDetailList}">
          <td th:text="${order.menuorderIdx}"></td>
          <td th:text="${order.storeName}"></td>
          <td th:text="${order.roomName}"></td>
          <td th:text="${order.menuorderCd}"></td>
          <td th:text="${order.total}"></td>
          <td th:text="${order.memberName}"></td>
          <td th:text="${#strings.substringBefore(order.regdate, 'T')}"></td>
          <td>
            <button type="button" class="btn btn-outline-info" th:data-target="'#details-' + ${order.menuorderIdx}">상세보기
            </button>
          </td>
        </tr>
        <tr th:each="order : ${menuOrderDetailList}" th:id="'details-' + ${order.menuorderIdx}" style="display: none;">
          <td colspan="8" style="padding: 0;">
            <table style="width: 100%;">
              <thead>
              <tr>
                <th>상세메뉴 번호</th>
                <th>메뉴명</th>
                <th>단일 가격</th>
                <th>갯수</th>
                <th>총 가격</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="sheet : ${order.menuSheetDTOList}">
                <td th:text="${sheet.menuSheetIdx}"></td>
                <td th:text="${sheet.menuorderName}"></td>
                <td th:text="${sheet.menuorderPrice}"></td>
                <td th:text="${sheet.menuorderQuantity}"></td>
                <td th:text="${sheet.amountPrice}"></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $(".btn-outline-info").click(function(){
        //모든 상세 정보를 숨깁니다.
        $("tr[id^='details-']").hide();

        //상세정보 섹션을 위해 특정한 위치를 설정합니다.
        var detailSection = $(this).data('target');
        var currentRow = $(this).closest('tr');
        $(detailSection).insertAfter(currentRow).show();
      });
    });
  </script>
</div>
</body>
</html>