<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
<style>td, th {
    white-space: nowrap;
}

</style>
    <title>주문관리</title>
</head>

<body id="page-top">
<div layout:fragment="content">
    <div class="card">
        <div class="card-header" style="margin: 50px 20px;">
            <h4 class="card-title">주문번호조회</h4>
            <form method="post" action="/order/ordernumber">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th >총판조직</th>
                            <th class="align-middle text-start">  <!-- 수정된 부분 -->
                                <div class="d-inline-block">
                                    <select class="d-inline-block form-select form-select-sm">
                                        <option value="10" selected="">GGG호텔</option>
                                        <option value="25">3스타호텔</option>
                                        <option value="50">50</option>
                                        <option value="month">month</option>
                                    </select>
                                </div>
                            </th>
                            <th>지사</th>
                            <th class="align-middle text-start">  <!-- 수정된 부분 -->
                                <div class="d-inline-block">
                                    <select class="d-inline-block form-select form-select-sm">
                                        <option value="10" selected="">전체</option>
                                        <option value="25">3스타호텔</option>
                                        <option value="50">50</option>
                                        <option value="month">month</option>
                                    </select>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>매장</strong></td>
                            <td class="align-middle text-start"> <!-- 수정된 부분 -->
                                <div class="d-inline-block">
                                    <select class="d-inline-block form-select form-select-sm">
                                        <option value="10" selected="">bbb호텔</option>
                                        <option value="25">3스타호텔</option>
                                        <option value="50">50</option>
                                        <option value="month">month</option>
                                    </select>
                                </div>
                            </td>
                            <td><strong>매장명</strong></td>
                            <td><input type="text" name="" value=""></td>
                        </tr>
                        <tr>
                            <td><strong>주문번호</strong></td>
                            <td><input type="text" name="" value=""></td>
                            <td><strong>룸번호</strong></td>
                            <td><input type="text" name="" value=""></td>
                        </tr>
                        <tr>
                            <td style="max-width: 250px;"><strong>결제일시</strong></td>
                            <td><input type="text" name="" value="">
                                <div class="d-inline-block">
                                    <div class="d-inline-block">
                                        <select class="d-inline-block form-select form-select-sm">
                                            <option value="1month" selected="">1월</option>
                                            <option value="2month">2월</option>
                                            <option value="3month">3월</option>
                                            <option value="4month">4월</option>
                                            <option value="5month">5월</option>
                                            <option value="6month">6월</option>
                                            <option value="7month">7월</option>
                                            <option value="8month">8월</option>
                                            <option value="9month">9월</option>
                                            <option value="10month">10월</option>
                                            <option value="11month">11월</option>
                                            <option value="11month">12월</option>
                                        </select>
                                    </div>
                                    <div class="d-inline-block">
                                        <select class="d-inline-block form-select form-select-sm">
                                            <option value="1" selected="">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="1">10</option>
                                            <option value="1">11</option>
                                            <option value="1">12</option>
                                            <option value="1">13</option>
                                            <option value="1">14</option>
                                            <option value="1">15</option>
                                            <option value="1">16</option>
                                            <option value="1">17</option>
                                            <option value="1">18</option>
                                            <option value="1">19</option>
                                            <option value="1">20</option>
                                            <option value="1">21</option>
                                            <option value="1">22</option>
                                            <option value="1">23</option>
                                            <option value="1">24</option>
                                            <option value="1">25</option>
                                            <option value="1">26</option>
                                            <option value="1">27</option>
                                            <option value="1">28</option>
                                            <option value="1">29</option>
                                            <option value="1">30</option>
                                            <option value="1">31</option>
                                        </select>
                                    </div>
                                <span style="margin: 100px;">~</span>
                                </div>
                            <td><input type="text" name="" value="">
                                <div class="d-inline-block">
                                    <select class="d-inline-block form-select form-select-sm">
                                        <option value="1month" selected="">1월</option>
                                        <option value="2month">2월</option>
                                        <option value="3month">3월</option>
                                        <option value="4month">4월</option>
                                        <option value="5month">5월</option>
                                        <option value="6month">6월</option>
                                        <option value="7month">7월</option>
                                        <option value="8month">8월</option>
                                        <option value="9month">9월</option>
                                        <option value="10month">10월</option>
                                        <option value="11month">11월</option>
                                        <option value="11month">12월</option>
                                    </select>
                                </div>
                                <div class="d-inline-block">
                                    <select class="d-inline-block form-select form-select-sm">
                                        <option value="1" selected="">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="1">10</option>
                                        <option value="1">11</option>
                                        <option value="1">12</option>
                                        <option value="1">13</option>
                                        <option value="1">14</option>
                                        <option value="1">15</option>
                                        <option value="1">16</option>
                                        <option value="1">17</option>
                                        <option value="1">18</option>
                                        <option value="1">19</option>
                                        <option value="1">20</option>
                                        <option value="1">21</option>
                                        <option value="1">22</option>
                                        <option value="1">23</option>
                                        <option value="1">24</option>
                                        <option value="1">25</option>
                                        <option value="1">26</option>
                                        <option value="1">27</option>
                                        <option value="1">28</option>
                                        <option value="1">29</option>
                                        <option value="1">30</option>
                                        <option value="1">31</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                이번달<input type="radio" name="매장주아이디" value="value1">
                                3개월<input type="radio" name="매장주아이디" value="value1">
                                6개월<input type="radio" name="매장주아이디" value="value1">
                                1년<input type="radio" name="매장주아이디" value="value1">
                            </td>

                        </tr>
                        <tr>
                            <td>구분</td>
                            <td>
                                전체<input type="radio" name="매장주아이디" value="value1">
                                선결제<input type="radio" name="매장주아이디" value="value1">
                                후결제<input type="radio" name="매장주아이디" value="value1">
                                오프라인결제<input type="radio" name="매장주아이디" value="value1">
                            </td>
                            <td>상태</td>
                            <td>
                                전체<input type="radio" name="매장주아이디" value="value1">
                                미결제<input type="radio" name="매장주아이디" value="value1">
                                결제완료<input type="radio" name="매장주아이디" value="value1">
                                결제취소<input type="radio" name="매장주아이디" value="value1">
                            </td>
                        </tr>


                        </tbody>

                    </table>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">조회</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="card" style="margin: 50px 20px;">
        <div class="card-body">
            <h4 class="card-title">매장 목록</h4>
            <div style="text-align:right;">
                총 11건
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>총판조직명</th>
                        <th>지사명</th>
                        <th>매장명</th>
                        <th>룸번호</th>
                        <th>주문번호</th>
                        <th>결제구분</th>
                        <th>주문확정일시</th>
                        <th>결제금액(원)</th>
                        <th>상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data:${list}">
                        <td th:text="${data.id}">Cell 1</td>
                        <td th:text="${data.userid}">Cell 2</td>
                        <td th:text="${data.id}">Cell 2</td>
                        <td th:text="${data.id}">Cell 2</td>
                        <td th:text="${data.id}">Cell 2</td>
                        <td th:text="${data.id}">Cell 2</td>
                        <td th:text="${data.id}">Cell 2</td>
                        <td th:text="${data.id}">Cell 2</td>
                        <td th:text="${data.id}">Cell 2</td>
                        <td th:text="${data.id}">Cell 2</td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="col-md-6">
            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span
                            aria-hidden="true">«</span></a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span
                            aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>

</html>
