<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>지사관리</title>
    <link rel="stylesheet" href="/yhh.css">
</head>

<body id="page-top">
<div layout:fragment="content">
        <h4 class="card-title">지사 관리</h4>
    <div class="card">
        <div class="card-header">
            <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                지사목록
            </div>
            <form method="post" th:action="@{/distchief/branch/list}">
            <div class="table-responsive">
                <table class="table head">
                    <thead>
                    <tr>
                        <th>총판조직</th>
                        <td>(닫힌 총판명)</td>
                        <th>지사</th>
                        <td>지사셀렉트</td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th>지사명</th>
                        <td><input type="text" name="branchName"></td>
                        <th>지사장</th>
                        <td><input type="text" name="branchCheif"></td>
                    </tr>
                    </tbody>

                </table>
                <div style="text-align: center;">
                    <button type="submit" class="btn button">등록</button>
                    <button class="btn button" type="button" th:onclick="|location.href='@{/distchief/branch/register}'|">신규등록</button>
                </div>

            </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 style="color: #44454e">매장 목록</h4>
                <div class="table-responsive">
                <table class="table body">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>총판조직명</th>
                        <th>지사명</th>
                        <th>지사ID</th>
                        <th>지사장</th>
                        <th>연락처</th>
                        <th>매장수</th>
                        <th>삭제여부</th>
                    </tr>
                    </thead>
                    <tbody>
<!--                    <tr th:each="data:${list}">-->
<!--                        <td th:text="${data.storeIdx}"></td>-->

<!--                        <td>-->
<!--                        <th:block th:switch="${data.storeGrade.name()}">-->
<!--                            <span th:case="ONE">1성</span>-->
<!--                            <span th:case="TWO">2성</span>-->
<!--                            <span th:case="THREE">3성</span>-->
<!--                            <span th:case="FOUR">4성</span>-->
<!--                            <span th:case="FIVE">5성</span>-->
<!--                        </th:block>-->
<!--                        </td>-->

<!--                        <td>-->
<!--                            <th:block th:if="${data.storePType.name() == 'DIRECTSTORE'}"><span>직영점</span></th:block>-->
<!--                            <th:block th:if="${data.storePType.name() == 'FRANCHISEE'}"><span>가맹점</span></th:block>-->
<!--                        </td>-->

<!--                        <td>지역. 주소찾기 전체주소 부분. 다른사이트에서 떼오기</td>-->
<!--                        <td th:text="${data.storeCd}"></td>-->
<!--                        <td>-->
<!--                            <a th:text="${data.storeName}" th:href="@{'/distchief/store/'+${data.storeIdx}}" ></a>-->
<!--                        </td>-->
<!--                        <td th:text="${data.storeChiefEmail}"></td>-->
<!--                        <td th:text="${data.storeChief}"></td>-->
<!--                        <td th:text="${data.brandDTO.brandName}"></td>-->

<!--                        <td>-->
<!--                            <th:block th:if="${data.storeStatus.name() == 'ON'}">-->
<!--                                <span class="badge rounded-pill bg-primary">제휴중</span></th:block>-->
<!--                            <th:block th:if="${data.storeStatus.name() == 'OFF'}">-->
<!--                                <span class="badge rounded-pill bg-secondary">미제휴</span></th:block>-->
<!--                        </td>-->

<!--                        <td>-->
<!--                            <input class="form-check-input" type="checkbox" id="checkMain" name="checkMain">-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <input class="form-check-input" type="checkbox" id="checkBanner" name="checkBanner">-->
<!--                        </td>-->

<!--                        <td><a th:href="@{'/distchief/store/modify/'+${data.storeIdx}}" >수정</a>-->
<!--                            /<a th:href="@{'/distchief/store/delete/'+${data.storeIdx}}">삭제</a></td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>
