<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>지사관리</title>
    <link rel="stylesheet" href="/yhh.css">
</head>

<body id="page-top">

<div layout:fragment="content">
        <h4 class="card-title">지사 관리</h4>
    <div class="card">
        <div class="card-header">
            <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                지사등록
            </div>
            <form method="post" th:action="@{/distchief/branch/list}">
            <div class="table-responsive">

                총판코드,브랜드코드를 보내야함

                <table class="table head">
                    <thead>
                    <tr>
                        <th>총판조직</th>
                        <td>(현재 총판명)</td>
                        <th>브랜드</th>
                        <td>
                            <input type="text" th:value="${brandName}" name="brandName" readonly="true" style="background-color: #F0F0F0">
                            <button type="button" class="btn btn-primary" onclick="brandsearch()">찾기</button>
                        </td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <th>지사명</th>
                        <td><input type="text" name="branchName"></td>
                        <th>지사코드</th>
                        <td><input type="text" name="branchCode"></td>
                    </tr>
                    <tr>
                        <th>지사장</th>
                        <td>
                            <input type="text" th:value="${branchChiefName}" name="branchChiefName" readonly="true" style="background-color: #F0F0F0">
                            <button type="button" class="btn btn-primary" onclick="branchChiefsearch()">찾기</button>
                        </td>
                        <th>지사연락처</th>
                        <td><input type="text" name="branchTel"></td>
                    </tr>
                    </tbody>

                </table>
                <div style="text-align: center;">
                    <button type="submit" class="btn button">등록</button>
                </div>

            </div>
            </form>
        </div>
    </div>



    <script th:inline="javascript">
        function branchChiefsearch() {


            var popupBranchChief = "/window/branchchiefsearch";
            var popupOption = "width=500, height=400";

            window.open(popupBranchChief, "지사장 찾기", popupOption);
            window.addEventListener('message', function(event){

                document.querySelector('input[name="branchChiefName"]').value = event.data.branchChiefName;
            })
        }

        function brandsearch() {


            var popupBrand = "/window/brandsearch";
            var popupOption = "width=500, height=400";

            window.open(popupBrand, "브랜드 찾기", popupOption);
            window.addEventListener('message', function(event){

                document.querySelector('input[name="brandName"]').value = event.data.brandName;
            })
        }
    </script>


    <script th:inline="javascript">

        var processMessage = null;
        if (processMessage) {
            alert(processMessage);
        }
    </script>

</div>

</body>
</html>
