<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/manager}">
<head>
    <title>매장관리</title>
    <link rel="stylesheet" href="/yhh.css">
</head>

<body>
<div layout:fragment="content">


    <h4 class="card-title">[[${storeDTO.storeName}]] 매출 관리</h4>
    <div class="card">
        <div class="card-header">
            <form method="post" th:action="@{/admin/distchief/store/list}">
                <div class="table-responsive">
                    <table class="table head">

                        <thead>
                        <tr>
                            <th>상태</th>
                            <td>
                                <input type="radio" name="storeStatus" value="" checked>전체
                                <input type="radio" name="storeStatus" value="ON">오프라인결제
                                <input type="radio" name="storeStatus" value="OFF"> 후결제
                            </td>


                            <th>구분</th>
                            <td>
                                <input type="radio" name="storePType" value="" checked>전체
                                <input type="radio" name="storePType" value="DIRECTSTORE">결제완료
                                <input type="radio" name="storePType" value="FRANCHISEE">취소
                            </td>
                        </tr>
                        <tr>
                            <th>날짜</th>
                            <td>
                                <input type="date" name="startDate">
                                <input type="date" name="endDate">
                            </td>
                        </tr>
                        </thead>

                    </table>

                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">조회</button>
                        <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/admin/distchief/store/register}'|">신규등록</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="card" style="margin: 50px 20px;">
        <div class="card-body">
            <div style="color:#44454e; font-size: 25px; margin-bottom: 10px">
                결제 목록
            </div>
            <div class="table-responsive">
                <table class="table body">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>결제분류</th>
                        <th>결제명</th>
                        <th>결제자</th>
                        <th>전화번호</th>
                        <th>금액</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data:${list}">
                        <td th:text="${data.paymentIdx}"></td>

                        <td>
                            <th:block th:switch="${data.paymentType}">
                                <span th:case="room">객실 예약</span>
                                <span th:case="service">룸서비스</span>
                            </th:block>
                        </td>

                        <td th:text="${data.paymentName}"></td>
                        <td th:text="${data.memberName}"></td>
                        <td th:text="${data.memberPhone}"></td>
                        <td th:text="${data.paymentPrice}"></td>
                    </tr>
                    <tr>
                        <td>매출 합계</td>
                        <th:block th:each="sales : ${salesDTOS}">
                            <td th:text="${sales.year}"></td>
                            <td th:text="${sales.month}"></td>
                            <td th:text="${sales.totalSales}"></td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>


                <div class="d-flex justify-content-center">
                    <ul class="mt-3 pagination">
                        <li class="page-item"><a class="page-link" th:href="@{/admin/manager/storesales(page=${prevPage})}"><</a></li>
                        <span th:each="page:${#numbers.sequence(startPage,endPage,1)}">
                            <li class="page-item active" th:if="${page == currentPage}">
                                <a class="page-link" href="#">[[${page}]]</a>
                            </li>
                            <li class="page-item" th:unless="${page == currentPage}">
                                <a class="page-link" th:href="@{/admin/manager/storesales(page=${page})}">[[${page}]]</a>
                            </li>
                        </span>
                        <li class="page-item"><a class="page-link" th:href="@{/admin/manager/storesales(page=${nextPage})}">></a></li>
                    </ul>
                </div>


            </div>
        </div>
    </div>




    <script type="text/javascript" src="/js/hotel.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">

        const sales = [[${salesDTOS}]]

        for (i=0;i<sales.length;i++){
            console.log(sales.month);
            console.log(sales.year);
            console.log(sales.totalSales);
        }


    </script>

</div>
</body>

</html>