<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/yhh.css">
</head>
<body>

<div layout:fragment="content">


    <div class="container mt-3">
        <h2>매장이미지 테스트페이지</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>매장이미지</th>
                <th>매장명</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data:${list}">
                <td><img th:src="|https://${bucket}.s3.${region}.amazonaws.com/${folder}%5c${data.storeimgName}|" width="150" height="100"></td>
                <td th:text="${data.storeName}">12000</td>
            </tr>
            </tbody>
        </table>
    </div>


</body>
</html>