<!DOCTYPE html>
<html data-bs-theme="light" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<head>
    <title>매장 생성</title>
    <link rel="stylesheet" href="/yhh.css">
</head>

<body class="bg-gradient-primary">
<div layout:fragment="content">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">매장 등록</h4>
                            </div>
                            <form class="user" th:action="@{/admin/distchief/store/register}" method="post"  enctype="multipart/form-data">
                                <div class="row">
                                    <p></p>
                                    <table class="table my-0">
                                        <thead>
                                        <h4>총판</h4>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="col">총판이름 </td>
                                            <td class="col">
                                                <select class="form-control" name="distName" id="distSelect">
                                                    <option value="" selected>선택</option>
                                                    <th:block th:each="dist : ${distList}">
                                                        <option th:value="${dist.distName}"
                                                                th:text="${dist.distName}"
                                                                th:data-cd="${dist.distCd}">
                                                        </option>
                                                    </th:block>
                                                </select>
                                            </td>
                                            <td class="col">총판 코드</td>
                                            <td class="col"><input class="form-control" type="text"
                                                                   name="distCd"  id="distCd"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p></p>

                                    <table class="table my-0">
                                        <thead>
                                        <h4>브랜드</h4>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="col">브랜드 이름 </td>
                                            <td class="col">
                                                <select class="form-control" name="brandName" id="brandSelect">
                                                    <option value="" selected>선택</option>
                                                    <th:block th:each="brand : ${brandList}">
                                                        <option th:value="${brand.brandName}"
                                                                th:text="${brand.brandName}"
                                                                th:data-cd="${brand.brandCd}"></option>
                                                    </th:block>
                                                </select>
                                                <script>
                                                    if (selectedDist !== "전체") {
                                                        $('#brandSelect').prop('disabled', true);
                                                    }
                                                </script>
                                            </td>
                                            <td class="col">브랜드 코드</td>
                                            <td class="col"><input class="form-control" type="text"
                                                                   id="brandCd"
                                                                   name="brandCd"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <p></p>
                                    <table class="table my-0">
                                        <thead>
                                        <h4>매장</h4>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="col-2">매장명</td>
                                            <td class="col-4"><input class="form-control" type="text"
                                                                     name="storeName" required></td>
                                            <td class="col-2">매장코드</td>
                                            <td class="col-4"><input class="form-control" type="text"
                                                                     name="storeCd" required></td>
                                        </tr>
                                        <tr>

                                            <td class="col">매장주 성명</td>
                                            <td class="col">
                                                <div>
                                                    <select class="d-inline-block form-select form-select-sm" name="managerName" id="managerSelect">
                                                        <option value="" selected>선택</option>
                                                        <option th:each="managerList : ${managerList}"
                                                                th:value="${managerList.managerName}"
                                                                th:text="${managerList.managerName}"
                                                                th:data-cd="${managerList.managerId}"></option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="col-2">매장주 아이디</td>
                                            <td class="col-4"><input class="form-control" type="text" id="managerId"
                                                                     name="managerId" required></td>
                                        </tr>

                                        <tr>
                                            <td class="col-2">매장 연락처</td>
                                            <td class="col-4">
                                                <input class="tel-input" style="width: 25%;" type="text" name="tel1" maxlength="3" required> -
                                                <input class="tel-input" style="width: 30%;" type="text" name="tel2" maxlength="4" required> -
                                                <input class="tel-input" style="width: 30%;" type="text" name="tel3" maxlength="4" required>
                                                <input class="form-control" type="hidden" name="storeTel" required>
                                            </td>
                                            <td class="col-2">지역</td>
                                            <td class="col-4">
                                                <div class="row">
                                                    <input class="form-control" type="text" id="region"
                                                           name="regionCd" readonly required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">주소</td>
                                            <td class="col">매장 대표 이미지</td>
                                            <td class="col>"><input type="file" class="form-control" id="imgFile"
                                                                    name="imgFile" required></td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                [우편번호]
                                                <input class="form-control" type="text" id="postal_code"
                                                       name="storePostNo" readonly required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                [주소]
                                                <input class="form-control" type="text" id="address_kakao"
                                                       name="storeAddr" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                [상세주소]
                                                <input class="form-control" type="text" name="storeAddrDetail" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-2">매장 상세</td>
                                            <td class="col">
                                                 <textarea class="form-control" style="width: 100%; height: 100%;"
                                                           name="storeSummary" required></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-2">
                                                등급
                                            </td>
                                            <td class="col-4">
                                                <select class="form-select" name="storeGrade" required>
                                                    <option value="ONE">1성</option>
                                                    <option value="TWO">2성</option>
                                                    <option value="THREE">3성</option>
                                                    <option value="FOUR">4성</option>
                                                    <option value="FIVE">5성</option>
                                                </select>
                                            </td>
                                            <td class="col-2">카카오톡 전송 여부</td>
                                            <td class="col-4">
                                                <select  class="form-control" name="kakaoSendYn" required>
                                                    <option value="Y">Y</option>
                                                    <option value="N">N</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-2">
                                                제휴 여부
                                            </td>
                                            <td class="col-4">
                                                <select class="form-select" name="StoreStatus" required>
                                                    <option value="ON">제휴</option>
                                                    <option value="OFF">비제휴</option>
                                                </select>
                                            </td>
                                            <td class="col-2">가맹여부</td>
                                            <td class="col-4">
                                                <select  class="form-control" name="StorePType" required>
                                                    <option value="DIRECTSTORE">직영점</option>
                                                    <option value="FRANCHISEE">가맹점</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>매장 결제 타입</td>
                                            <td>
                                                <select  class="form-control" name="storePaymentType" required>
                                                    <option value="0">후불</option>
                                                    <option value="1">선불</option>
                                                </select>
                                            </td>
                                            <td>영업시간</td>
                                            <td>
                                                <div>영업 시작: <input type="time" name="storeOpenTime" required>
                                                    ~ 영업 끝:<input type="time" name="storeCloseTime" required>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                휴무일
                                            </td>
                                            <td>
                                                <input class="form-control" type="text"
                                                       name="storeRestDay" required>
                                            </td>
                                            <td>
                                                휴무일 상세
                                            </td>
                                            <td>
                                                <input class="form-control" type="text"
                                                       name="storeRestDetail" required>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-2">
                                                편의시설
                                            </td>
                                            <td class="col-10" colspan="3">
                                                <label>
                                                    <input type="checkbox" name="facilities" value="와이파이">와이파이
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="facilities" value="주차장">주차장
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="facilities"
                                                           value="피트니스">피트니스
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="facilities"
                                                           value="수영장">수영장
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="facilities"
                                                           value="사우나">사우나
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="facilities"
                                                           value="라운지">라운지
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="facilities"
                                                           value="카페">카페
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="facilities"
                                                           value="편의점">편의점
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="facilities"
                                                           value="조식 제공">조식 제공
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="facilities"
                                                           value="노래방">노래방
                                                </label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p></p>
                                <button class="btn btn-primary d-block btn-user w-100" type="submit">등록</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>

        //지역찾기 관련
        window.onload = function(){
            document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
                //카카오 지도 발생
                new daum.Postcode({
                    oncomplete: function(data) { //선택시 입력값 세팅
                        document.getElementById("address_kakao").value = data.address; // 주소 넣기
                        document.getElementById("postal_code").value = data.zonecode; // 우편번호 넣기
                        document.getElementById("region").value = data.sido; //시, 도
                        window.close();
                    }
                }).open();
            });
        }

        document.getElementById('distSelect').addEventListener('change', function() {
            let selectedOption = this.options[this.selectedIndex];
            document.getElementById('distCd').value = selectedOption.dataset.cd;
        });

        document.getElementById('brandSelect').addEventListener('change', function() {
            let selectedOption = this.options[this.selectedIndex];
            document.getElementById('brandCd').value = selectedOption.dataset.cd;
        });

        document.getElementById('managerSelect').addEventListener('change', function() {
            let selectedOption = this.options[this.selectedIndex];
            document.getElementById('managerId').value = selectedOption.dataset.cd;
        });


    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(function() {

            var selectedDist = sessionStorage.getItem('selectedDist');
            var selectedBrand = sessionStorage.getItem('selectedBrand');
            var selectedManager = sessionStorage.getItem('selectedManager');

            // 이전 검색 값이 있으면 해당 값으로 셀렉트박스 설정
            if (selectedDist) {
                $('#distSelect').val(selectedDist);
            }
            if (selectedBrand) {
                $('#brandSelect').val(selectedBrand);
            }
            if (selectedManager) {
                $('#managerSelect').val(selectedManager);
            }



            $('#distSelect').change(function() {

                $('#brandSelect').prop('disabled', false);

                var selectedDist = $('#distSelect').val();
                console.log(selectedDist);

                var selectedBrand = $('#brandSelect').val();
                console.log(selectedBrand);

                var selectedManager = $('#managerSelect').val();
                console.log(selectedManager);

                storeSelect.registerDistOfStore(selectedDist)


                sessionStorage.setItem('selectedDist', selectedDist);

            });


            $('#brandSelect').change(function() {

                var selectedBrand = $('#brandSelect').val();
                console.log(selectedBrand);

                sessionStorage.setItem('selectedBrand', selectedBrand);

            });

            $('#managerSelect').change(function() {

                sessionStorage.setItem('selectedManager', selectedManager);
            });

        });


        document.addEventListener('DOMContentLoaded', function() {
            var telInputs = document.querySelectorAll('.tel-input');
            var storeTelInput = document.querySelector('input[name="storeTel"]');

            telInputs.forEach(function(input) {
                input.addEventListener('input', function() {
                    var tel1 = document.querySelector('input[name="tel1"]').value;
                    var tel2 = document.querySelector('input[name="tel2"]').value;
                    var tel3 = document.querySelector('input[name="tel3"]').value;

                    storeTelInput.value = tel1 + tel2 + tel3;
                });
            });
        });


    </script>



</div>
</body>

</html>